# dataframe
* generiert einen Dataframe aus allen möglichen Input-Daten

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

JupyterLab Tools Version 0.21
found local libs at /Data_lab/libs
Start Time: 19:12:47

time: 246 ms (started: 2022-07-01 19:12:47 +00:00)

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 1.37 s (started: 2022-07-01 19:12:47 +00:00)

In [3]:
print(__name__)

__main__
time: 776 µs (started: 2022-07-01 19:12:48 +00:00)

## 0 und 1 Dimensionen

In [4]:
# 0 Dimensionen
a = pak.dataframe('jjj', test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe(None,  test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe([],    test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe([[1]], test=True) 
assert bpy.rtype(a) == ('DataFrame','Series', 'int64')

a = pak.dataframe( np.array([]), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe( pd.DataFrame(), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe( pd.Series(dtype='float64'), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

time: 12.3 ms (started: 2022-07-01 19:12:48 +00:00)

In [5]:
# 1 Dimension: 1 Zeile
inp = [ 'abcde', 'grfer', 'btjqw', 'bqwer' ]
out = pak.dataframe(inp, test=True, verbose=True) 
out

Input rtype=('list', 'str') shape=(4,)
gedreht=False Output rtype=('DataFrame', 'Series', 'str') shape=(1, 4)

       A      B      C      D
0  abcde  grfer  btjqw  bqwer

time: 5.92 ms (started: 2022-07-01 19:12:48 +00:00)

In [6]:
# 1 Dimension: 1 Zeile
inp = ( 'abcde', 'grfer', 'btjqw', 'bqwer' )
out = pak.dataframe(inp, test=True, verbose=True) 
out

Input rtype=('tuple', 'str') shape=(4,)
gedreht=True Output rtype=('DataFrame', 'Series', 'str') shape=(1, 4)

       A      B      C      D
0  abcde  grfer  btjqw  bqwer

time: 5.57 ms (started: 2022-07-01 19:12:48 +00:00)

In [7]:
# 1 Dimension = 1 Zeile
inp = {'AA': 1,
       'BB': 2,
       'CC': 3, }

out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('dict', 'int') shape=(3,)
gedreht=True Output rtype=('DataFrame', 'Series', 'int64') shape=(1, 3)

   AA  BB  CC
0   1   2   3

time: 4.71 ms (started: 2022-07-01 19:12:48 +00:00)

In [8]:
# Das kann auch zu Problemen führen
inp = pd.Series(range(1000))
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('Series', 'int') shape=(1000,)
gedreht=False Output rtype=('DataFrame', 'Series', 'int64') shape=(1, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999

time: 19.3 ms (started: 2022-07-01 19:12:48 +00:00)

In [9]:
# passt hier besser:
pd.DataFrame(inp)

       0
0      0
1      1
2      2
3      3
4      4
..   ...
995  995
996  996
997  997
998  998
999  999

[1000 rows x 1 columns]

time: 4.05 ms (started: 2022-07-01 19:12:48 +00:00)

## Zeilenweise

In [10]:
# 2 Dimensionen 
inp = [ list('Hallo'), 
        list('Welt!'), 
        list('Coole'),  
        list('Sache'),        
      ]
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('list', 'list', 'str') shape=(4, 5)
gedreht=False Output rtype=('DataFrame', 'Series', 'str') shape=(4, 5)

   A  B  C  D  E
0  H  a  l  l  o
1  W  e  l  t  !
2  C  o  o  l  e
3  S  a  c  h  e

time: 6.48 ms (started: 2022-07-01 19:12:49 +00:00)

In [11]:
# 2 Dimensionen
inp = [[1,2,3],[4,5,6], [7, 8, 9], [10, 11, 12]]
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('list', 'list', 'int') shape=(4, 3)
gedreht=False Output rtype=('DataFrame', 'Series', 'int64') shape=(4, 3)

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

time: 5.12 ms (started: 2022-07-01 19:12:49 +00:00)

In [12]:
# 3 Dimensionen
inp = [
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
]
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('list', 'list', 'list', 'int') shape=(5, 3, 3)
gedreht=False Output rtype=('DataFrame', 'Series', 'list') shape=(5, 3)

           A          B          C
0  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
1  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
2  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
3  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
4  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]

time: 11.1 ms (started: 2022-07-01 19:12:49 +00:00)

In [13]:
# 2 Dimensionen mit leeren Listen
inp = [
    [[], [], []],
    [[], [], []],
    [[], [], []],
    [[], [], []],
    [[], [], []],
]
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('list', 'list', 'list') shape=(5, 3)
gedreht=False Output rtype=('DataFrame', 'Series', 'list') shape=(5, 3)

    A   B   C
0  []  []  []
1  []  []  []
2  []  []  []
3  []  []  []
4  []  []  []

time: 9.48 ms (started: 2022-07-01 19:12:49 +00:00)

## Spaltenweise

In [14]:
# Tuple enthalten Spalten
Number = [1,2,3,4,6]
L1     = ['a','v','vvvv','e','Q']
L2     = [100, 55, 315, 68, 23]
L3     = ['18%','105%','56%','12%','4%']
inp = (Number, L1, L2, L3)

df = pak.dataframe(inp, test=True, verbose=True)
df

Input rtype=('tuple', 'list', 'int') shape=(4, 5)
gedreht=True Output rtype=('DataFrame', 'Series', 'int64') shape=(5, 4)

   A     B    C     D
0  1     a  100   18%
1  2     v   55  105%
2  3  vvvv  315   56%
3  4     e   68   12%
4  6     Q   23    4%

time: 6.66 ms (started: 2022-07-01 19:12:49 +00:00)

In [15]:
# dict of lists
inp = {'AA': [1,1,1,1],
       'BB': [2,4,8,16],
       'CC': [3,6,9,12],
       'DD': [4,4,4,4],
       'EE': [5,10,15,20],                
               }
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('dict', 'list', 'int') shape=(5, 4)
gedreht=True Output rtype=('DataFrame', 'Series', 'int64') shape=(4, 5)

   AA  BB  CC  DD  EE
0   1   2   3   4   5
1   1   4   6   4  10
2   1   8   9   4  15
3   1  16  12   4  20

time: 5.91 ms (started: 2022-07-01 19:12:49 +00:00)

In [16]:
# dict of tuples
inp = {'AA': (1,1,1,1   ),
       'BB': (2,4,8,16  ),
       'CC': (3,6,9,12  ),
       'DD': (4,4,4,4   ),
       'EE': (5,10,15,20),                
               }
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('dict', 'tuple', 'int') shape=(5, 4)
gedreht=True Output rtype=('DataFrame', 'Series', 'int64') shape=(4, 5)

   AA  BB  CC  DD  EE
0   1   2   3   4   5
1   1   4   6   4  10
2   1   8   9   4  15
3   1  16  12   4  20

time: 5.78 ms (started: 2022-07-01 19:12:49 +00:00)

In [17]:
# list of dicts
inp = [ {'AA': 1, 'BB': 2,  'CC': 3, },
        {'AA': 1, 'BB': 4,  'CC': 9, },
        {'AA': 1, 'BB': 16, 'CC': 81, } ]    
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('list', 'dict', 'int') shape=(3, 3)
gedreht=False Output rtype=('DataFrame', 'Series', 'int64') shape=(3, 3)

   AA  BB  CC
0   1   2   3
1   1   4   9
2   1  16  81

time: 5.2 ms (started: 2022-07-01 19:12:49 +00:00)

In [18]:
# dict of dicts
inp ={
 0: {'AA':  5, 'BB': 0, 'CC': 3, 'DD': 3},
 1: {'AA': 10, 'BB': 0, 'CC': 3, 'DD': 5},
 2: {'AA': 15, 'BB': 0, 'CC': 7, 'DD': 6}}
out = pak.dataframe(inp, test=True, verbose=True)
out

Input rtype=('dict', 'dict', 'int') shape=(3, 4)
gedreht=True Output rtype=('DataFrame', 'Series', 'int64') shape=(4, 3)

    0   1   2
AA  5  10  15
BB  0   0   0
CC  3   3   7
DD  3   5   6

time: 5.64 ms (started: 2022-07-01 19:12:49 +00:00)

In [19]:
# dict of mix
inp = { 'AA': np.array([-77] * 4, dtype='int32'),
        'BB': pd.Categorical(["test", "train", "test", "train"]),
        'CC': pd.Series(1, index=list(range(4)), dtype='float32'),
        'DD': 'foo', # test=False !!
      }
out = pak.dataframe(inp, test=False, verbose=True)
out

Input rtype=('dict', 'ndarray', 'int32') shape=(-77, -77)
gedreht=True Output rtype=('DataFrame', 'Series', 'int32') shape=(4, 4)

   AA     BB   CC   DD
0 -77   test  1.0  foo
1 -77  train  1.0  foo
2 -77   test  1.0  foo
3 -77  train  1.0  foo

time: 8.02 ms (started: 2022-07-01 19:12:49 +00:00)

In [20]:
# Lineare Serie erstellen
inp = {'AA': np.linspace(0, 10), 
       'BB': np.linspace(-10, 0) }
out = pak.dataframe(inp, test=True, verbose=True)
#out

Input rtype=('dict', 'ndarray', 'float64') shape=(2, 50)
gedreht=True Output rtype=('DataFrame', 'Series', 'float64') shape=(50, 2)
time: 1.82 ms (started: 2022-07-01 19:12:49 +00:00)

## Spaltenweise: list oder tuple of Series

In [21]:
# 
anz = 10
a = pak.random_series( anz, 'name',                                                             name='vorname' )
b = pak.random_series( anz, 'int',    min=20, max=30) + pak.random_series( anz, 'int', min=0, max=12) 
b.name = 'alter'
c = pak.random_series( anz, 'choice', choice=['Bremen','Berlin'],      p_nan=0.3,   p_dup=0,    name='geburtsstadt')
d = pak.random_series( anz, 'int',    min=10000, max=99999,            p_nan=0.02,  p_dup=0.3,  name='plz')
e = pak.random_series( anz, 'string', len_min=5, len_max=10,           p_nan=0,     p_dup=0,    name='passwort')
f = pak.random_series( anz, 'string', len_min=0, len_max=5,            p_nan=0,     p_dup=0.2,  name='merkmale').apply(set)    
g = pak.random_series( anz, 'choice', choice=['ABC','ABCC','','abc','cba','Ax','AAA','ACCB','bbab'],  name='history').apply(list)    
inp = [a,b,c,d,e,f,g]
pak.dataframe(inp, verbose=True)

Input rtype=('list', 'Series', 'str') shape=(-77, -77)
gedreht=True Output rtype=('DataFrame', 'Series', 'str') shape=(10, 7)

,vorname,alter,geburtsstadt,plz,passwort,merkmale,history
0,Tanja,36,NaN,24988,qücOkoIv,"{0, U, i, A, f}","[A, C, C, B]"
1,Mia,27,NaN,25829,htXaZJEdgä,"{v, 2, m}","[c, b, a]"
2,Adolf,31,Berlin,<NA>,YfcA99,"{X, F}","[A, B, C]"
3,Julius,34,NaN,43859,se8Yöh,{a},"[A, A, A]"
4,Heidi,27,Bremen,78441,äIQLY,"{u, x, D, Y, N}","[a, b, c]"
5,Anja,35,NaN,14221,rsOnmC,"{L, S}","[A, x]"
6,Maximilian,29,NaN,29876,Ix84urIgu9,"{D, Y, P, M}","[A, B, C, C]"
7,Anna,38,NaN,78441,5R0h9yphvL,"{t, m, y, g}",[]
8,Phil,25,NaN,14221,abR7sa,"{t, m, y, g}","[b, b, a, b]"
9,Merle,31,Berlin,29876,XÖWÜm,"{D, Y, P, M}","[b, b, a, b]"

time: 30.3 ms (started: 2022-07-01 19:12:49 +00:00)

## decorate

In [22]:
df = pak.dataframe( [ list('Babykorb'), 
                  list('abfällig'), 
                  list('Abgründe'), 
                  list('Kätzchen'), 
                  list('Landwirt'), 
                  list('lebendig'), 
                  list('Saugrohr'),       
                  list('Trugbild'),                     
                ] )
df['B'] = df.B.apply( pak.decorate, p=0.2, special='#')
df

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  l  e  b  e  n  d  i  g
6  S  #  u  g  r  o  h  r
7  T  r  u  g  b  i  l  d

time: 8.37 ms (started: 2022-07-01 19:12:49 +00:00)

## DataFrame aus Counter erstellen

In [25]:
from collections import Counter
glob_counter = Counter()
text = 'Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel? Gerade jetzt, wo er das Ding seines Lebens gedreht hatte und mit der Beute verschwinden wollte! Hatte einer seiner zahllosen Kollegen dieselbe Idee gehabt, ihn beobachtet und abgewartet, um ihn nun um die Früchte seiner Arbeit zu erleichtern?'
counts=Counter(text) # 
glob_counter.update(counts)   
glob_counter.most_common()

[('e', 71),
 (' ', 68),
 ('t', 32),
 ('n', 31),
 ('i', 25),
 ('r', 22),
 ('h', 19),
 ('s', 19),
 ('d', 17),
 ('a', 14),
 ('l', 13),
 ('u', 13),
 ('c', 10),
 ('b', 10),
 ('o', 8),
 ('m', 7),
 ('g', 7),
 ('w', 5),
 (',', 4),
 ('z', 4),
 ('G', 3),
 ('ü', 3),
 ('.', 2),
 ('D', 2),
 ('f', 2),
 ('H', 2),
 ('v', 2),
 ('?', 2),
 ('E', 1),
 ('ö', 1),
 ('S', 1),
 ('W', 1),
 ('p', 1),
 ('ä', 1),
 ('N', 1),
 ('j', 1),
 ('L', 1),
 ('B', 1),
 ('!', 1),
 ('K', 1),
 ('I', 1),
 ('F', 1),
 ('A', 1)]

time: 4.33 ms (started: 2022-07-01 19:12:57 +00:00)

In [24]:
pak.dataframe(glob_counter.most_common())

    A   B
0   e  71
1      68
2   t  32
3   n  31
4   i  25
5   r  22
6   h  19
7   s  19
8   d  17
9   a  14
10  l  13
11  u  13
12  c  10
13  b  10
14  o   8
15  m   7
16  g   7
17  w   5
18  ,   4
19  z   4
20  G   3
21  ü   3
22  .   2
23  D   2
24  f   2
25  H   2
26  v   2
27  ?   2
28  E   1
29  ö   1
30  S   1
31  W   1
32  p   1
33  ä   1
34  N   1
35  j   1
36  L   1
37  B   1
38  !   1
39  K   1
40  I   1
41  F   1
42  A   1

time: 6.01 ms (started: 2022-07-01 19:12:49 +00:00)