# Zufallsdaten

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox

time: 4.61 ms (started: 2022-02-14 07:44:35 +00:00)

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 312 ms (started: 2022-02-14 07:44:35 +00:00)

## Zufallsdaten

In [3]:
?pak.random_series

time: 43 ms (started: 2022-02-14 07:44:36 +00:00)

Signature: pak.random_series(size, typ, **kwargs)
Docstring:
Liefert eine Series von Zufallsdaten.

Die Argumente werden dabei an die zuständigen Funktionen für Series weitergereicht.
Generelle Argumente sind:
* name
* p_nan: Wert 0..1 legt fest, wieviele NaNs eingestreut werden
* p_dup: Wert 0..1 legt fest, wieviele Dups enthalten sind.
Beispiele:
random_series( 10, 'int')
random_series( 10, 'string', len_min=1, len_max=2)
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/content.py
Type:      function

In [4]:
?decorate

Object `decorate` not found.
time: 842 µs (started: 2022-02-14 07:44:36 +00:00)

In [5]:
# einfachste Variante
anz = 3
i = pak.random_series( anz, 'i')
f = pak.random_series( anz, 'f')
s = pak.random_series( anz, 's')
n = pak.random_series( anz, 'n')
c = pak.random_series( anz, 'c')
pak.dataframe( (i, f, s, n, c) )

     A      B      C        D  E
0  459  0.850  jVoQa  Jannick  b
1  273  0.319   lfIP      Uwe  c
2  236  0.445   PudD      Tom  e

time: 15.6 ms (started: 2022-02-14 07:44:36 +00:00)

In [6]:
test = pak.random_series( 10, 'string', len_min=2, len_max=20,           p_nan=0,     p_dup=0,    name='Zufallsstring')
type(test)

pandas.core.series.Series

time: 4.63 ms (started: 2022-02-14 07:44:36 +00:00)

In [7]:
# Mit Parametern
anz = 100
i = pak.random_series( anz, 'int',    min=-5, max=5,                   p_nan=0.1,   p_dup=0,    name='Ganzzahl')
f = pak.random_series( anz, 'float',  decimals=4,                      p_nan=0.1,   p_dup=0,    name='Fließkommazahl')
f = f.apply(pak.decorate, special=0, p=0.5)
s = pak.random_series( anz, 'string', len_min=2, len_max=20,           p_nan=0.2,   p_dup=0,    name='Zufallsstring')
n = pak.random_series( anz, 'name',                                    p_nan=0.2,   p_dup=0.33, name='Vorname')
c = pak.random_series( anz, 'choice', choice=['Bremen','Bremerhaven'], p_nan=0.3,   p_dup=0,    name='Stadt')
l = pak.random_series( anz, 'list',                                    p_nan=0.3,   p_dup=0.5,  name='Liste')
m = pak.random_series( anz, 'mix',                                     p_nan=0.1,   p_dup=0,    name='Mix')
df = pak.dataframe( (i, f, s, n, c, l, m) )
df

,Ganzzahl,Fließkommazahl,Zufallsstring,Vorname,Stadt,Liste,Mix
0,2,0.0000,VkiaieKA87jUe,Peter,Bremerhaven,"[Kevin, Anna]",{0}
1,0,0.0000,<NA>,Dominik,Bremen,"[Katharina, Jakob, Bettina, Luisa, Wolfgang, A...",58168
2,<NA>,0.4707,mo70XR,<NA>,Bremen,"[Christian, David, Tom, Florian, Patrick, Davi...",lnovAorVeäHl3idcexo
3,4,0.0000,hsuEBlfEGJ8,Jana,Bremerhaven,"[Tom, Lars, Anja, Rita, Simone, Emil, Richard,...",NaN
4,3,0.0000,6Y,Linda,Bremen,"[Ben, Nina, Hertha, Anna, Leoni, Willy, Peter]",-39485
...,...,...,...,...,...,...,...
95,-3,0.0385,iM6vmyXmbL3eÖWdepiE4,Inge,Bremen,"[Philip, Anja, Antonia, Sophia, Richard, Julia...",4TÄPxXR1U5x2üoÖIYb
96,-4,0.1213,fnmö2Ji,Gustav,Bremen,"[Anette, Tom, Louis, Jens, Alina, Regina, Bern...",20623
97,-3,0.4418,t6jQg,Lennard,Bremen,"[Charlotte, Simone, Eric, Tanja, Tanja, Hendri...",0.2195
98,<NA>,0.0000,<NA>,Gustav,Bremerhaven,"[Pascal, Anna]",0.8454
99,<NA>,0.5036,FjFOmusquQEkg,<NA>,Bremerhaven,NaN,Bremerhaven

time: 87.8 ms (started: 2022-02-14 07:44:36 +00:00)

In [8]:
pak.grid(pak.analyse_cols(df))

8 Datensätze

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

time: 35.8 ms (started: 2022-02-14 07:44:36 +00:00)

## Zufallsdaten: leute()

In [9]:
?pak.leute

time: 1.34 ms (started: 2022-02-14 07:44:36 +00:00)

Signature: pak.leute(anz=100)
Docstring: Liefert ein DataFrame zu Testzwecken
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/content.py
Type:      function

In [10]:
# Testdaten
df = pak.leute()
df

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
0,Maik,33,30,55493,Bremen,uK6Hyv7F,"{p, B}","[A, B, C, C]"
1,Niklas,29,20,32582,Berlin,PTÜhFwÜE,"{X, p}","[A, B, C]"
2,Manfred,32,30,64881,<NA>,xoaeAvÖö9,"{e, I, W}","[A, C, C, B]"
3,Andre,39,30,68262,Bremen,WYzOrGGGOU,"{A, I, G, N}","[A, A, A]"
4,Niko,30,30,99809,<NA>,kaof3YöÜ,"{E, f, T}","[c, b, a]"
...,...,...,...,...,...,...,...,...
95,Gisela,29,20,16801,Berlin,äbYrösd,"{2, J}","[A, B, C, C]"
96,Anna,27,20,40610,Bremen,TlhImWe,"{t, B, s, R, T}","[A, B, C]"
97,Andre,29,20,11375,Bremen,SGFe3SN,"{5, w, C, G, I}","[A, B, C]"
98,Karin,42,40,22295,Berlin,0zts7oÜzXr,"{s, z, d}","[a, b, c]"
99,Maik,32,30,45745,<NA>,nbK6üzAF,"{X, d, G}","[A, x]"

time: 58.1 ms (started: 2022-02-14 07:44:36 +00:00)

In [11]:
pak.grid(pak.analyse_cols(df))

9 Datensätze

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

time: 37 ms (started: 2022-02-14 07:44:36 +00:00)