In [39]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at /media/me/DATA/Dropbox/31_Projekte/01_Python/libs
Start Time: 00:02:10

time: 41.8 ms

# Review and visualize
Review and visualize data that meets your criteria. <br>
This notebook raises errors for demonstration purpose.
* `plot`: Plot with seaborn without configuration
* `check_mask`: Count rows filtered by a binary mask. Raises an error, if the number is unexpected.
* `sample`: Returns some sample rows: beginning + end + random rows in the middle, prefering rows without NaNs
* `search_str`: Searches all str columns of a dataframe. Useful for development and debugging.
* `grid`: Visualize with dtale

In [40]:
import numpy      as np
import pandas     as pd 
#import bpyth      as bpy
import pandasklar as pak 

grid = pak.grid

time: 35.2 ms

## plot(): Plot with seaborn without configuration

In [ ]:
?pak.plot

In [ ]:
# Several types of random numbers, with parameters
size = 100
a = pak.random_series( size, 'ascending'                    )
b = pak.random_series( size, 'ascending'                    )
c = pak.random_series( size, 'descending'                   )
d = pak.random_series( size, 'descending'                   )
e = pak.random_series( size, 'perlin',     freq=2           )
f = pak.random_series( size, 'perlin',     freq=[16,1,8,1]  )
g = pak.random_series( size, 'perlin',     freq=[4,1,8,128] )

df = pak.dataframe( (a,b,c,d,e,f,g) )
pak.sample(df)

In [ ]:
# just plot all together
%matplotlib inline
pak.plot(df)

In [ ]:
# plot 2 Series, use different y-axis
%matplotlib inline
pak.plot(df.A, df.G)

In [ ]:
# plot DataFrame + Series, use different line thickness
%matplotlib inline 
pak.plot(df[list('BCD')], df.A, line=(1,5))

In [ ]:
# plot E (Perlin) and A (ascending)
%matplotlib inline 
pak.plot(df[list('AE')])

In [ ]:
# plot E using A as x-Axis
%matplotlib inline 
pak.plot(df[list('AE')], x='A')

## sample(): Returns some sample rows

In [42]:
?pak.sample

time: 25.8 ms

Signature: pak.sample(df, size=7)
Docstring:
Returns some sample rows.
Always the beginning and the end,
plus some random rows in the middle, prefering rows without NaNs.
* size: Number of rows returned
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [41]:
# create test data
df = pak.people()
df['birthplace'] = df.birthplace.fillna('Hamburg')
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history
0,Tanja,34,30,17550,Bremen,efuÄAÖZCyr,"{0, V, n, 1}","[A, C, C, B]"
1,Petra,31,30,52694,Berlin,02Öü9iÖxa,"{K, h}","[A, A, A]"
2,Merle,36,30,24390,Bremen,uÜTHJlKIh,"{c, 0, d, K, i}","[A, x]"
3,Kim,22,20,39888,Bremen,O0uixTf,"{k, U}","[b, b, a, b]"
4,Jana,24,20,57224,Bremen,jvxyDc,"{B, u, 3, X}","[a, b, c]"
...,...,...,...,...,...,...,...,...
95,Josephine,29,20,15088,Berlin,üh3Zq7D,"{2, P, 4, K, H}","[b, b, a, b]"
96,Jens,22,20,66667,Berlin,ZZlnVZoI,"{M, g}","[a, b, c]"
97,Bettina,29,20,78105,Bremen,1Gx0yWBJa,{f},"[b, b, a, b]"
98,Jörg,33,30,44859,Bremen,eEp1t2WyE,"{u, o, n, r, z}","[a, b, c]"
99,Jana,39,30,50211,Hamburg,ÄaroHMnZ5b,"{F, o, d}","[A, C, C, B]"

time: 121 ms

In [43]:
pak.sample(df)

,first_name,age,age_class,postal_code,birthplace,secret,features,history
0,Tanja,34,30,17550,Bremen,efuÄAÖZCyr,"{0, V, n, 1}","[A, C, C, B]"
1,Petra,31,30,52694,Berlin,02Öü9iÖxa,"{K, h}","[A, A, A]"
25,Adrian,29,20,45803,Bremen,gaQ8ya1oV,"{k, 4}","[A, B, C, C]"
37,Richard,24,20,58615,Berlin,zQpZ0eR1M,"{u, b, z}","[A, x]"
59,Marianne,36,30,18177,Berlin,ti9AZqJuug,"{U, c, l, H}","[a, b, c]"
98,Jörg,33,30,44859,Bremen,eEp1t2WyE,"{u, o, n, r, z}","[a, b, c]"
99,Jana,39,30,50211,Hamburg,ÄaroHMnZ5b,"{F, o, d}","[A, C, C, B]"

time: 58.1 ms

## search_str(): Searches all str columns of a dataframe

In [44]:
?pak.search_str

time: 26.7 ms

Signature: pak.search_str(df, find, without=[])
Docstring:
Searches all str columns of a dataframe.
Useful for development and debugging.
* find:    What is to be found?                  String or list of strings.
* without: Which columns should not be searched? String or list of strings.
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/develop.py
Type:      function

In [45]:
# create mask: most frequent first_name
find = ['Hamburg', pak.most_freq_elt(df.first_name)]
print('search for',find)

search for ['Hamburg', 'Celina']
time: 51.5 ms

In [46]:
pak.search_str(df, find)

,first_name,age,age_class,postal_code,birthplace,secret,features,history
5,Claudia,33,30,78230,Hamburg,1irSuks,{j},"[A, B, C, C]"
13,Maximilian,32,30,79193,Hamburg,iqYfoÖ54q,"{U, M, d}","[A, C, C, B]"
17,Angela,34,30,37944,Hamburg,TJWVUD,{E},"[a, b, c]"
18,Celina,34,30,19624,Bremen,0shAÖÖhjej,"{w, y}","[A, B, C]"
19,Monika,27,20,31030,Hamburg,eÖvbY,{F},[]
20,Lucas,37,30,<NA>,Hamburg,vmD9eg,"{m, i, b}",[]
21,Zoe,36,30,23373,Hamburg,döNwÄLLz3o,"{a, H}","[A, C, C, B]"
23,Anja,29,20,44168,Hamburg,WEKäTaX,"{T, C, n, E}","[A, B, C]"
24,Niclas,40,40,44747,Hamburg,B7QVÖMevm,"{W, n, K, V, 1}",[]
27,Leonie,35,30,99093,Hamburg,twRG1,"{0, m, t, p, w}","[A, A, A]"
30,Stella,31,30,44859,Hamburg,5pu6eR0,"{L, E, Y, 3, a}","[a, b, c]"
42,Georg,24,20,67309,Hamburg,rWbw71Yy,"{m, t}","[A, B, C]"
44,Christopher,24,20,69903,Hamburg,rFucJ,"{3, o, P}","[A, B, C, C]"
47,Carl,39,30,44591,Hamburg,ut5BLäÖmXc,"{a, f}","[A, x]"
49,Nele,37,30,69810,Hamburg,nsP7Ä,"{i, w, d}","[A, B, C, C]"
51,Michelle,39,30,86714,Hamburg,TW5ECcw,"{V, s, o, I}","[A, A, A]"
53,Aileen,20,20,69324,Hamburg,i1UM6,{O},"[A, x]"
57,Else,23,20,99771,Hamburg,uH8IU8J,"{D, H}","[A, A, A]"
62,Sabine,31,30,31460,Hamburg,aJööYrDj3,"{A, 1, e}","[A, B, C]"
64,Carolin,35,30,82963,Hamburg,EAxZXeül,{A},"[A, A, A]"
67,Dieter,24,20,40321,Hamburg,VTGY7r,"{s, A}","[A, A, A]"
71,Celina,32,30,45253,Hamburg,FäreÖ,"{j, x, b, X}","[b, b, a, b]"
73,Berndt,31,30,31460,Hamburg,mo2dagÖB,"{L, o}","[b, b, a, b]"
75,Celina,35,30,65141,Berlin,MSs75VNdoh,"{3, w, Q}","[a, b, c]"
79,Jonas,33,30,44469,Hamburg,xdKYn,"{N, C, T, e}","[a, b, c]"
80,Carolin,25,20,31460,Hamburg,TcJjJgWg4,"{a, H}","[A, B, C]"
85,Walter,38,30,99231,Hamburg,id64gvk,"{u, o, n, r, z}",[]
86,Marianne,37,30,18122,Hamburg,saY9ev,"{L, o}","[A, B, C]"
89,Manuela,25,20,46716,Hamburg,üt6uiz308a,"{N, C, T, e}",[]
99,Jana,39,30,50211,Hamburg,ÄaroHMnZ5b,"{F, o, d}","[A, C, C, B]"

time: 80.3 ms

## check_mask(): Count rows filtered by a binary mask

In [47]:
?pak.check_mask

time: 38.7 ms

Signature:
pak.check_mask(
    df,
    mask,
    expectation_min=None,
    expectation_max=None,
    msg='',
    stop=True,
    verbose=None,
)
Docstring:
Count rows filtered by a binary mask.
Raises an error, if the number is unexpected.

Examples:
==========
check_mask( df, mask )         # just show the number of rows
check_mask( df, mask, 2000 )   # checks for about 2000 rows (if not 0: not more than double, not less than half)
check_mask( df, mask, 0 )      # checks for exactly 0 rows
check_mask( df, mask, 10, 50)  # checks for 10..50 rows

Example with later raise:
=========================
error = check_mask(df, mask, 214, stop=False)
grid(df, mask, error)
bpy.raise_if(error)
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/develop.py
Type:      function

In [48]:
# define mask
mask = (df.age >= 30)  &  (df.age < 40) 
#df[mask]

time: 35.3 ms

In [49]:
# just show the number of rows
pak.check_mask(df, mask)

 60 rows
time: 26.7 ms

In [50]:
# checks for about 50 rows
pak.check_mask(df, mask, 50)

time: 29.4 ms

In [51]:
# checks for about 50 rows
pak.check_mask(df, mask, 50, verbose=True)

 60 rows
time: 27.9 ms

In [52]:
# checks for 0..100 rows
pak.check_mask(df, mask, 0, 100)

time: 30 ms

## grid(): Visualize with dtale

In [53]:
?grid

time: 32 ms

Signature: grid(df, mask=None, error='€€€', color='blue', **kwargs)
Docstring:
Visualization of a DataFrame using dtale.
* df:     DataFrame to show
* mask:   Binary mask of function to reduce the number of rows
* error:  Error message
* color:  Color of the error message.
* kwargs: Options for dtale. See https://github.com/man-group/dtale#instance-settings
          Caution: This will affect all grids in this notebook...
dtale may not work in a multiscreen setting on windows.

=== Examples ===
grid(df)                        # show all rows
grid(df,mask)                   # show with binary mask
grid(df,sample)                 # show with functionally mask

=== For error indication after check_mask ===
error = check_mask(df, mask, 900, stop=False)
grid(df, mask, error)
and later: raise_if(error)
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/develop.py
Type:      function

In [54]:
# show
grid(df)

100 rows

time: 72.7 ms

### grid(): Use mask

In [55]:
# Function as mask
grid(df, pak.sample)

7 rows out of 100

time: 130 ms

In [56]:
# Binary mask
mask = df.age > 25
grid(df, mask)

83 rows out of 100

time: 145 ms

### grid() options
Some grid options are global, e.g. max_column_width. If you set this option to a value later in your notebook, all grids in the notebook are rendered with this column_width. If you find a way to change this, send me a message.

In [57]:
# global Settings
pak.set_grid(max_column_width=200)

time: 37.3 ms

In [58]:
# show 
grid(df)

100 rows

time: 123 ms

### grid(): Advanced Formating
See options on https://github.com/man-group/dtale#instance-settings

In [59]:
mask = df.age > 25
grid(df, mask, sort=[('first_name','ASC')], background_mode='heatmap-col-age')
#grid(df, mask, drop_index=True,)

83 rows out of 100

time: 149 ms

### grid(): Special cases

In [60]:
# No DataFrame
grid(None)

Nothing to show
time: 47.4 ms

In [61]:
# Empty DataFrame
d = pd.DataFrame()
grid(d)

No rows
time: 36.9 ms

In [62]:
# 100% filtered 
mask = df.age > 1000
grid(df,mask)

No rows, mask filters them all away
time: 35.1 ms

In [63]:
# 100% filtered, and this is good
mask = df.age > 1000
grid(df,mask, color='green')

No rows, mask filters them all away
time: 36.8 ms

In [64]:
# 100% filtered, and this is bad
mask = df.age > 1000
grid(df,mask, color='red')

No rows, mask filters them all away
time: 26.9 ms

### grid() & check_mask(): Show error rows and raise later

In [65]:
# define a mask that contains errors
# say our error is df.birthplace == 'Hamburg',
# we don't want that to happen,
# but if it happens we would like to see the rows
mask = df.birthplace == 'Hamburg'
pak.check_mask(df,mask)

 28 rows
time: 29.9 ms

In [66]:
# checking for 0 raises an error, as we want.
# But we don't see the rows affected
pak.check_mask(df,mask, 0)

Exception: ERROR: 28 rows, but it should be a maximum of 0

time: 126 ms

In [67]:
# so we use this to show the error rows first
error = pak.check_mask(df,mask, 0, stop=False)
grid(df, mask, error)

ERROR: 28 rows, but it should be a maximum of 0
28 rows out of 100

time: 97.6 ms

In [68]:
# and raise later
bpy.raise_if(error)

Exception: ERROR: 28 rows, but it should be a maximum of 0

time: 53.6 ms