__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/13_Analyse_Datatypes.ipynb)__

# Analyse Datatypes
* `analyse_datatypes`: Returns info about the datatypes and the mem_usage of the columns of a DataFrame 
* `analyse_values`: Returns statistical data for a DataFrame, a Series or an Index 
* `analyse_cols`: Describes the datatypes and the content of a DataFrame. Merged info from analyse_datatypes and analyse_values
* `change_datatype`: Converts the datatypes of a DataFrame or a Series. Automatically, if you want.
* `copy_datatype`: Copies the dtypes from one dataframe to another, matching the column names.

In [33]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Dropbox
environment['lib_path']     = /home/me/Dropbox/31_Projekte/01_Python/libs
Start Time: 10:04:24

In [34]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

In [60]:
# Generate random data
anz = 10000
a = pak.random_series( anz, 'int',   min=-500, max=100 )
b = pak.random_series( anz, 'int',   min=-127, max=127, p_dup=0 ) # keine Dups erlaubt
c = a + b
a = a % 10 * 10
v = pak.random_series( anz, 'name',                  p_nan=0)
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0)
t = pak.random_series( anz, 'string',                p_nan=0.1)
m = pak.random_series( anz, 'int',   min=0, max=127, p_nan=0.1 )
n = pak.random_series( anz, 'float',                 p_nan=0.2 ) #* 70000
o = pak.random_series( anz, 'choice', choice=['Bremen','Bremerhaven'], p_nan=0.3,   p_dup=0     )
p = pak.random_series( anz, 'list',                                    p_nan=0.1,   p_dup=0.5   )
t = pak.random_series( anz, 'time',                                    p_nan=0.1,   p_dup=0.5   )
z = pak.random_series( anz, 'mix',                                     p_nan=0.01,  p_dup=0     )

df = pak.dataframe( [a, b, c, v, w, s, t, m, n, o, p, t, z], verbose=False)
df.columns = ['int_grob','int_fein','float_summe','first_name','Letter1','string_nonan','string_nan','int_nan','float_nan','City','List','time','Mix']
df.float_summe = df.float_summe.astype('float')
pak.sample(df)

,int_grob,int_fein,float_summe,first_name,Letter1,string_nonan,string_nan,int_nan,float_nan,City,List,time,Mix
0,40,82,-384.0,Angela,A,XFÖdVT4,2011-03-20 18:32:10.390562438,85,0.217,NaN,"[Torben, Sarah, Anja, Ingeborg, Tanja, Anja, Tom]",2011-03-20 18:32:10.390562438,{0}
5,50,26,121.0,Marina,M,wuI2nH1,NaT,19,0.439,Bremerhaven,"[Tanja, Arthur, Josef]",NaT,2023-09-18 02:28:58.511043221
11,10,-82,-21.0,Tanja,T,yyÖjäVe,1961-04-26 08:43:24.254130578,84,NaN,Bremen,NaN,1961-04-26 08:43:24.254130578,Qp5uJ
42,0,109,-101.0,Heike,H,YaeEzQh,2007-06-28 20:25:34.289679013,127,0.269,Bremerhaven,"[Bianca, Bastian, Anja, Anja, Phillip]",2007-06-28 20:25:34.289679013,-2359
97,50,-63,-158.0,Karina,K,rdt9,1984-02-19 20:01:43.936361679,0,0.361,Bremerhaven,"[Ilse, Anja, Larissa, Torben]",1984-02-19 20:01:43.936361679,Bremerhaven
136,0,93,123.0,Thorsten,T,T5Tjszb,2008-12-09 11:57:53.570354191,11,0.535,NaN,"[Kevin, Tanja, Nina, Marcus, Anja, Manuel, Mel...",2008-12-09 11:57:53.570354191,mCuymkqr51SöRVB
146,30,127,-260.0,Yannick,Y,Vw1auD,2017-06-20 07:45:45.416582297,19,0.131,Bremerhaven,"[Tanja, Svenja, Tom, Till, Marina]",2017-06-20 07:45:45.416582297,"[Doris, Meike, Anja, Hertha, Gerhard, Tom, Anj..."
166,10,-99,-488.0,Antonia,A,8ÄDb584,1958-11-13 13:22:06.534964455,113,0.639,NaN,"[Hans, Luka]",1958-11-13 13:22:06.534964455,NaN
214,30,84,-293.0,Miriam,M,ZJLFÄ,NaT,<NA>,NaN,NaN,"[Leon, Isabella]",NaT,52454
217,70,-127,-500.0,Pauline,P,s8bfXG,1939-12-19 21:06:43.632419291,2,NaN,Bremen,"[Ida, Karl, Tanja]",1939-12-19 21:06:43.632419291,Bremerhaven
241,50,91,116.0,Adolf,A,lDxT,1963-03-30 22:18:12.088136588,<NA>,0.940,Bremen,"[Maike, Anja]",1963-03-30 22:18:12.088136588,Moritz
417,10,-111,-160.0,Zoe,Z,w4üC0,1961-01-02 02:16:50.614987134,58,0.105,Bremen,"[Tanja, Tanja, Leon]",1961-01-02 02:16:50.614987134,Dz4r
537,20,-87,-315.0,Anja,A,aP0öjuu,NaT,124,NaN,NaN,"[Leo, Claus, Carsten, Luka, Heinz, Anna, Tom, ...",NaT,62303
582,90,98,157.0,Jannick,J,d9ip,1953-11-14 13:32:41.286808915,39,0.000,Bremen,"[Barbara, Marco, Malte, Jörg, Hannes, Lina, To...",1953-11-14 13:32:41.286808915,Bremen
826,80,97,-105.0,Laura,L,aiBTLs,1903-04-22 10:36:45.564204284,26,0.355,Bremen,"[Jennifer, Clara, Regina, Oskar, Walter, Stell...",1903-04-22 10:36:45.564204284,23648
998,50,-81,-336.0,Walter,W,ZIxk,NaT,64,0.999,NaN,"[Tanja, Tom, Anne]",NaT,"[Christiane, Karla, Niklas, Tom]"
1539,40,-83,-189.0,Lars,L,01n2uOo,2022-01-11 23:25:22.722550129,89,0.240,Bremen,"[Neele, Niko, Jan, Joshua]",2022-01-11 23:25:22.722550129,-8360
2677,20,-126,-624.0,Moritz,M,QcUgOeX,1950-07-15 16:32:24.190398670,<NA>,0.308,Bremen,"[Viktoria, Tom, Jörg, Doris, Heidi, Sophie, La...",1950-07-15 16:32:24.190398670,-25413
2978,60,41,107.0,Hugo,H,LwNt9äo,1900-01-28 20:27:05.548358448,88,0.900,Bremen,"[Sascha, Paula, Jürgen, Anja, Robin]",1900-01-28 20:27:05.548358448,"[Detlef, Tom, Christopher, Anna, Lars, Willi, ..."
4716,40,-69,25.0,Erwin,E,VjMv,1962-08-06 12:48:50.708374823,95,0.202,Bremen,"[Karoline, Markus, Hanna, Niklas, Kim, Richard]",1962-08-06 12:48:50.708374823,0.5006
5128,0,126,226.0,Bernhard,B,JjoS,1919-05-29 11:50:23.633280837,63,0.607,Bremerhaven,"[Anna, Andrea, Reinhard, Christine, Matthias, ...",1919-05-29 11:50:23.633280837,Clara
5840,50,29,104.0,Hannah,H,üüvCyTo,1991-03-20 23:21:29.511212029,47,0.102,NaN,"[Christoph, Annika, Finn, Isabelle, Anja, Marg...",1991-03-20 23:21:29.511212029,1921-12-17 03:31:40.162299683
7127,50,-45,-70.0,Tom,T,Arcc3,2023-12-23 17:37:43.374777607,57,0.520,Bremen,"[Jana, Heiko, Silvia, Leah, Kerstin, Lucy, Car...",2023-12-23 17:37:43.374777607,Bremen
9999,40,125,219.0,Ulrich,U,yYrPs,2013-12-09 23:33:04.442137139,33,NaN,NaN,"[Silke, Victoria]",2013-12-09 23:33:04.442137139,-38306

## analyse_datatypes()

In [54]:
?pak.analyse_datatypes

Signature: pak.analyse_datatypes(df, with_index=True)
Docstring: Returns info about the datatypes and the mem_usage of the columns of a DataFrame.
File:      ~/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [55]:
a = pak.analyse_datatypes(df)
a

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_datetime,is_hashable,nan_allowed,mem_usage
col_no,,,,,,,,,,
0,__index__,int64,np.int64,int64,True,False,False,True,False,80.0 B
1,int_grob,int64,np.int64,int64,True,False,False,True,False,80.0 B
2,int_fein,int64,np.int64,int64,True,False,False,True,False,80.0 B
3,float_summe,float64,np.float64,float64,True,False,False,True,True,80.0 B
4,first_name,str,pd.string,string,False,True,False,True,True,613.0 B
5,Letter1,str,pd.string,string,False,True,False,True,True,580.0 B
6,string_nonan,str,pd.string,string,False,True,False,True,True,690.0 B
7,string_nan,Timestamp,datetime64[ns],datetime64[ns],False,False,True,True,True,80.0 B
8,int_nan,int64,pd.Int64,Int64,True,False,False,True,True,90.0 B
9,float_nan,float64,np.float64,float64,True,False,False,True,True,80.0 B
10,City,str,object,object,False,True,False,True,True,578.0 B
11,List,list,object,object,False,True,False,False,True,944.0 B
12,time,Timestamp,datetime64[ns],datetime64[ns],False,False,True,True,True,80.0 B
13,Mix,mix,object,object,False,True,False,False,True,749.0 B

## analyse_values()

In [61]:
?pak.analyse_values

Signature:
pak.analyse_values(
    data,
    as_list=False,
    as_dict=False,
    sort=False,
    with_index=True,
    nanless_ints=False,
)
Docstring: Returns statistical data for a DataFrame, a Series or an Index
File:      ~/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [62]:
pak.analyse_values(df)

,col_name,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum,datatype_suggest
col_no,,,,,,,,,,,,
0,__index__,1,10000,0,0,10000,0.0,4999.50,4999.50,9999.0,49995000.00,np.int16
1,int_grob,1,10,0,9990,10000,0.0,45.10,40.00,90.0,451010.00,pd.Int8
2,int_fein,1,255,0,9745,10000,-127.0,1.10,1.00,127.0,10979.00,pd.Int8
3,float_summe,1,828,0,9172,10000,-624.0,-198.80,-198.00,226.0,-1988040.00,pd.Int16
4,first_name,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN,
5,Letter1,1,24,0,9976,10000,A,NaN,NaN,Z,NaN,
6,string_nonan,1,10000,0,0,10000,01n2uOo,NaN,NaN,üüvCyTo,NaN,
7,string_nan,1,4589,1867,3544,10000,1900-01-28 20:27:05.548358448,NaN,NaN,2023-12-23 17:37:43.374777607,NaN,
8,int_nan,1,128,1003,8869,10000,0.0,64.08,65.00,127.0,576569.00,pd.Int8
9,float_nan,1,1000,1988,7012,10000,0.0,0.49,0.49,1.0,3951.97,np.float32
10,City,1,2,3044,6954,10000,Bremen,NaN,NaN,Bremerhaven,NaN,pd.string
11,List,1,9463,467,70,10000,"[Adolf, Anja, Siegfried, Mike, Anja, Detlef, D...",NaN,NaN,"[Zoe, Tom, Harald, Malte, Carina, Yannick, Bär...",NaN,
12,time,1,4589,1867,3544,10000,1900-01-28 20:27:05.548358448,NaN,NaN,2023-12-23 17:37:43.374777607,NaN,
13,Mix,6,7496,107,2397,10000,NaN,NaN,NaN,NaN,NaN,

## analyse_cols()

In [42]:
?pak.analyse_cols

Signature: pak.analyse_cols(df, sort=False, with_index=True)
Docstring:
Describes the datatypes and the content of a DataFrame.
Merged info from analyse_datatypes and analyse_values.
File:      ~/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [43]:
pak.analyse_cols(df)

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,is_numeric,is_string,is_datetime,is_hashable,nan_allowed,...,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int8,True,False,False,True,False,...,1,4,0,0,4,0.0,1.5,1.5,3.0,6.0
1,A,Timestamp,datetime64[ns],datetime64[ns],,False,False,True,True,True,...,1,4,0,0,4,2022-01-01 00:00:00,NaN,NaN,2022-01-04 00:00:00,NaN
2,B,int64,np.int64,int64,pd.Int8,True,False,False,True,False,...,1,4,0,0,4,10.0,25.0,25.0,40.0,100.0

## change_datatype()

In [44]:
?pak.change_datatype

Signature:
pak.change_datatype(
    data,
    search=None,
    verbose=None,
    msg='',
    category_maxsize=-1,
    nanless_ints=False,
)
Docstring:
Converts the datatypes of a DataFrame or a Series.
If used with a Series:
Similar behavior as pandas astype. But it also accepts
sloppy class names like type_info knows.
If no target datatype is specified, it will be selected automatically.
If used with a DataFrame:
Converts all datatypes automatically.

* category_maxsize: How big can a category get to be suggested as datatype_suggest?
* nanless_ints: Are numpy's integer classes (that don't know NaN) suggested as datatype_suggest?
File:      ~/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [45]:
# example Series, before
pak.analyse_datatypes(df.int_fein)

AttributeError: 'DataFrame' object has no attribute 'int_fein'

In [ ]:
# example Series, after 
a = pak.change_datatype(df.int_fein)
pak.analyse_datatypes(a)

In [ ]:
# whole DataFrame
df2 = pak.change_datatype(df)
pak.analyse_cols(df2)

## copy_datatype()

In [ ]:
?pak.copy_datatype

In [ ]:
# Target
df1 = df.copy()                      # Wrong datatypes
df1 = pak.drop_cols(df1,'int_fein')  # One column is missing

# Template
df2 = pak.change_datatype(df)        # Target datatypes
df2 = pak.drop_cols(df2,'City')      # One column is missing

In [ ]:
result = pak.copy_datatype(df1, df2)

# Result: All columns except 'City' were treated
pak.analyse_cols(result)

## type_info()

In [ ]:
?pak.type_info

In [ ]:
# Call with class name
i = pak.type_info('uint32')     
i.info()

In [ ]:
# Call with class name
i = pak.type_info('intc')     
i.info()

In [ ]:
# Call with class name
i = pak.type_info('category')     
i.info()

In [ ]:
# Call with sloppy class name
i = pak.type_info('pd.String')     
i = pak.type_info('str')  
i.info()

In [ ]:
# Call with class name
i = pak.type_info('StringDtype')     
i.info()

In [ ]:
# Call with class name
i = pak.type_info('float16')     
i.info()

In [ ]:
# Call with class 
i = pak.type_info(np.int16)     
i.info()

In [ ]:
# Call with class
i = pak.type_info(pd.Int64Dtype)     
i.info()

In [ ]:
# Call with Series
pak.type_info(df.List).info()