__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/13_Analyse_Datatypes.ipynb)__

# Analyse Datatypes
* `analyse_datatypes`: Returns info about the datatypes and the mem_usage of the columns of a DataFrame 
* `analyse_values`: Returns statistical data for a DataFrame, a Series or an Index 
* `analyse_cols`: Describes the datatypes and the content of a DataFrame. Merged info from analyse_datatypes and analyse_values
* `change_datatype`: Converts the datatypes of a DataFrame or a Series. Automatically, if you want.
* `copy_datatype`: Copies the dtypes from one dataframe to another, matching the column names.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = D:\Dropbox
environment['lib_path']     = D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 22:46:32

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

In [3]:
# Generate random data
anz = 10000
a = pak.random_series( anz, 'int',   min=-500, max=100 )
b = pak.random_series( anz, 'int',   min=-127, max=127, p_dup=0 ) # keine Dups erlaubt
c = a + b + 0.0001
a = a % 10 * 10
v = pak.random_series( anz, 'name',                  p_nan=0)
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0)
t = pak.random_series( anz, 'string',                p_nan=0.1)
m = pak.random_series( anz, 'int',   min=0, max=127, p_nan=0.1 )
n = pak.random_series( anz, 'float', decimals=4,     p_nan=0.2 ) #* 70000
o = pak.random_series( anz, 'choice', choice=['Bremen','Bremerhaven'], p_nan=0.3,   p_dup=0     )
p = pak.random_series( anz, 'list',                                    p_nan=0.1,   p_dup=0.5   )
q = pak.random_series( anz, 'time',                                    p_nan=0.1,   p_dup=0.5   )
z = pak.random_series( anz, 'mix',                                     p_nan=0.01,  p_dup=0     )

df = pak.dataframe( [a, b, c, v, w, s, t, m, n, o, p, q, z], verbose=False)
df.columns = ['int_grob','int_fein','float_summe','first_name','Letter1','string_nonan','string_nan','int_nan','float_nan','City','List','time','Mix']
df.float_summe = df.float_summe.astype('float')
pak.sample(df,10)

,int_grob,int_fein,float_summe,first_name,Letter1,string_nonan,string_nan,int_nan,float_nan,City,List,time,Mix
0,50,109,114.0001,Friedrich,F,D2Wx67,IPöÖyu,117,NaN,NaN,"[Anette, Anja, Peter, Arthur, Hanna, Anna, Sas...",NaT,{0}
340,50,55,-39.9999,Charlotte,C,BueI,kxb51,42,0.4566,Bremerhaven,"[Anja, Tom, Meik, Bernd, Anja, Anja, Anna, Jen...",1951-02-24 16:33:25.064580096,Bremerhaven
378,50,-103,-107.9999,Adolf,A,caTTo,Tqixb,70,0.7582,NaN,"[Marina, Lukas, Christopher, Kathrin, Tanja]",1906-04-17 22:30:47.948887040,pCpÜnÜHqxS
928,70,117,-45.9999,Maja,M,005T7I,<NA>,13,0.2789,Bremen,"[Ulrike, Stella, Meik, Ulrich, Sascha, Sina, A...",1946-12-25 16:02:52.360026624,XsUEKR6Vh
6784,40,37,-78.9999,Lina,L,wbbsNox,00PQ1,28,NaN,Bremerhaven,"[Karin, Lina, Bernhard, Christa, Steffen]",1990-08-05 12:57:57.373496832,"[Wolfgang, Luisa, Tanja]"
7179,50,103,88.0001,Gerd,G,üZäU,0ACBE,54,0.0000,Bremen,"[Yvonne, Tanja, Adolf, Melina, Hanna, Erna, To...",1948-01-15 09:23:11.883444224,"[Hanna, Natalie, Sven, Ella, Benedikt, Elke]"
7988,90,119,218.0001,Tanja,T,Y80NIJ,1rK1j,85,0.5691,Bremerhaven,"[Rita, Tanja, Anja, Barbara, Anna, Natalie, He...",NaT,1924-10-30 04:42:19.017817088
8836,60,11,-232.9999,Tanja,T,Rz7s0C,üümTV8Ä,0,NaN,NaN,"[Gerhard, Louisa, Tom, Hanna, Stephanie, Axel,...",1939-05-19 21:08:41.318045184,1911-03-08 19:20:45.220207616
9998,0,-39,-458.9999,Fynn,F,uvzöas,mJ7VSR,57,NaN,NaN,"[Jana, Ella, Anna, Anja, Jana, Simone, Florian]",1932-06-06 21:39:15.537562112,2017-12-22 15:02:26.963902976
9999,50,126,-8.9999,Gisela,G,1BSvuud,<NA>,<NA>,0.2701,Bremen,NaN,NaT,"[Bärbel, Nadine, Anna, Marlene, Marion, Natali..."

## analyse_datatypes()

In [4]:
?pak.analyse_datatypes

Signature: pak.analyse_datatypes(df, with_index=True, human_readable=True)
Docstring: Returns info about the datatypes and the mem_usage of the columns of a DataFrame.
File:      d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\analyse.py
Type:      function

In [5]:
a = pak.analyse_datatypes(df)
a

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_datetime,is_hashable,nan_allowed,mem_usage
col_no,,,,,,,,,,
0,__index__,int64,np.int64,int64,True,False,False,True,False,80.0 B
1,int_grob,intc,np.int32,int32,True,False,False,True,False,40.0 B
2,int_fein,intc,np.int32,int32,True,False,False,True,False,40.0 B
3,float_summe,float64,np.float64,float64,True,False,False,True,True,80.0 B
4,first_name,str,pd.string,string,False,True,False,True,True,545.0 B
5,Letter1,str,pd.string,string,False,True,False,True,True,500.0 B
6,string_nonan,str,pd.string,string,False,True,False,True,True,660.0 B
7,string_nan,str,pd.string,string,False,True,False,True,True,602.0 B
8,int_nan,int64,pd.Int64,Int64,True,False,False,True,True,90.0 B
9,float_nan,float64,np.float64,float64,True,False,False,True,True,80.0 B
10,City,str,object,object,False,False,False,True,True,468.0 B
11,List,list,object,object,False,False,False,False,True,1.2 KB
12,time,Timestamp,datetime64[ns],datetime64[ns],False,False,True,True,True,80.0 B
13,Mix,mix,object,object,False,False,False,False,True,1.0 KB

## analyse_values()

In [6]:
?pak.analyse_values

Signature:
pak.analyse_values(
    data,
    as_list=False,
    as_dict=False,
    sort=False,
    with_index=True,
    nanless_ints=False,
)
Docstring: Returns statistical data for a DataFrame, a Series or an Index
File:      d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\analyse.py
Type:      function

In [7]:
pak.analyse_values(df)

,col_name,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum,datatype_suggest,datatype_identified
col_no,,,,,,,,,,,,,
0,__index__,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00,np.int16,int
1,int_grob,1,10,0,9990,10000,0.0,44.79,40.0,90.0,447900.00,pd.Int8,int
2,int_fein,1,255,0,9745,10000,-127.0,0.53,1.0,127.0,5285.00,pd.Int8,int
3,float_summe,1,824,0,9176,10000,-623.0,-197.82,-198.0,218.0,-1978154.00,np.float32,float
4,first_name,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN,,string
5,Letter1,1,24,0,9976,10000,A,NaN,NaN,Z,NaN,,string
6,string_nonan,1,10000,0,0,10000,005T7I,NaN,NaN,üüDe,NaN,,string
7,string_nan,1,9049,951,0,10000,00PQ1,NaN,NaN,üümTV8Ä,NaN,,string
8,int_nan,1,128,960,8912,10000,0.0,63.59,64.0,127.0,574840.00,pd.Int8,int
9,float_nan,1,8069,1930,1,10000,0.0,0.50,0.5,1.0,4042.36,np.float32,float
10,City,1,2,3025,6973,10000,Bremen,NaN,NaN,Bremerhaven,NaN,pd.string,string
11,List,1,9405,522,73,10000,"[Adolf, John, Adrian, Dagmar, Kay, Stella]",NaN,NaN,"[Zoe, Uwe]",NaN,,list
12,time,1,4596,1907,3497,10000,1900-01-21 21:55:38.243051520,NaN,NaN,2023-12-20 02:07:06.334649344,NaN,,datetime
13,Mix,6,7496,79,2425,10000,NaN,NaN,NaN,NaN,NaN,,list

## analyse_cols()

In [8]:
?pak.analyse_cols

Signature: pak.analyse_cols(df, sort=False, with_index=True, human_readable=True)
Docstring:
Describes the datatypes and the content of a DataFrame.
Merged info from analyse_datatypes and analyse_values.
File:      d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\analyse.py
Type:      function

In [9]:
pak.analyse_cols(df)

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,datatype_identified,is_numeric,is_string,is_datetime,is_hashable,...,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,int,True,False,False,True,...,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,intc,np.int32,int32,pd.Int8,int,True,False,False,True,...,1,10,0,9990,10000,0.0,44.79,40.0,90.0,447900.00
2,int_fein,intc,np.int32,int32,pd.Int8,int,True,False,False,True,...,1,255,0,9745,10000,-127.0,0.53,1.0,127.0,5285.00
3,float_summe,float64,np.float64,float64,np.float32,float,True,False,False,True,...,1,824,0,9176,10000,-623.0,-197.82,-198.0,218.0,-1978154.00
4,first_name,str,pd.string,string,,string,False,True,False,True,...,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
5,Letter1,str,pd.string,string,,string,False,True,False,True,...,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
6,string_nonan,str,pd.string,string,,string,False,True,False,True,...,1,10000,0,0,10000,005T7I,NaN,NaN,üüDe,NaN
7,string_nan,str,pd.string,string,,string,False,True,False,True,...,1,9049,951,0,10000,00PQ1,NaN,NaN,üümTV8Ä,NaN
8,int_nan,int64,pd.Int64,Int64,pd.Int8,int,True,False,False,True,...,1,128,960,8912,10000,0.0,63.59,64.0,127.0,574840.00
9,float_nan,float64,np.float64,float64,np.float32,float,True,False,False,True,...,1,8069,1930,1,10000,0.0,0.50,0.5,1.0,4042.36
10,City,str,object,object,pd.string,string,False,False,False,True,...,1,2,3025,6973,10000,Bremen,NaN,NaN,Bremerhaven,NaN
11,List,list,object,object,,list,False,False,False,False,...,1,9405,522,73,10000,"[Adolf, John, Adrian, Dagmar, Kay, Stella]",NaN,NaN,"[Zoe, Uwe]",NaN
12,time,Timestamp,datetime64[ns],datetime64[ns],,datetime,False,False,True,True,...,1,4596,1907,3497,10000,1900-01-21 21:55:38.243051520,NaN,NaN,2023-12-20 02:07:06.334649344,NaN
13,Mix,mix,object,object,,list,False,False,False,False,...,6,7496,79,2425,10000,NaN,NaN,NaN,NaN,NaN

## change_datatype()

In [10]:
?pak.change_datatype

Signature:
pak.change_datatype(
    data,
    search=None,
    verbose=None,
    msg='',
    category_maxsize=-1,
    nanless_ints=False,
)
Docstring:
Converts the datatypes of a DataFrame or a Series.
If used with a Series:
Similar behavior as pandas astype. But it also accepts
sloppy class names like type_info knows.
If no target datatype is specified, it will be selected automatically.
If used with a DataFrame:
Converts all datatypes automatically.

* category_maxsize: How big can a category get to be suggested as datatype_suggest?
* nanless_ints: Are numpy's integer classes (that don't know NaN) suggested as datatype_suggest?
File:      d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\analyse.py
Type:      function

In [11]:
# example Series, before
pak.analyse_datatypes(df.int_fein)

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_datetime,is_hashable,nan_allowed,mem_usage
0,int_fein,intc,np.int32,int32,True,False,False,True,False,39.1 KB

In [12]:
# example Series, after 
a = pak.change_datatype(df.int_fein)
pak.analyse_datatypes(a)

int_fein             --> pd.Int8

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_datetime,is_hashable,nan_allowed,mem_usage
0,int_fein,int8,pd.Int8,Int8,True,False,False,True,True,19.5 KB

In [13]:
# whole DataFrame
df2 = pak.change_datatype(df)
pak.analyse_cols(df2)

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> np.float32
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 4.8 MB after: 4.7 MB

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,datatype_identified,is_numeric,is_string,is_datetime,is_hashable,...,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,int,True,False,False,True,...,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,int8,pd.Int8,Int8,,int,True,False,False,True,...,1,10,0,9990,10000,0.0,44.79,40.0,90.0,447900.00
2,int_fein,int8,pd.Int8,Int8,,int,True,False,False,True,...,1,255,0,9745,10000,-127.0,0.53,1.0,127.0,5285.00
3,float_summe,float32,np.float32,float32,,float,True,False,False,True,...,1,824,0,9176,10000,-623.0,-197.82,-198.0,218.0,-1978154.12
4,first_name,str,pd.string,string,,string,False,True,False,True,...,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
5,Letter1,str,pd.string,string,,string,False,True,False,True,...,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
6,string_nonan,str,pd.string,string,,string,False,True,False,True,...,1,10000,0,0,10000,005T7I,NaN,NaN,üüDe,NaN
7,string_nan,str,pd.string,string,,string,False,True,False,True,...,1,9049,951,0,10000,00PQ1,NaN,NaN,üümTV8Ä,NaN
8,int_nan,int8,pd.Int8,Int8,,int,True,False,False,True,...,1,128,960,8912,10000,0.0,63.59,64.0,127.0,574840.00
9,float_nan,float32,np.float32,float32,,float,True,False,False,True,...,1,8069,1930,1,10000,0.0,0.50,0.5,1.0,4042.36
10,City,str,pd.string,string,,string,False,True,False,True,...,1,2,3025,6973,10000,Bremen,NaN,NaN,Bremerhaven,NaN
11,List,list,object,object,,list,False,False,False,False,...,1,9405,522,73,10000,"[Adolf, John, Adrian, Dagmar, Kay, Stella]",NaN,NaN,"[Zoe, Uwe]",NaN
12,time,Timestamp,datetime64[ns],datetime64[ns],,datetime,False,False,True,True,...,1,4596,1907,3497,10000,1900-01-21 21:55:38.243051520,NaN,NaN,2023-12-20 02:07:06.334649344,NaN
13,Mix,mix,object,object,,list,False,False,False,False,...,6,7496,79,2425,10000,NaN,NaN,NaN,NaN,NaN

## copy_datatype()

In [14]:
?pak.copy_datatype

Signature: pak.copy_datatype(data_to, data_from)
Docstring:
Copies the dtypes from data_from to data_to.
Usable for Series and DataFrames.
When applied on a DataFrame, it's applied to all column names that match.
File:      d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\pandas.py
Type:      function

In [15]:
# Target
df1 = df.copy()                      # Wrong datatypes
df1 = pak.drop_cols(df1,'int_fein')  # One column is missing

# Template
df2 = pak.change_datatype(df)        # Target datatypes
df2 = pak.drop_cols(df2,'City')      # One column is missing

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> np.float32
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 4.8 MB after: 4.7 MB

In [16]:
result = pak.copy_datatype(df1, df2)

# Result: All columns except 'City' were treated
pak.analyse_cols(result)

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,datatype_identified,is_numeric,is_string,is_datetime,is_hashable,...,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,int,True,False,False,True,...,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,int8,pd.Int8,Int8,,int,True,False,False,True,...,1,10,0,9990,10000,0.0,44.79,40.0,90.0,447900.00
2,float_summe,float32,np.float32,float32,,float,True,False,False,True,...,1,824,0,9176,10000,-623.0,-197.82,-198.0,218.0,-1978154.12
3,first_name,str,pd.string,string,,string,False,True,False,True,...,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
4,Letter1,str,pd.string,string,,string,False,True,False,True,...,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
5,string_nonan,str,pd.string,string,,string,False,True,False,True,...,1,10000,0,0,10000,005T7I,NaN,NaN,üüDe,NaN
6,string_nan,str,pd.string,string,,string,False,True,False,True,...,1,9049,951,0,10000,00PQ1,NaN,NaN,üümTV8Ä,NaN
7,int_nan,int8,pd.Int8,Int8,,int,True,False,False,True,...,1,128,960,8912,10000,0.0,63.59,64.0,127.0,574840.00
8,float_nan,float32,np.float32,float32,,float,True,False,False,True,...,1,8069,1930,1,10000,0.0,0.50,0.5,1.0,4042.36
9,City,str,object,object,pd.string,string,False,False,False,True,...,1,2,3025,6973,10000,Bremen,NaN,NaN,Bremerhaven,NaN
10,List,list,object,object,,list,False,False,False,False,...,1,9405,522,73,10000,"[Adolf, John, Adrian, Dagmar, Kay, Stella]",NaN,NaN,"[Zoe, Uwe]",NaN
11,time,Timestamp,datetime64[ns],datetime64[ns],,datetime,False,False,True,True,...,1,4596,1907,3497,10000,1900-01-21 21:55:38.243051520,NaN,NaN,2023-12-20 02:07:06.334649344,NaN
12,Mix,mix,object,object,,list,False,False,False,False,...,6,7496,79,2425,10000,NaN,NaN,NaN,NaN,NaN

## type_info()

In [17]:
?pak.type_info

Init signature: pak.type_info(search)
Docstring:
Provides information about pandas types and standardises them.
Is initialised with anything, e.g. with the name of a class, or with the class itself.
Or, even better, with a series.
Ex:   i = type_info('Int32')
      i.info()            # returns all attributes, including for example:
      i.class_object      # the class object
      i.name              # the name of the Dtype
      i.name_instance     # type of the contents of the series
      i.instance1         # an example instance that is not NaN
File:           d:\dropbox\31_projekte\01_python\88_pycharm\pandasklar\src\pandasklar\type_info.py
Type:           type
Subclasses:

In [18]:
# Call with class name
i = pak.type_info('uint32')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.uint32',
 'framework': 'np',
 'name_short': 'uint32',
 'name_long': 'np.uint32',
 'class_object': numpy.uint32,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': 0,
 'xmax': 4294967295}

In [19]:
# Call with class name
i = pak.type_info('intc')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.intc',
 'framework': 'np',
 'name_short': 'intc',
 'name_long': 'np.intc',
 'class_object': numpy.intc,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': -2147483648,
 'xmax': 2147483647}

In [20]:
# Call with class name
i = pak.type_info('category')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.category',
 'framework': 'pd',
 'name_short': 'category',
 'name_long': 'pd.Categorical',
 'class_object': pandas.core.arrays.categorical.Categorical,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

In [21]:
# Call with sloppy class name
i = pak.type_info('pd.String')     
i = pak.type_info('str')  
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.string',
 'framework': 'pd',
 'name_short': 'string',
 'name_long': 'pd.StringDtype',
 'class_object': pandas.core.arrays.string_.StringDtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

In [22]:
# Call with class name
i = pak.type_info('StringDtype')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.string',
 'framework': 'pd',
 'name_short': 'string',
 'name_long': 'pd.StringDtype',
 'class_object': pandas.core.arrays.string_.StringDtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

In [23]:
# Call with class name
i = pak.type_info('float16')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.float16',
 'framework': 'np',
 'name_short': 'float16',
 'name_long': 'np.float16',
 'class_object': numpy.float16,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': np.float16(-65500.0),
 'xmax': np.float16(65500.0)}

In [24]:
# Call with class 
i = pak.type_info(np.int16)     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.int16',
 'framework': 'np',
 'name_short': 'int16',
 'name_long': 'np.int16',
 'class_object': numpy.int16,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': -32768,
 'xmax': 32767}

In [25]:
# Call with class
i = pak.type_info(pd.Int64Dtype)     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.Int64',
 'framework': 'pd',
 'name_short': 'Int64',
 'name_long': 'pd.Int64Dtype',
 'class_object': pandas.core.arrays.integer.Int64Dtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': -9223372036854775808,
 'xmax': 9223372036854775807}

In [26]:
# Call with Series
pak.type_info(df.List).info()

{'instance1': ['Anette',
  'Anja',
  'Peter',
  'Arthur',
  'Hanna',
  'Anna',
  'Sascha',
  'Oskar'],
 'instance2': ['Jana', 'Ella', 'Anna', 'Anja', 'Jana', 'Simone', 'Florian'],
 'name': 'object',
 'framework': '',
 'name_short': 'object',
 'name_long': 'object',
 'class_object': object,
 'is_hashable': False,
 'nan_allowed': True,
 'name_instance': 'list',
 'xmin': None,
 'xmax': None}

# Spielwiese

In [27]:
import pytest
import pandas as pd
import numpy as np
from pandasklar.analyse import change_datatype
from bpyth import rtype
import pandasklar as pak
import random

In [29]:
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [30]:
def generate_random_data_tcdt(seed=42, anz=1000):
    """
    Generiert zufällige Testdaten für change_datatype mit einem festen Seed.

    Args:
        seed (int): Der Seed für den Zufallsgenerator.

    Returns:
        pd.DataFrame: Ein DataFrame mit zufälligen Testdaten.
    """
    random.seed(seed)
    np.random.seed(seed)

    # Generate random data
    a = pak.random_series(anz, 'int', min=-500, max=100)
    b = pak.random_series(anz, 'int', min=-127, max=127, p_dup=0)  # keine Dups erlaubt
    c = a + b + 0.0001
    a = a % 10 * 10
    v = pak.random_series(anz, 'name', p_nan=0)
    w = v.str[:1]
    s = pak.random_series(anz, 'string', p_nan=0)
    t = pak.random_series(anz, 'string', p_nan=0.1)
    m = pak.random_series(anz, 'int', min=0, max=127, p_nan=0.1)
    n = pak.random_series(anz, 'float', decimals=4, p_nan=0.2)  # * 70000
    o = pak.random_series(anz, 'choice', choice=['Bremen', 'Bremerhaven'], p_nan=0.3, p_dup=0)
    p = pak.random_series(anz, 'list', p_nan=0.1, p_dup=0.5)
    q = pak.random_series(anz, 'time', p_nan=0.1, p_dup=0.5)
    z = pak.random_series(anz, 'mix', p_nan=0.01, p_dup=0)

    df = pak.dataframe([a, b, c, v, w, s, t, m, n, o, p, q, z], verbose=False)
    df.columns = ['int_grob', 'int_fein', 'float_summe', 'first_name', 'Letter1', 'string_nonan', 'string_nan',
                  'int_nan', 'float_nan', 'City', 'List', 'time', 'Mix']
    df.float_summe = df.float_summe.astype('float')
    return df

In [53]:
        s1 = pd.Series([1, 2, 3], name='test')
        s2 = pd.Series([3, 2, 1], name='test')

In [54]:
df = generate_random_data_tcdt()
dfc= generate_random_data_tcdt()
dfc = change_datatype(dfc)
result = pak.copy_datatype(df, dfc)
result2 = pak.copy_datatype(result, df)

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> np.float32
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 492.5 KB after: 481.4 KB

In [57]:
        df = generate_random_data_tcdt()
        result2 = change_datatype(df)

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> np.float32
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 492.5 KB after: 481.4 KB

In [65]:
comparison = pak.compare_dataframes(df, result2, decimals=None)
comparison

              name  dtype  nnan nan_pat content  sort     eq
int_grob      True  False  True    True    True  True   True
int_fein      True  False  True    True    True  True   True
float_summe   True  False  True    True   False  True  False
first_name    True   True  True    True    True  True   True
Letter1       True   True  True    True    True  True   True
string_nonan  True   True  True    True    True  True   True
string_nan    True   True  True    True    True  True   True
int_nan       True  False  True    True    True  True   True
float_nan     True  False  True    True    True  True  False
City          True  False  True    True    True  True   True
List          True   True  True    True    True  True   True
time          True   True  True    True    True  True   True
Mix           True   True  True    True    True  True   True
(Total)       True  False  True    True   False  True  False

In [61]:
s = df.int_grob
t = result.int_grob

In [62]:
index_s = s.reset_index(drop=True).sort_values().index.to_list()
index_t = t.reset_index(drop=True).sort_values().index.to_list()

In [64]:
index_t

[688,
 612,
 828,
 829,
 601,
 600,
 575,
 96,
 572,
 228,
 93,
 851,
 853,
 214,
 856,
 233,
 564,
 556,
 554,
 81,
 535,
 77,
 875,
 525,
 257,
 266,
 506,
 230,
 502,
 212,
 112,
 711,
 738,
 704,
 166,
 167,
 693,
 680,
 759,
 671,
 765,
 133,
 771,
 110,
 668,
 648,
 645,
 638,
 633,
 629,
 202,
 627,
 803,
 807,
 116,
 115,
 811,
 649,
 898,
 153,
 459,
 327,
 454,
 453,
 41,
 336,
 444,
 440,
 948,
 435,
 14,
 337,
 334,
 331,
 30,
 967,
 978,
 394,
 972,
 401,
 22,
 27,
 396,
 332,
 460,
 969,
 2,
 390,
 9,
 287,
 5,
 477,
 988,
 359,
 990,
 55,
 346,
 479,
 905,
 903,
 184,
 720,
 626,
 345,
 330,
 642,
 171,
 364,
 640,
 683,
 681,
 386,
 187,
 179,
 675,
 695,
 494,
 211,
 205,
 533,
 478,
 722,
 254,
 522,
 517,
 547,
 510,
 283,
 269,
 503,
 480,
 500,
 497,
 265,
 473,
 466,
 558,
 625,
 207,
 618,
 615,
 485,
 409,
 414,
 422,
 310,
 427,
 599,
 452,
 571,
 297,
 236,
 328,
 529,
 353,
 736,
 793,
 809,
 815,
 849,
 88,
 859,
 83,
 867,
 872,
 69,
 68,
 890,
 65,
 64,
 62,
 57,
 56,
 4,
 6,
 986,
 17,
 20,
 970,
 778,
 25,
 951,
 941,
 44,
 48,
 921,
 915,
 957,
 774,
 871,
 746,
 770,
 140,
 741,
 189,
 174,
 268,
 400,
 747,
 511,
 26,
 518,
 395,
 0,
 271,
 523,
 876,
 76,
 152,
 249,
 541,
 138,
 150,
 553,
 739,
 72,
 404,
 965,
 938,
 436,
 296,
 702,
 461,
 958,
 922,
 424,
 312,
 289,
 33,
 145,
 913,
 907,
 170,
 420,
 281,
 482,
 412,
 900,
 411,
 863,
 555,
 543,
 557,
 611,
 676,
 216,
 827,
 825,
 369,
 819,
 343,
 107,
 717,
 773,
 380,
 804,
 992,
 795,
 794,
 665,
 787,
 126,
 996,
 130,
 188,
 650,
 653,
 120,
 991,
 942,
 231,
 857,
 596,
 84,
 587,
 560,
 87,
 12,
 579,
 97,
 569,
 716,
 335,
 137,
 99,
 391,
 429,
 362,
 701,
 439,
 946,
 979,
 968,
 709,
 706,
 985,
 718,
 960,
 374,
 398,
 399,
 989,
 980,
 402,
 659,
 699,
 540,
 548,
 565,
 673,
 762,
 844,
 839,
 582,
 834,
 831,
 602,
 613,
 822,
 614,
 814,
 812,
 800,
 644,
 786,
 538,
 869,
 877,
 520,
 937,
 740,
 936,
 927,
 465,
 469,
 472,
 696,
 743,
 451,
 481,
 487,
 897,
 892,
 891,
 356,
 886,
 755,
 514,
 882,
 483,
 690,
 499,
 109,
 16,
 232,
 340,
 136,
 43,
 154,
 24,
 135,
 315,
 180,
 317,
 158,
 18,
 304,
 157,
 238,
 185,
 239,
 319,
 35,
 246,
 191,
 291,
 101,
 39,
 178,
 263,
 264,
 113,
 201,
 172,
 259,
 173,
 161,
 307,
 151,
 111,
 127,
 237,
 442,
 302,
 714,
 707,
 810,
 713,
 168,
 118,
 570,
 797,
 303,
 234,
 197,
 288,
 524,
 973,
 745,
 519,
 260,
 261,
 735,
 734,
 749,
 512,
 752,
 507,
 757,
 935,
 471,
 539,
 760,
 498,
 544,
 639,
 726,
 766,
 276,
 769,
 552,
 128,
 719,
 286,
 28,
 474,
 272,
 780,
 305,
 526,
 375,
 952,
 604,
 322,
 631,
 194,
 365,
 366,
 8,
 628,
 80,
 50,
 994,
 79,
 389,
 893,
 657,
 656,
 655,
 192,
 879,
 382,
 620,
 37,
 370,
 850,
 854,
 926,
 816,
 821,
 104,
 584,
 586,
 836,
 592,
 593,
 313,
 221,
 679,
 354,
 421,
 36,
 847,
 904,
 46,
 418,
 646,
 53,
 95,
 417,
 624,
 528,
 643,
 635,
 537,
 45,
 200,
 733,
 203,
 147,
 654,
 223,
 577,
 708,
 160,
 964,
 222,
 31,
 966,
 672,
 956,
 945,
 954,
 606,
 240,
 610,
 662,
 215,
 213,
 581,
 551,
 550,
 209,
 721,
 619,
 955,
 42,
 999,
 826,
 855,
 377,
 298,
 124,
 378,
 456,
 67,
 70,
 798,
 301,
 121,
 385,
 117,
 114,
 790,
 388,
 333,
 925,
 835,
 864,
 426,
 311,
 837,
 397,
 987,
 840,
 324,
 408,
 406,
 403,
 934,
 63,
 862,
 274,
 758,
 509,
 54,
 361,
 932,
 347,
 976,
 273,
 515,
 464,
 763,
 764,
 505,
 492,
 490,
 372,
 912,
 468,
 290,
 60,
 781,
 19,
 779,
 59,
 917,
 258,
 768,
 930,
 1,
 666,
 918,
 61,
 865,
 660,
 78,
 73,
 881,
 902,
 49,
 186,
 887,
 933,
 38,
 789,
 715,
 788,
 784,
 782,
 775,
 791,
 129,
 730,
 139,
 732,
 143,
 737,
 148,
 728,
 792,
 123,
 159,
 182,
 841,
 838,
 682,
 685,
 100,
 103,
 175,
 818,
 692,
 108,
 163,
 805,
 796,
 710,
 860,
 761,
 634,
 282,
 279,
 278,
 277,
 489,
 493,
 504,
 267,
 516,
 641,
 256,
 21,
 248,
 247,
 542,
 545,
 242,
 561,
 562,
 253,
 578,
 475,
 462,
 997,
 367,
 3,
 7,
 326,
 320,
 405,
 407,
 292,
 410,
 415,
 423,
 984,
 982,
 448,
 300,
 981,
 458,
 413,
 34,
 916,
 199,
 953,
 206,
 609,
 591,
 597,
 617,
 636,
 447,
 446,
 813,
 106,
 686,
 105,
 449,
 208,
 830,
 428,
 820,
 802,
 122,
 833,
 767,
 486,
 667,
 134,
 777,
 280,
 285,
 947,
 476,
 929,
 217,
 125,
 293,
 661,
 210,
 457,
 663,
 98,
 416,
 314,
 993,
 888,
 371,
 368,
 899,
 901,
 885,
 919,
 909,
 349,
 355,
 350,
 51,
 914,
 908,
 621,
 884,
 383,
 605,
 94,
 848,
 11,
 630,
 195,
 381,
 868,
 387,
 924,
 873,
 874,
 74,
 71,
 338,
 275,
 801,
 496,
 742,
 252,
 351,
 250,
 729,
 594,
 724,
 495,
 245,
 156,
 177,
 744,
 563,
 712,
 573,
 226,
 961,
 703,
 164,
 697,
 225,
 169,
 580,
 40,
 567,
 521,
 198,
 754,
 220,
 931,
 218,
 748,
 977,
 141,
 294,
 870,
 963,
 131,
 339,
 772,
 132,
 923,
 384,
 574,
 484,
 590,
 880,
 950,
 10,
 82,
 323,
 861,
 321,
 85,
 858,
 86,
 89,
 607,
 705,
 883,
 463,
 959,
 603,
 583,
 940,
 224,
 52,
 694,
 488,
 360,
 363,
 920,
 344,
 637,
 896,
 895,
 939,
 165,
 373,
 341,
 889,
 700,
 944,
 379,
 176,
 756,
 162,
 852,
 90,
 204,
 785,
 817,
 306,
 437,
 438,
 532,
 441,
 443,
 445,
 530,
 808,
 149,
 91,
 806,
 943,
 928,
 527,
 684,
 450,
 799,
 658,
 299,
 255,
 262,
 598,
 295,
 616,
 433,
 546,
 823,
 29,
 753,
 651,
 846,
 845,
 243,
 843,
 316,
 664,
 974,
 536,
 725,
 751,
 678,
 832,
 677,
 824,
 983,
 513,
 309,
 308,
 102,
 15,
 467,
 13,
 949,
 32,
 47,
 23,
 975,
 962,
 995,
 971,
 352,
 910,
 501,
 270,
 508,
 531,
 534,
 251,
 244,
 998,
 549,
 559,
 235,
 566,
 568,
 229,
 227,
 576,
 241,
 491,
 284,
 470,
 357,
 358,
 348,
 342,
 376,
 392,
 393,
 329,
 325,
 318,
 419,
 425,
 430,
 431,
 432,
 434,
 455,
 585,
 588,
 589,
 595,
 731,
 146,
 144,
 142,
 750,
 776,
 783,
 119,
 842,
 92,
 866,
 75,
 878,
 66,
 894,
 58,
 906,
 727,
 911,
 723,
 698,
 219,
 608,
 622,
 623,
 632,
 196,
 647,
 193,
 652,
 190,
 669,
 670,
 183,
 674,
 687,
 689,
 691,
 155,
 181]