In [2]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at /media/me/DATA/Dropbox/31_Projekte/01_Python/libs
Start Time: 17:46:11

time: 765 ms

# Analyse Datatypes
* `analyse_datatypes`: Returns info about the datatypes and the mem_usage of the columns of a DataFrame 
* `analyse_values`: Returns statistical data for a DataFrame, a Series or an Index 
* `analyse_cols`: Describes the datatypes and the content of a DataFrame. Merged info from analyse_datatypes and analyse_values
* `change_datatype`: Converts the datatypes of a DataFrame or a Series. Automatically, if you want.
* `copy_datatype`: Copies the dtypes from one dataframe to another, matching the column names.

In [3]:
import numpy     as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 1.47 s

In [4]:
# Generate random data
anz = 10000
a = pak.random_series( anz, 'int',   min=-500, max=100 )
b = pak.random_series( anz, 'int',   min=-127, max=127, p_dup=0 ) # keine Dups erlaubt
c = a + b
a = a % 10 * 10
v = pak.random_series( anz, 'name',                  p_nan=0)
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0)
t = pak.random_series( anz, 'string',                p_nan=0.1)
m = pak.random_series( anz, 'int',   min=0, max=127, p_nan=0.1 )
n = pak.random_series( anz, 'float',                 p_nan=0.2 ) #* 70000
o = pak.random_series( anz, 'choice', choice=['Bremen','Bremerhaven'], p_nan=0.3,   p_dup=0     )
p = pak.random_series( anz, 'list',                                    p_nan=0.1,   p_dup=0.5   )
z = pak.random_series( anz, 'mix',                                     p_nan=0.1,   p_dup=0     )

df = pak.dataframe( [a, b, c, v, w, s, t, m, n, o, p, z], verbose=False)
df.columns = ['int_grob','int_fein','float_summe','first_name','Letter1','string_nonan','string_nan','int_nan','float_nan','City','List','Mix']
df.float_summe = df.float_summe.astype('float')
pak.sample(df)

,int_grob,int_fein,float_summe,first_name,Letter1,string_nonan,string_nan,int_nan,float_nan,City,List,Mix
0,90,-87,-578.0,Vanessa,V,i8e04yÜ,jtut0Vö,56,0.582,Bremen,"[Louis, Sylvia, Tanja, Anja, Jana, Anneliese, ...",{0}
1,0,-72,-172.0,Tanja,T,u0üC,fwü6V2,0,0.290,Bremerhaven,"[Kerstin, Tom, Frieda, Anna, Rolf]",ö4f8L6nRgG2
2753,80,4,-18.0,Manuela,M,kFbv5,uLül,83,0.506,Bremen,"[Tom, Mike, Victoria, Vanessa, Gisela, Tom, Le...",0.5245
2942,60,-32,-466.0,Timm,T,czÄlR,ÖRqjDJI,22,0.632,Bremerhaven,"[Daniela, Björn, Martina, Torben, Tom, Tanja, ...",8hÖo
4292,50,-125,-530.0,Lilly,L,x6aBCe,uWij7j,101,0.556,Bremerhaven,"[Caroline, Ole, Rolf, Amelie]",Anette
9998,70,-43,-6.0,Anja,A,DRbä,<NA>,<NA>,0.627,Bremen,"[Martha, Tanja, Anna, Andreas, Tom, Kai, Tom]","[Mia, Gerhard, Katrin, Maik, Niclas, Eileen]"
9999,20,56,-422.0,Anneliese,A,iZoplm,ZWep,72,0.533,Bremerhaven,"[Marco, Tanja, Anna]",Maja

time: 5.55 s

## analyse_datatypes()

In [5]:
?pak.analyse_datatypes

time: 82.4 ms

Signature: pak.analyse_datatypes(df, with_index=True)
Docstring: Returns info about the datatypes and the mem_usage of the columns of a DataFrame
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [6]:
a = pak.analyse_datatypes(df)
a

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_hashable,nan_allowed,mem_usage
col_no,,,,,,,,,
0,__index__,int64,np.int64,int64,True,False,True,False,78.1 KB
1,int_grob,int64,np.int64,int64,True,False,True,False,78.1 KB
2,int_fein,int64,np.int64,int64,True,False,True,False,78.1 KB
3,float_summe,float64,np.float64,float64,True,False,True,True,78.1 KB
4,first_name,str,pd.string,string,False,True,True,True,612.1 KB
5,Letter1,str,pd.string,string,False,True,True,True,566.4 KB
6,string_nonan,str,pd.string,string,False,True,True,True,726.7 KB
7,string_nan,str,pd.string,string,False,True,True,True,692.1 KB
8,int_nan,int64,pd.Int64,Int64,True,False,True,True,87.9 KB
9,float_nan,float64,np.float64,float64,True,False,True,True,78.1 KB
10,City,str,object,object,False,True,True,True,543.3 KB
11,List,list,object,object,False,True,False,True,912.5 KB
12,Mix,mix,object,object,False,True,False,True,597.9 KB

time: 73.1 ms

## analyse_values()

In [7]:
?pak.analyse_values

time: 70.9 ms

Signature:
pak.analyse_values(
    data,
    as_list=False,
    as_dict=False,
    sort=False,
    with_index=True,
    nanless_ints=False,
)
Docstring: Returns statistical data for a DataFrame, a Series or an Index
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [8]:
pak.analyse_values(df)

,col_name,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum,datatype_suggest
col_no,,,,,,,,,,,,
0,__index__,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00,np.int16
1,int_grob,1,10,0,9990,10000,0.0,45.23,50.0,90.0,452320.00,pd.Int8
2,int_fein,1,255,0,9745,10000,-127.0,0.08,0.0,127.0,778.00,pd.Int8
3,float_summe,1,826,0,9174,10000,-622.0,-201.25,-202.0,222.0,-2012540.00,pd.Int16
4,first_name,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN,
5,Letter1,1,24,0,9976,10000,A,NaN,NaN,Z,NaN,
6,string_nonan,1,10000,0,0,10000,00XB,NaN,NaN,üüo6,NaN,
7,string_nan,1,8987,1013,0,10000,00Ga8,NaN,NaN,üü0ü,NaN,
8,int_nan,1,128,985,8887,10000,0.0,63.31,63.0,127.0,570701.00,pd.Int8
9,float_nan,1,1000,1983,7017,10000,0.0,0.50,0.5,1.0,4014.51,np.float32
10,City,1,2,2945,7053,10000,NaN,NaN,NaN,NaN,NaN,pd.string
11,List,1,9465,455,80,10000,NaN,NaN,NaN,NaN,NaN,
12,Mix,5,6482,936,2582,10000,NaN,NaN,NaN,NaN,NaN,

time: 165 ms

## analyse_cols()

In [9]:
?pak.analyse_cols

time: 23.2 ms

Signature: pak.analyse_cols(df, sort=False, with_index=True)
Docstring:
Describes the datatypes and the content of a DataFrame.
Merged info from analyse_datatypes and analyse_values.
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [10]:
pak.analyse_cols(df)

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,is_numeric,is_string,is_hashable,nan_allowed,mem_usage,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,True,False,True,False,78.1 KB,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,int64,np.int64,int64,pd.Int8,True,False,True,False,78.1 KB,1,10,0,9990,10000,0.0,45.23,50.0,90.0,452320.00
2,int_fein,int64,np.int64,int64,pd.Int8,True,False,True,False,78.1 KB,1,255,0,9745,10000,-127.0,0.08,0.0,127.0,778.00
3,float_summe,float64,np.float64,float64,pd.Int16,True,False,True,True,78.1 KB,1,826,0,9174,10000,-622.0,-201.25,-202.0,222.0,-2012540.00
4,first_name,str,pd.string,string,,False,True,True,True,613.1 KB,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
5,Letter1,str,pd.string,string,,False,True,True,True,566.4 KB,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
6,string_nonan,str,pd.string,string,,False,True,True,True,726.7 KB,1,10000,0,0,10000,00XB,NaN,NaN,üüo6,NaN
7,string_nan,str,pd.string,string,,False,True,True,True,692.1 KB,1,8987,1013,0,10000,00Ga8,NaN,NaN,üü0ü,NaN
8,int_nan,int64,pd.Int64,Int64,pd.Int8,True,False,True,True,87.9 KB,1,128,985,8887,10000,0.0,63.31,63.0,127.0,570701.00
9,float_nan,float64,np.float64,float64,np.float32,True,False,True,True,78.1 KB,1,1000,1983,7017,10000,0.0,0.50,0.5,1.0,4014.51
10,City,str,object,object,pd.string,False,True,True,True,543.3 KB,1,2,2945,7053,10000,NaN,NaN,NaN,NaN,NaN
11,List,list,object,object,,False,True,False,True,912.5 KB,1,9465,455,80,10000,NaN,NaN,NaN,NaN,NaN
12,Mix,mix,object,object,,False,True,False,True,598.1 KB,5,6482,936,2582,10000,NaN,NaN,NaN,NaN,NaN

time: 204 ms

## change_datatype()

In [11]:
?pak.change_datatype

time: 28.5 ms

Signature:
pak.change_datatype(
    data,
    search=None,
    verbose=None,
    msg='',
    category_maxsize=-1,
    nanless_ints=False,
)
Docstring:
Converts the datatypes of a DataFrame or a Series.
If used with a Series:    Similar behavior as pandas astype. But it also accepts sloppy class names like type_info knows.
                          If no target datatype is specified, it will be selected automatically.
If used with a DataFrame: Converts all datatypes automatically.

* category_maxsize: How big can a category get to be suggested as datatype_suggest?
* nanless_ints: Are numpy's integer classes (that don't know NaN) suggested as datatype_suggest?
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [12]:
# example Series, before
pak.analyse_datatypes(df.int_fein)

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_hashable,nan_allowed,mem_usage
0,int_fein,int64,np.int64,int64,True,False,True,False,78.1 KB

time: 82.5 ms

In [13]:
# example Series, after 
a = pak.change_datatype(df.int_fein)
pak.analyse_datatypes(a)

int_fein             --> pd.Int8

,col_name,datatype_instance,datatype,datatype_short,is_numeric,is_string,is_hashable,nan_allowed,mem_usage
0,int_fein,int8,pd.Int8,Int8,True,False,True,True,19.5 KB

time: 90.3 ms

In [14]:
# whole DataFrame
df2 = pak.change_datatype(df)
pak.analyse_cols(df2)

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> pd.Int16
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 4.9 MB after: 4.7 MB

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,is_numeric,is_string,is_hashable,nan_allowed,mem_usage,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,True,False,True,False,78.1 KB,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,int8,pd.Int8,Int8,,True,False,True,True,19.5 KB,1,10,0,9990,10000,0.0,45.23,50.0,90.0,452320.00
2,int_fein,int8,pd.Int8,Int8,,True,False,True,True,19.5 KB,1,255,0,9745,10000,-127.0,0.08,0.0,127.0,778.00
3,float_summe,int16,pd.Int16,Int16,,True,False,True,True,29.3 KB,1,826,0,9174,10000,-622.0,-201.25,-202.0,222.0,-2012540.00
4,first_name,str,pd.string,string,,False,True,True,True,613.1 KB,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
5,Letter1,str,pd.string,string,,False,True,True,True,566.4 KB,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
6,string_nonan,str,pd.string,string,,False,True,True,True,726.7 KB,1,10000,0,0,10000,00XB,NaN,NaN,üüo6,NaN
7,string_nan,str,pd.string,string,,False,True,True,True,692.1 KB,1,8987,1013,0,10000,00Ga8,NaN,NaN,üü0ü,NaN
8,int_nan,int8,pd.Int8,Int8,,True,False,True,True,19.5 KB,1,128,985,8887,10000,0.0,63.31,63.0,127.0,570701.00
9,float_nan,float32,np.float32,float32,,True,False,True,True,39.1 KB,1,1000,1983,7017,10000,0.0,0.50,0.5,1.0,4014.51
10,City,str,pd.string,string,,False,True,True,True,566.3 KB,1,2,2945,7053,10000,Bremen,NaN,NaN,Bremerhaven,NaN
11,List,list,object,object,,False,True,False,True,912.5 KB,1,9465,455,80,10000,NaN,NaN,NaN,NaN,NaN
12,Mix,mix,object,object,,False,True,False,True,598.1 KB,5,6482,936,2582,10000,NaN,NaN,NaN,NaN,NaN

time: 385 ms

## copy_datatype()

In [15]:
?pak.copy_datatype

time: 24 ms

Signature: pak.copy_datatype(data_to, data_from)
Docstring:
Copies the dtypes from data_from to data_to.
Usable for Series and DataFrames.
When applied on a DataFrame, it's applied to all column names that match.
File:      /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [16]:
# Target
df1 = df.copy()                      # Wrong datatypes
df1 = pak.drop_cols(df1,'int_fein')  # One column is missing

# Template
df2 = pak.change_datatype(df)        # Target datatypes
df2 = pak.drop_cols(df2,'City')      # One column is missing

change_datatype
int_grob             --> pd.Int8
int_fein             --> pd.Int8
float_summe          --> pd.Int16
int_nan              --> pd.Int8
float_nan            --> np.float32
City                 --> pd.string
change_datatype before: 4.9 MB after: 4.7 MB

time: 229 ms

In [17]:
result = pak.copy_datatype(df1, df2)

# Result: All columns except 'City' were treated
pak.analyse_cols(result)

,col_name,datatype_instance,datatype,datatype_short,datatype_suggest,is_numeric,is_string,is_hashable,nan_allowed,mem_usage,ntypes,nunique,nnan,ndups,n,vmin,vmean,vmedian,vmax,vsum
0,__index__,int64,np.int64,int64,np.int16,True,False,True,False,78.1 KB,1,10000,0,0,10000,0.0,4999.50,4999.5,9999.0,49995000.00
1,int_grob,int8,pd.Int8,Int8,,True,False,True,True,19.5 KB,1,10,0,9990,10000,0.0,45.23,50.0,90.0,452320.00
2,float_summe,int16,pd.Int16,Int16,,True,False,True,True,29.3 KB,1,826,0,9174,10000,-622.0,-201.25,-202.0,222.0,-2012540.00
3,first_name,str,pd.string,string,,False,True,True,True,613.1 KB,1,435,0,9565,10000,Adolf,NaN,NaN,Zoe,NaN
4,Letter1,str,pd.string,string,,False,True,True,True,566.4 KB,1,24,0,9976,10000,A,NaN,NaN,Z,NaN
5,string_nonan,str,pd.string,string,,False,True,True,True,726.7 KB,1,10000,0,0,10000,00XB,NaN,NaN,üüo6,NaN
6,string_nan,str,pd.string,string,,False,True,True,True,692.1 KB,1,8987,1013,0,10000,00Ga8,NaN,NaN,üü0ü,NaN
7,int_nan,int8,pd.Int8,Int8,,True,False,True,True,19.5 KB,1,128,985,8887,10000,0.0,63.31,63.0,127.0,570701.00
8,float_nan,float32,np.float32,float32,,True,False,True,True,39.1 KB,1,1000,1983,7017,10000,0.0,0.50,0.5,1.0,4014.51
9,City,str,object,object,pd.string,False,True,True,True,543.3 KB,1,2,2945,7053,10000,NaN,NaN,NaN,NaN,NaN
10,List,list,object,object,,False,True,False,True,912.5 KB,1,9465,455,80,10000,NaN,NaN,NaN,NaN,NaN
11,Mix,mix,object,object,,False,True,False,True,598.1 KB,5,6482,936,2582,10000,NaN,NaN,NaN,NaN,NaN

time: 188 ms

## type_info()

In [18]:
?pak.type_info

time: 31.8 ms

Init signature: pak.type_info(search)
Docstring:
Provides information about pandas types and standardises them.
Is initialised with anything, e.g. with the name of a class, or with the class itself.
Or, even better, with a series.
Ex:   i = type_info('Int32')
      i.info()            # returns all attributes, including for example:
      i.class_object      # the class object
      i.name              # the name of the Dtype
      i.name_instance     # type of the contents of the series
      i.instance1         # an example instance that is not NaN
File:           /media/me/DATA/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/type_info.py
Type:           type
Subclasses:

In [19]:
# Call with class name
i = pak.type_info('uint32')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.uint32',
 'framework': 'np',
 'name_short': 'uint32',
 'name_long': 'np.uint32',
 'class_object': numpy.uint32,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': 0,
 'xmax': 4294967295}

time: 74 ms

In [20]:
# Call with class name
i = pak.type_info('intc')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.intc',
 'framework': 'np',
 'name_short': 'intc',
 'name_long': 'np.intc',
 'class_object': numpy.int32,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': -2147483648,
 'xmax': 2147483647}

time: 61.9 ms

In [21]:
# Call with class name
i = pak.type_info('category')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.category',
 'framework': 'pd',
 'name_short': 'category',
 'name_long': 'pd.Categorical',
 'class_object': pandas.core.arrays.categorical.Categorical,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

time: 78.6 ms

In [22]:
# Call with sloppy class name
i = pak.type_info('pd.String')     
i = pak.type_info('str')  
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.string',
 'framework': 'pd',
 'name_short': 'string',
 'name_long': 'pd.StringDtype',
 'class_object': pandas.core.arrays.string_.StringDtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

time: 76.8 ms

In [23]:
# Call with class name
i = pak.type_info('StringDtype')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.string',
 'framework': 'pd',
 'name_short': 'string',
 'name_long': 'pd.StringDtype',
 'class_object': pandas.core.arrays.string_.StringDtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': None,
 'xmax': None}

time: 59.3 ms

In [24]:
# Call with class name
i = pak.type_info('float16')     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.float16',
 'framework': 'np',
 'name_short': 'float16',
 'name_long': 'np.float16',
 'class_object': numpy.float16,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': -65500.0,
 'xmax': 65500.0}

time: 65.4 ms

In [25]:
# Call with class 
i = pak.type_info(np.int16)     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'np.int16',
 'framework': 'np',
 'name_short': 'int16',
 'name_long': 'np.int16',
 'class_object': numpy.int16,
 'is_hashable': True,
 'nan_allowed': False,
 'name_instance': '',
 'xmin': -32768,
 'xmax': 32767}

time: 103 ms

In [26]:
# Call with class
i = pak.type_info(pd.Int64Dtype)     
i.info()

{'instance1': None,
 'instance2': None,
 'name': 'pd.Int64',
 'framework': 'pd',
 'name_short': 'Int64',
 'name_long': 'pd.Int64Dtype',
 'class_object': pandas.core.arrays.integer.Int64Dtype,
 'is_hashable': True,
 'nan_allowed': True,
 'name_instance': '',
 'xmin': -9223372036854775808,
 'xmax': 9223372036854775807}

time: 63.1 ms

In [27]:
# Call with Series
pak.type_info(df.List).info()

{'instance1': ['Louis',
  'Sylvia',
  'Tanja',
  'Anja',
  'Jana',
  'Anneliese',
  'Bianca',
  'Johannes',
  'Tanja'],
 'instance2': ['Marco', 'Tanja', 'Anna'],
 'name': 'object',
 'framework': '',
 'name_short': 'object',
 'name_long': 'object',
 'class_object': object,
 'is_hashable': False,
 'nan_allowed': True,
 'name_instance': 'list',
 'xmin': None,
 'xmax': None}

time: 120 ms