__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/15_Analyse_Redundancy.ipynb)__

# Analyse uniqueness, discrepancies und redundancy
* `analyse_groups`: Analyses a DataFrame for uniqueness and redundancy.
* `same_but_different`: Returns the rows of a DataFrame that are the same on the one hand and different on the other: They are the same in the fields named in same. And they differ in the field named in different. This is useful for analysing whether fields correlate 100% with each other or are independent.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:41:02

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
#pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

In [3]:
# Generate random data
anz = 500
v = pak.random_series( anz, 'name',                  p_nan=0)
w = v.str[:1]
g = pak.random_series( anz, 'int',   min=2, max=7 ) * 10

s = pak.random_series( anz, 'string',                p_nan=0)
o = pak.random_series( anz, 'choice', choice=['Bremen','Berlin','Hamburg'], p_nan=0.2   )
p = pak.random_series( anz, 'choice', choice=['cats','dogs']   )
a = pak.random_series( anz, 'int',   min=0, max=anz*10, p_dup=0 ) # there will be no dups
b = pak.random_series( anz, 'int',   min=0, max=anz-10          ) # there will be 10 dups

df = pak.dataframe( [ v, w, g, s, o, p, a, b] )
df.columns = ['first_name','firstletter','age_class','secret','city','loves','int_fine','int_rough',]
df

,first_name,firstletter,age_class,secret,city,loves,int_fine,int_rough
0,Käthe,K,50,MÜXU,NaN,cats,1994,363
1,Anja,A,60,Ü9äd8,Berlin,dogs,1701,154
2,Simon,S,70,IcLÖ6hm,Bremen,dogs,3820,217
3,Siegfried,S,30,xaiä,NaN,cats,4360,412
4,Otto,O,20,IÖaTÖrG,Berlin,cats,439,185
...,...,...,...,...,...,...,...,...
495,Gerhard,G,60,4aH5MRS,Berlin,cats,794,363
496,Anni,A,20,dnrow,Berlin,cats,1379,229
497,Heinrich,H,70,NaVmü,Berlin,cats,2456,269
498,Ali,A,40,28wg5uÖ,Hamburg,cats,657,406
499,Ole,O,20,olAwgs,Bremen,dogs,3945,395

## analyse_groups

In [4]:
?pak.analyse_groups

Signature: pak.analyse_groups(df, exclude=[], tiefe_max=3)
Docstring:
Analyses a DataFrame for uniqueness and redundancy.
Groups by many combinations of columns and counts the duplicates that are created in the process.
Interpretation:
0 dups => This combination of columns is unique
Same number of dups than other combination of columns => Indication of redundancy
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [5]:
# Analyse for uniqueness and redundancy
a = pak.analyse_groups(df)
a

                      columns  level  dups_abs  dups_rel
0                    [secret]      1         0     0.000
1                  [int_fine]      1         0     0.000
2     [int_rough, first_name]      2         0     0.000
3    [int_rough, firstletter]      2         0     0.000
4      [int_rough, age_class]      2         2     0.004
5           [int_rough, city]      2         2     0.004
6          [int_rough, loves]      2         5     0.010
7                 [int_rough]      1         9     0.018
8     [first_name, age_class]      2        16     0.032
9          [first_name, city]      2        23     0.046
10        [first_name, loves]      2        38     0.076
11               [first_name]      1        65     0.130
12  [first_name, firstletter]      2        65     0.130
13   [firstletter, age_class]      2       374     0.748
14        [firstletter, city]      2       413     0.826
15       [firstletter, loves]      2       453     0.906
16              [firstletter]      1       476     0.952
17          [age_class, city]      2       476     0.952
18         [age_class, loves]      2       488     0.976
19              [city, loves]      2       492     0.984
20                [age_class]      1       494     0.988
21                     [city]      1       496     0.992
22                    [loves]      1       498     0.996

_Interpretation:_ 
 * column `int_fine` uniquely identifies all records
 * column `secret` uniquely identifies all records
 * columns `first_name` and `int_rough` uniquely identify all records together (this depends on te random data)
 * column `firstletter` is redundant to `first_name`

## same_but_different

In [6]:
?pak.same_but_different

Signature: pak.same_but_different(df, same, different, sort=True, return_mask=False)
Docstring:
Returns the rows of a DataFrame that are the same on the one hand and different on the other:
They are the same in the fields named in same.
And they differ in the field named in different.
This is useful for analysing whether fields correlate 100% with each other or are independent.
* same:       Array of column names.
* different:  Single column name.  This column is used to search for differences.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/analyse.py
Type:      function

In [7]:
# There is one discrepancy in the dataframe

df2 = pak.dataframe( [ list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('Packese#'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'),       
                      list('Packesel'),                     
                ] )
df2

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  #
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

In [8]:
# no discrepancy in column E
pak.same_but_different(df2, ['A','B','C','D'], 'E')

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

In [9]:
# but in column H
pak.same_but_different(df2, ['A','B','C','D'], 'H')

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  #
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

In [10]:
# Another example with the DataFrame from above
# (if you don't see any result, run the notebook again to generate different random data)
pak.same_but_different( df, same=['first_name','age_class','city'], different='loves' )

,first_name,firstletter,age_class,secret,city,loves,int_fine,int_rough
406,Carsten,C,60,TAG3OoY,Hamburg,cats,2739,111
464,Carsten,C,60,Pkyely,Hamburg,dogs,3379,52
469,Tanja,T,50,mP0W,Berlin,dogs,3307,473
489,Tanja,T,50,5dlFcxC,Berlin,cats,2014,389