In [2]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 15:40:25

time: 1.12 s

# Analyse uniqueness, discrepancies und redundancy
* `analyse_groups`: Analyses a DataFrame for uniqueness and redundancy.
* `same_but_different`: Returns the rows of a DataFrame that are the same on the one hand and different on the other: They are the same in the fields named in same. And they differ in the field named in different. This is useful for analysing whether fields correlate 100% with each other or are independent.

In [3]:
#import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 
grid = pak.grid

time: 3.38 s

In [4]:
# Generate random data
anz = 500
v = pak.random_series( anz, 'name',                  p_nan=0)
w = v.str[:1]
g = pak.random_series( anz, 'int',   min=2, max=7 ) * 10

s = pak.random_series( anz, 'string',                p_nan=0)
o = pak.random_series( anz, 'choice', choice=['Bremen','Berlin','Hamburg'], p_nan=0.2   )
p = pak.random_series( anz, 'choice', choice=['cats','dogs']   )
a = pak.random_series( anz, 'int',   min=0, max=anz*10, p_dup=0 ) # there will be no dups
b = pak.random_series( anz, 'int',   min=0, max=anz-10          ) # there will be 10 dups

df = pak.dataframe( [ v, w, g, s, o, p, a, b] )
df.columns = ['first_name','firstletter','age_class','secret','city','loves','int_fine','int_rough',]
df

,first_name,firstletter,age_class,secret,city,loves,int_fine,int_rough
0,Anja,A,70,üKAUeoW,NaN,dogs,1755,408
1,Franz,F,30,0IUylYf,Hamburg,cats,2144,342
2,Tanja,T,60,Q9Oi,Berlin,cats,994,337
3,Bernd,B,40,j2Az7t,Bremen,cats,2918,360
4,Milena,M,20,tnäd,NaN,cats,4934,470
...,...,...,...,...,...,...,...,...
495,Mathias,M,50,öC5v,Bremen,cats,3418,210
496,Benedikt,B,50,CZe0rÜl,NaN,dogs,583,340
497,Tanja,T,40,guoQAvu,Berlin,dogs,1445,466
498,Vincent,V,20,LRÄumb,NaN,dogs,4083,252
499,Tanja,T,30,heNmuX,Hamburg,dogs,1448,198

time: 291 ms

## analyse_groups

In [5]:
?pak.analyse_groups

time: 234 ms

Signature: pak.analyse_groups(df, exclude=[], tiefe_max=3)
Docstring:
Analyses a DataFrame for uniqueness and redundancy.
Groups by many combinations of columns and counts the duplicates that are created in the process.
Interpretation:
0 dups => This combination of columns is unique
Same number of dups than other combination of columns => Indication of redundancy
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [6]:
# Analyse for uniqueness and redundancy
a = pak.analyse_groups(df)
a

                      columns  level  dups_abs  dups_rel
0                  [int_fine]      1         0     0.000
1                    [secret]      1         0     0.000
2     [int_rough, first_name]      2         1     0.002
3    [int_rough, firstletter]      2         1     0.002
4      [int_rough, age_class]      2         1     0.002
5           [int_rough, city]      2         2     0.004
6          [int_rough, loves]      2         5     0.010
7                 [int_rough]      1         9     0.018
8     [first_name, age_class]      2        16     0.032
9          [first_name, city]      2        25     0.050
10        [first_name, loves]      2        39     0.078
11               [first_name]      1        65     0.130
12  [first_name, firstletter]      2        65     0.130
13   [firstletter, age_class]      2       371     0.742
14        [firstletter, city]      2       410     0.820
15       [firstletter, loves]      2       453     0.906
16              [firstletter]      1       476     0.952
17          [age_class, city]      2       476     0.952
18         [age_class, loves]      2       488     0.976
19              [city, loves]      2       492     0.984
20                [age_class]      1       494     0.988
21                     [city]      1       496     0.992
22                    [loves]      1       498     0.996

time: 297 ms

_Interpretation:_ 
 * column `int_fine` uniquely identifies all records
 * column `secret` uniquely identifies all records
 * columns `first_name` and `int_rough` uniquely identify all records together (this depends on te random data)
 * column `firstletter` is redundant to `first_name`

## same_but_different

In [7]:
?pak.same_but_different

time: 235 ms

Signature: pak.same_but_different(df, same, different, sort=True, return_mask=False)
Docstring:
Returns the rows of a DataFrame that are the same on the one hand and different on the other:
They are the same in the fields named in same.
And they differ in the field named in different.
This is useful for analysing whether fields correlate 100% with each other or are independent.
* same:       Array of column names.
* different:  Single column name.  This column is used to search for differences.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [13]:
# There is one discrepancy in the dataframe

df2 = pak.dataframe( [ list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('Packese#'), 
                      list('Packesel'), 
                      list('Packesel'), 
                      list('Packesel'),       
                      list('Packesel'),                     
                ] )
df2

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  #
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

time: 272 ms

In [11]:
# no discrepancy in column E
pak.same_but_different(df2, ['A','B','C','D'], 'E')

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

time: 259 ms

In [14]:
# but in column H
pak.same_but_different(df2, ['A','B','C','D'], 'H')

   A  B  C  D  E  F  G  H
0  P  a  c  k  e  s  e  l
1  P  a  c  k  e  s  e  l
2  P  a  c  k  e  s  e  l
3  P  a  c  k  e  s  e  #
4  P  a  c  k  e  s  e  l
5  P  a  c  k  e  s  e  l
6  P  a  c  k  e  s  e  l
7  P  a  c  k  e  s  e  l

time: 276 ms

In [8]:
# Another example with the DataFrame from above
# (if you don't see any result, run the notebook again to generate different random data)
pak.same_but_different( df, same=['first_name','age_class','city'], different='loves' )

,first_name,firstletter,age_class,secret,city,loves,int_fine,int_rough
478,Anna,A,50,NÖe0iuC,Berlin,cats,369,422
486,Anna,A,50,J0iwaP,Berlin,dogs,2203,367
172,Rene,R,50,epKa5bg,Bremen,dogs,3595,284
487,Rene,R,50,xtiWMf,Bremen,cats,2277,19
473,Tanja,T,30,üäeVöa,Hamburg,cats,2615,445
499,Tanja,T,30,heNmuX,Hamburg,dogs,1448,198

time: 246 ms