# Select

In [7]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox

time: 4.98 ms (started: 2022-02-14 07:51:57 +00:00)

In [8]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 549 µs (started: 2022-02-14 07:51:57 +00:00)

In [9]:
# Testdaten
df = pak.leute()
neuer_index = pak.random_series(df.shape[0], 'string', len_min=1, len_max=1, p_dup=0.3, name='index')
df.index = neuer_index
df

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
index,,,,,,,,
L,Peter,28,20,93109,Berlin,OMxPW,{o},"[c, b, a]"
G,Anja,30,30,40727,<NA>,QÜXGXöFKC,"{g, C, f, 5, G}","[b, b, a, b]"
V,Jacqueline,35,30,65882,Berlin,au0thÖ,{h},"[A, B, C]"
u,Jakob,32,30,71091,<NA>,üZgÜvaPC,"{3, i, s}",[]
b,Kira,35,30,32581,<NA>,5H72sihC3,"{e, o}","[a, b, c]"
...,...,...,...,...,...,...,...,...
B,Elfriede,28,20,44268,Bremen,osn5cVa0,{0},"[A, B, C, C]"
z,Tobias,28,20,66717,Bremen,hpbüeFV,"{e, c, l, v}","[A, x]"
q,Yasmin,33,30,89437,Bremen,7AUg0äüoj,"{L, K, 4, g}","[c, b, a]"
W,Angela,25,20,11201,Bremen,üLtÜ56Ku,"{O, x}","[c, b, a]"
M,Carsten,28,20,16936,<NA>,PdYq3,"{n, c, C, z, 0}","[b, b, a, b]"

time: 61.1 ms (started: 2022-02-14 07:51:57 +00:00)

## Spalten wählen

In [10]:
# Einzelne Spalte nach Label wählen
result = df['vorname']
print(type(result))
result.head(3)

<class 'pandas.core.series.Series'>

index
L         Peter
G          Anja
V    Jacqueline
Name: vorname, dtype: string

time: 2.95 ms (started: 2022-02-14 07:51:57 +00:00)

In [11]:
# Mehrere Spalte nach Label wählen
spalten = ['vorname', 'alter']
result = df[spalten]
result.head(3)

          vorname  alter
index
L           Peter     28
G            Anja     30
V      Jacqueline     35

time: 4.7 ms (started: 2022-02-14 07:51:57 +00:00)

In [12]:
# Spalten nach Datentyp auswählen
pak.col_names(df, only='str')

['vorname', 'geburtsstadt', 'passwort']

time: 7.98 ms (started: 2022-02-14 07:51:57 +00:00)

In [13]:
?pak.col_names

time: 45.2 ms (started: 2022-02-14 07:51:57 +00:00)

Signature:
pak.col_names(
    df,
    only='',
    without='XXXXXX',
    as_list=True,
    query=None,
    sort=False,
)
Docstring:
selektiert Spaltennamen auf Basis von analyse_cols. Sinnvoll um eine Methode auf bestimmte Spalten eines DataFrame anzuwenden.
* only:     Nur Spaltennamen, deren datatype so beginnt
* without:  Ohne Spaltennamen, deren datatype so beginnt
* as_list:  Ergebnis als Liste ausgeben (sonst als DataFrame, sinnvoll zur Entwicklung und Kontrolle)
* sort: nach nunique sortiert
datatypes werden aus analyse_datatypes, Feld datatype_short oder datatype_instance entnommen.

Beispiel: Alle str-Spalten mit fillna behandeln
cols = col_names(df, only='str', query='nnan > 0')
df[cols] = df[cols].fillna('')
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/analyse.py
Type:      function

## Zeilen wählen

In [14]:
# Eine oder mehrere Zeilen nach Index
result = df.loc['e']
print(type(result)) # Series, wenn nur eine Zeile. Dataframe, wenn mehrere Zeilen.
result

<class 'pandas.core.frame.DataFrame'>

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
index,,,,,,,,
e,Lara,32,30,29320,Berlin,zeeszeÄic,"{L, K, 4, g}","[A, C, C, B]"
e,Alexandra,33,30,<NA>,Berlin,qÖüazFJiIe,"{4, F, J}","[a, b, c]"

time: 9.57 ms (started: 2022-02-14 07:51:57 +00:00)

In [15]:
# Einzelne Zeile nach Position
result = df.iloc[1]
print(type(result))
result

<class 'pandas.core.series.Series'>

vorname                    Anja
alter                        30
altersklasse                 30
plz                       40727
geburtsstadt               <NA>
passwort              QÜXGXöFKC
merkmale        {g, C, f, 5, G}
history            [b, b, a, b]
Name: G, dtype: object

time: 3.01 ms (started: 2022-02-14 07:51:57 +00:00)

In [16]:
# Ausschnitt von Zeilen nach Position 
result = df[2:4]
print(type(result))
result

<class 'pandas.core.frame.DataFrame'>

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
index,,,,,,,,
V,Jacqueline,35,30,65882,Berlin,au0thÖ,{h},"[A, B, C]"
u,Jakob,32,30,71091,<NA>,üZgÜvaPC,"{3, i, s}",[]

time: 9.16 ms (started: 2022-02-14 07:51:57 +00:00)

## Boolean Indexing

In [17]:
mask = (df['alter'] == 30)  &  (df.geburtsstadt == 'Bremen')
df[mask]

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
index,,,,,,,,
l,Eileen,30,30,97622,Bremen,y80üDÜvo,"{p, z, F, s, B}",[]
j,Karoline,30,30,68658,Bremen,uceFd,"{R, i, I, m}",[]

time: 9.34 ms (started: 2022-02-14 07:51:57 +00:00)

## Sortierung

In [18]:
df = df.sort_values( by=['vorname', 'alter'], ascending=[False, False])
df

,vorname,alter,altersklasse,plz,geburtsstadt,passwort,merkmale,history
index,,,,,,,,
L,Yasmin,40,40,60451,<NA>,osBozdCosR,"{5, x}","[b, b, a, b]"
q,Yasmin,33,30,89437,Bremen,7AUg0äüoj,"{L, K, 4, g}","[c, b, a]"
D,Victoria,28,20,81869,Berlin,müDI0Di,{K},"[a, b, c]"
J,Toni,27,20,63847,Bremen,39nnYZu,"{G, M}","[A, A, A]"
I,Tom,29,20,17005,Berlin,oüBXCcÄs,"{n, c, C, z, 0}","[A, C, C, B]"
...,...,...,...,...,...,...,...,...
W,Angela,25,20,11201,Bremen,üLtÜ56Ku,"{O, x}","[c, b, a]"
R,Ali,35,30,56774,<NA>,j0CzcKWCG,{V},"[c, b, a]"
X,Ali,31,30,79894,Bremen,j5oövavl1,{H},"[A, B, C, C]"
e,Alexandra,33,30,<NA>,Berlin,qÖüazFJiIe,"{4, F, J}","[a, b, c]"
Q,Alexandra,22,20,<NA>,Bremen,kDqeh,"{b, h, 5, 3, B}","[A, B, C, C]"

time: 18.3 ms (started: 2022-02-14 07:51:57 +00:00)