# Normalisierung & Scaling von Zahlen
* https://towardsdatascience.com/data-normalization-with-pandas-and-scikit-learn-7c1cc6ed6475

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox
Start Time: 19:54:23

time: 1.61 ms (started: 2022-03-14 19:54:24 +00:00)

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 1.65 s (started: 2022-03-14 19:54:24 +00:00)

## raw-Daten erstellen

In [3]:
# Verschiedene Zufallszahlen addieren, um eine krumme Kurve zu bekommen
anz = 100 #20000
i  = pak.random_series( anz, 'int',    min=-2, max=1 )
i  = i.apply( pak.decorate, special=2,  p=0.05 )
i  = i.apply( pak.decorate, special=5,  p=0.02 )
f1 = pak.random_series( anz, 'float',  decimals=4 )
f2 = pak.random_series( anz, 'float',  decimals=4 )
f3 = pak.random_series( anz, 'float',  decimals=4 )
f3 = f3.apply( pak.decorate, special=-1,  p=0.2 )
df = pak.dataframe( (i, f1, f2, f3) )
df['raw'] = df.A + df.B +  df.C +  df.D  
df = pak.drop_cols(df,list('ABCD'))
df = df.sort_values('raw')
df = pak.reset_index(df)
df = df.reset_index()
df = pak.rename_col(df, 'index', 'x')
#df

time: 12.4 ms (started: 2022-03-14 19:54:25 +00:00)

In [4]:
def analyse():
    a = pak.analyse_values(df) #.set_index('col_name')
    spalten = ['col_name','vmin','vmean','vmedian','vmax','vsum']
    a = a[spalten] 
    mask = ~a.col_name.isin(['__index__','x'])
    return a[mask].set_index('col_name')

analyse()

          vmin  vmean  vmedian  vmax    vsum
col_name
raw       -2.3   1.08     1.06  6.79  108.27

time: 15 ms (started: 2022-03-14 19:54:25 +00:00)

In [5]:
pak.sample(df)

     x     raw
0    0 -2.2957
1    1 -2.1535
2    2 -2.0315
10  10 -0.9049
34  34  0.4055
72  72  2.0900
78  78  2.3994
97  97  4.3299
98  98  6.1625
99  99  6.7949

time: 7.11 ms (started: 2022-03-14 19:54:25 +00:00)

In [6]:
analyse()

          vmin  vmean  vmedian  vmax    vsum
col_name
raw       -2.3   1.08     1.06  6.79  108.27

time: 13 ms (started: 2022-03-14 19:54:25 +00:00)

In [7]:
pak.plot(df.raw)

time: 46.8 ms (started: 2022-03-14 19:54:25 +00:00)

In [8]:
?pak.scale

time: 98.4 ms (started: 2022-03-14 19:54:25 +00:00)

Signature: pak.scale(series, typ, powerfaktor=1)
Docstring:
normiert eine series. Siehe Beispiele.
Der powerfaktor verzerrt die Ergebnisse, so dass die Verteilung nicht mehr linear ist.
File:      /Data/Dropbox/31_Projekte/01_Python/90 libs/pandasklar/pandas.py
Type:      function

## scale rel
* skaliert mit einem festen Faktor
* die Werte entsprechen dem relativen Anteil
* alle gescaleten WErte zusammen ergeben 1
* nicht gut für exponentielle Verteilungen geeignet

In [9]:
df['rel'] = pak.scale( df.raw, 'rel')

time: 1.26 ms (started: 2022-03-14 19:54:26 +00:00)

In [10]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.rel)

time: 95.3 ms (started: 2022-03-14 19:54:26 +00:00)

In [11]:
analyse()

          vmin  vmean  vmedian  vmax    vsum
col_name
raw      -2.30   1.08     1.06  6.79  108.27
rel      -0.02   0.01     0.01  0.06    1.00

time: 14.7 ms (started: 2022-03-14 19:54:26 +00:00)

## max_abs-Skalierung
* skaliert auf -1 .. 1, ohne jedoch -1 unbedingt zu erreichen
* skaliert mit einem festen Faktor
* nicht gut für exponentielle Verteilungen geeignet

In [12]:
df['max_abs'] = pak.scale( df.raw, 'max_abs')

time: 1.26 ms (started: 2022-03-14 19:54:26 +00:00)

In [13]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.max_abs )

time: 95.6 ms (started: 2022-03-14 19:54:26 +00:00)

In [14]:
analyse()

          vmin  vmean  vmedian  vmax    vsum
col_name
raw      -2.30   1.08     1.06  6.79  108.27
rel      -0.02   0.01     0.01  0.06    1.00
max_abs  -0.34   0.16     0.16  1.00   15.93

time: 16.3 ms (started: 2022-03-14 19:54:26 +00:00)

## min_max Skalierung
* skaliert 0..1
* nicht gut für exponentielle Verteilungen geeignet

In [15]:
df['min_max'] = pak.scale( df.raw, 'min_max')

time: 1.44 ms (started: 2022-03-14 19:54:26 +00:00)

In [16]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.min_max )

time: 94.5 ms (started: 2022-03-14 19:54:26 +00:00)

In [17]:
analyse()

          vmin  vmean  vmedian  vmax    vsum
col_name
raw      -2.30   1.08     1.06  6.79  108.27
rel      -0.02   0.01     0.01  0.06    1.00
max_abs  -0.34   0.16     0.16  1.00   15.93
min_max   0.00   0.37     0.37  1.00   37.16

time: 18 ms (started: 2022-03-14 19:54:26 +00:00)

## min-max_robust Normalisierung
* skaliert für 98% 0..1
* der Rest ist außerhalb des Bereiches
* nicht gut für exponentielle Verteilungen geeignet

In [18]:
df['min_max_robust'] = pak.scale( df.raw, 'min_max_robust')

time: 2.69 ms (started: 2022-03-14 19:54:26 +00:00)

In [19]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.min_max_robust )

time: 93.4 ms (started: 2022-03-14 19:54:26 +00:00)

In [20]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90

time: 19.2 ms (started: 2022-03-14 19:54:26 +00:00)

## mean Standardization 
* auch z-score genannt
* erzeugt mean == 0 und std == 1
* typischerweise zwischen -3 und 3 (99% der Daten)
* nicht gut für exponentielle Verteilungen geeignet

In [21]:
df['mean_'] = pak.scale( df.raw, 'mean')

time: 1.33 ms (started: 2022-03-14 19:54:26 +00:00)

In [22]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.mean_ )

time: 94.2 ms (started: 2022-03-14 19:54:26 +00:00)

In [23]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90
mean_          -2.02   0.00    -0.02  3.42    0.00

time: 20.6 ms (started: 2022-03-14 19:54:27 +00:00)

## median Standardization
* erzeugt median == 0
* robust gegenüber Ausreißern

In [24]:
df['median_'] = pak.scale( df.raw, 'median')

time: 2.28 ms (started: 2022-03-14 19:54:27 +00:00)

In [25]:
# anzeigen (plots liegen übereinander)
pak.plot(df.raw, df.median_ )

time: 91.3 ms (started: 2022-03-14 19:54:27 +00:00)

In [26]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90
mean_          -2.02   0.00    -0.02  3.42    0.00
median_        -1.53   0.01     0.00  2.61    1.18

time: 22.9 ms (started: 2022-03-14 19:54:27 +00:00)

## faktor Normalisierung 
* skaliert 0..
* Alle Werte > median sind > 1
* Alle Werte < median sind 0..1
* median ist 1
* man kann die Verteilung strecken oder stauchen indem man ** skalierungsfaktor rechnet, die 1 als Mittelpunkt bleibt erhalten

In [27]:
df['faktor'] = pak.scale( df.raw, 'faktor') # ** 2

time: 3.44 ms (started: 2022-03-14 19:54:27 +00:00)

In [28]:
# anzeigen
pak.plot(df.raw, df.faktor )

time: 94.9 ms (started: 2022-03-14 19:54:27 +00:00)

In [29]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90
mean_          -2.02   0.00    -0.02  3.42    0.00
median_        -1.53   0.01     0.00  2.61    1.18
faktor          0.00   1.12     1.00  3.61  111.56

time: 24.4 ms (started: 2022-03-14 19:54:27 +00:00)

In [30]:
mask = (df.raw > df.raw.median())
assert df[mask].faktor.min() > 1

time: 2.69 ms (started: 2022-03-14 19:54:27 +00:00)

In [31]:
mask = (df.raw < df.raw.median())
assert df[mask].faktor.max() <= 1
assert df[mask].faktor.min() >= 0

time: 3.81 ms (started: 2022-03-14 19:54:27 +00:00)

## rank Normalisierung
* skaliert 0..1
* je mehr Werte, desto eher werden 0 und 1 tatsächlich erreicht
* verteilt dabei gleichmäßig auf das Intervall, Ursprungsverteilung wird zerstört

In [32]:
df['rank_'] = pak.scale( df.raw, 'rank', powerfaktor=1)

time: 1.68 ms (started: 2022-03-14 19:54:27 +00:00)

In [33]:
pak.plot( df.raw, df.rank_)

time: 92.5 ms (started: 2022-03-14 19:54:27 +00:00)

In [34]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90
mean_          -2.02   0.00    -0.02  3.42    0.00
median_        -1.53   0.01     0.00  2.61    1.18
faktor          0.00   1.12     1.00  3.61  111.56
rank_           0.01   0.50     0.50  0.99   50.00

time: 25 ms (started: 2022-03-14 19:54:27 +00:00)

## Vergleich

In [35]:
df

,x,raw,rel,max_abs,min_max,min_max_robust,mean_,median_,faktor,rank_
0,0,-2.2957,-0.021204,-0.337856,0.000000,-0.016913,-2.019914,-1.527255,0.000000,0.005
1,1,-2.1535,-0.019891,-0.316929,0.015643,0.000171,-1.934893,-1.462472,0.042613,0.015
2,2,-2.0315,-0.018764,-0.298974,0.029063,0.014828,-1.861950,-1.406893,0.079173,0.025
3,3,-1.8526,-0.017111,-0.272646,0.048743,0.036320,-1.754986,-1.325391,0.132784,0.035
4,4,-1.7928,-0.016559,-0.263845,0.055321,0.043505,-1.719232,-1.298148,0.150704,0.045
...,...,...,...,...,...,...,...,...,...,...
95,95,3.6423,0.033642,0.536034,0.653202,0.696468,1.530398,1.177923,2.177923,0.955
96,96,3.6615,0.033819,0.538860,0.655314,0.698775,1.541877,1.186670,2.186670,0.965
97,97,4.3299,0.039993,0.637228,0.728841,0.779075,1.941512,1.491173,2.491173,0.975
98,98,6.1625,0.056920,0.906930,0.930434,0.999240,3.037218,2.326052,3.326052,0.985
99,99,6.7949,0.062761,1.000000,1.000000,1.075216,3.415328,2.614155,3.614155,0.995

time: 10.5 ms (started: 2022-03-14 19:54:27 +00:00)

In [36]:
spalten1 = ['x','raw']
spalten2 = ['x','max_abs','min_max','min_max_robust','mean_','median_','faktor','rank_']
pak.plot( df[spalten1], df[spalten2], size=(16,8), line=(3,1))

time: 140 ms (started: 2022-03-14 19:54:27 +00:00)

In [37]:
analyse()

                vmin  vmean  vmedian  vmax    vsum
col_name
raw            -2.30   1.08     1.06  6.79  108.27
rel            -0.02   0.01     0.01  0.06    1.00
max_abs        -0.34   0.16     0.16  1.00   15.93
min_max         0.00   0.37     0.37  1.00   37.16
min_max_robust -0.02   0.39     0.39  1.08   38.90
mean_          -2.02   0.00    -0.02  3.42    0.00
median_        -1.53   0.01     0.00  2.61    1.18
faktor          0.00   1.12     1.00  3.61  111.56
rank_           0.01   0.50     0.50  0.99   50.00

time: 25.9 ms (started: 2022-03-14 19:54:27 +00:00)

# Work