In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 20:36:16

time: 455 ms

# Manage rows
* `drop_multiindex`: Converts any MultiIndex to normal columns and resets the index. Works with MultiIndex in Series or DataFrames, in rows and in columns.
* `reset_index`: Creates a new, unnamed index. If keep_as is given, the old index is preserved as a row with this name. Otherwise the old index is dropped.
* `rename_index`: Renames the index.
* `drop_rows`: Drops rows identified by a binary mask, verbose if wanted.
* `move_rows`: Moves rows identified by a binary mask from one dataframe to another (e.g. into a trash).<br>
   The target dataframe gets an additional message column by standard (to identify why the rows were moved). Verbose if wanted. 
* `add_rows`: Like concat, with additional features only_new and verbose.

In [2]:
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 2.01 s

In [3]:
# Test data
df = pak.people(1000)
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history
0,Lucy,25,20,29204,<NA>,oFÜObp5Tr,"{C, k}","[A, C, C, B]"
1,Carla,30,30,39807,<NA>,lräd8Äl1,"{H, X, v, f}","[a, b, c]"
2,Alina,38,30,88726,Berlin,1iyHus,"{J, e}","[A, B, C, C]"
3,David,30,30,28160,Bremen,8UFAÜ,"{n, r, b, v}","[A, A, A]"
4,Ernst,31,30,70795,Bremen,O7dZZM,"{L, B}","[A, B, C]"
...,...,...,...,...,...,...,...,...
995,Lea,31,30,66893,Berlin,äfVNRoicq,"{O, Z, A, e}","[A, x]"
996,Christina,25,20,24375,Bremen,gLehAWXb,"{Y, i, H}","[A, x]"
997,Lea,31,30,23065,Berlin,MXIfE,"{X, C, w, P, p}","[A, A, A]"
998,Luis,29,20,22689,<NA>,4PPdTE,"{c, w, v, B}","[c, b, a]"
999,Bruno,32,30,61490,Berlin,fQiökO,"{J, M, L, 3}","[A, B, C, C]"

time: 231 ms

## === Row Indexes ===

### rename_index()

In [5]:
# set a trashy index
df.index = pak.random_series(df.shape[0], 'string', len_min=3, len_max=3, p_dup=0)
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history
rnd_string,,,,,,,,
kEP,Lucy,25,20,29204,<NA>,oFÜObp5Tr,"{C, k}","[A, C, C, B]"
gTp,Carla,30,30,39807,<NA>,lräd8Äl1,"{H, X, v, f}","[a, b, c]"
2dI,Alina,38,30,88726,Berlin,1iyHus,"{J, e}","[A, B, C, C]"
EI6,David,30,30,28160,Bremen,8UFAÜ,"{n, r, b, v}","[A, A, A]"
KGc,Ernst,31,30,70795,Bremen,O7dZZM,"{L, B}","[A, B, C]"
...,...,...,...,...,...,...,...,...
Dqh,Lea,31,30,66893,Berlin,äfVNRoicq,"{O, Z, A, e}","[A, x]"
oWu,Christina,25,20,24375,Bremen,gLehAWXb,"{Y, i, H}","[A, x]"
äxR,Lea,31,30,23065,Berlin,MXIfE,"{X, C, w, P, p}","[A, A, A]"
Xuv,Luis,29,20,22689,<NA>,4PPdTE,"{c, w, v, B}","[c, b, a]"
6Üa,Bruno,32,30,61490,Berlin,fQiökO,"{J, M, L, 3}","[A, B, C, C]"

time: 146 ms

In [6]:
df = pak.rename_index(df,'index_new')
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history
index_new,,,,,,,,
kEP,Lucy,25,20,29204,<NA>,oFÜObp5Tr,"{C, k}","[A, C, C, B]"
gTp,Carla,30,30,39807,<NA>,lräd8Äl1,"{H, X, v, f}","[a, b, c]"
2dI,Alina,38,30,88726,Berlin,1iyHus,"{J, e}","[A, B, C, C]"
EI6,David,30,30,28160,Bremen,8UFAÜ,"{n, r, b, v}","[A, A, A]"
KGc,Ernst,31,30,70795,Bremen,O7dZZM,"{L, B}","[A, B, C]"
...,...,...,...,...,...,...,...,...
Dqh,Lea,31,30,66893,Berlin,äfVNRoicq,"{O, Z, A, e}","[A, x]"
oWu,Christina,25,20,24375,Bremen,gLehAWXb,"{Y, i, H}","[A, x]"
äxR,Lea,31,30,23065,Berlin,MXIfE,"{X, C, w, P, p}","[A, A, A]"
Xuv,Luis,29,20,22689,<NA>,4PPdTE,"{c, w, v, B}","[c, b, a]"
6Üa,Bruno,32,30,61490,Berlin,fQiökO,"{J, M, L, 3}","[A, B, C, C]"

time: 125 ms

### reset_index()

In [7]:
?pak.reset_index

time: 115 ms

Signature: pak.reset_index(df, keep_as=None)
Docstring:
Creates a new, unnamed index.
If keep_as is given, the old index is preserved as a row with this name.
Otherwise the old index is dropped.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [8]:
df = pak.reset_index(df)
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history
0,Lucy,25,20,29204,<NA>,oFÜObp5Tr,"{C, k}","[A, C, C, B]"
1,Carla,30,30,39807,<NA>,lräd8Äl1,"{H, X, v, f}","[a, b, c]"
2,Alina,38,30,88726,Berlin,1iyHus,"{J, e}","[A, B, C, C]"
3,David,30,30,28160,Bremen,8UFAÜ,"{n, r, b, v}","[A, A, A]"
4,Ernst,31,30,70795,Bremen,O7dZZM,"{L, B}","[A, B, C]"
...,...,...,...,...,...,...,...,...
995,Lea,31,30,66893,Berlin,äfVNRoicq,"{O, Z, A, e}","[A, x]"
996,Christina,25,20,24375,Bremen,gLehAWXb,"{Y, i, H}","[A, x]"
997,Lea,31,30,23065,Berlin,MXIfE,"{X, C, w, P, p}","[A, A, A]"
998,Luis,29,20,22689,<NA>,4PPdTE,"{c, w, v, B}","[c, b, a]"
999,Bruno,32,30,61490,Berlin,fQiökO,"{J, M, L, 3}","[A, B, C, C]"

time: 125 ms

### drop_multiindex()

In [39]:
?pak.drop_multiindex

time: 126 ms

Signature: pak.drop_multiindex(df, verbose=None)
Docstring:
Converts any MultiIndex to normal columns and resets the index.
Works with MultiIndex in Series or DataFrames, in rows and in columns.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

## === Rows ===

### drop_rows()

In [10]:
?pak.drop_rows

time: 114 ms

Signature: pak.drop_rows(df, mask, verbose=None)
Docstring: Drops rows identified by a binary mask.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [11]:
# create mask: most frequent first_name
mask = df.first_name == pak.most_freq_elt(df.first_name)
df[mask]

,first_name,age,age_class,postal_code,birthplace,secret,features,history
329,Antonia,33,30,90074,Bremen,GcxuJÜ,"{C, y}","[A, A, A]"
659,Antonia,30,30,<NA>,<NA>,1mAFLZIrNQ,"{U, w, e, P, B}","[a, b, c]"
668,Antonia,32,30,41990,Berlin,CtQUÜ,"{x, 0, e}","[b, b, a, b]"
672,Antonia,39,30,28461,Berlin,WOägwhUdiq,"{j, N, a, P, F}","[A, A, A]"
748,Antonia,36,30,50615,Berlin,1lpbmN6,"{U, M}","[A, x]"
814,Antonia,36,30,28596,<NA>,5dulcg5z0,"{L, D}","[A, x]"

time: 126 ms

In [12]:
# just delete them
df = pak.drop_rows(df,mask)

Delete 6 rows from 1000
time: 117 ms

### move_rows()

In [40]:
?pak.move_rows

time: 126 ms

Signature:
pak.move_rows(
    df_from,
    df_to=None,
    mask=None,
    msg='',
    msgcol='msg',
    verbose=None,
    zähler=[0],
)
Docstring:
Moves rows identified by a binary mask from one dataframe to another (e.g. into a trash).
Returns two DataFrames.
The target dataframe gets an additional message column by standard (to identify why the rows were moved).
If you don't give a message, move_rows will generate one: just the count of usage of the function.

* df_from:   Origin DataFrame
* df_to:     Target DataFrame or None
* mask:      Binary mask, identifies the rows to be deleted
* msg:       All moved rows are marked with this message, it's written in the message column of the target dataframe
* msgcol:    Name of the message column. Set msg or msgcol to None if no message wanted.
* verbose:   True if you want to print how many rows are moved.

Examples:
df, df_trash = move_rows( df, mask )           # move rows away (and create a new trash).
                                               # The second argument is detected as mask, not as df_to.
df, df_trash = move_rows( df, df_trash, mask ) # move rows away (into the existing trash)
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [14]:
# New test data
df = pak.people(1000)
df = pak.drop_cols(df,['age_class','postal_code','birthplace','features','history'])
df['first_name'] = pak.change_datatype(df.first_name,'object', verbose=False)
df['age']        = pak.change_datatype(df.age,       'int64',  verbose=False)
df_orig = df.copy()
df.head(3)

  first_name  age   secret
0  Friedrich   31    xnL6y
1  Christoph   34  ÖoVQua7
2      Jutta   31    8QLgS

time: 221 ms

In [15]:
# create mask: most frequent first_name
mask = df.first_name == pak.most_freq_elt(df.first_name)
df[mask]

    first_name  age      secret
101   Viktoria   32    g1HÖk2üH
478   Viktoria   24      fäWiÜd
765   Viktoria   34      uDbx8q
820   Viktoria   28      0a5ef6
944   Viktoria   29      8typUe
975   Viktoria   32     kjBlqkZ
982   Viktoria   32  4e3IiLJrgt

time: 118 ms

In [16]:
# move them away (and create a new trash)
df, df_trash = pak.move_rows( df, mask)

Move 7 rows from 1000
time: 115 ms

In [17]:
print('count rows:', df.shape[0], ' + ', df_trash.shape[0])

count rows: 993  +  7
time: 113 ms

In [18]:
#df
df_trash

    first_name  age      secret  msg
101   Viktoria   32    g1HÖk2üH    0
478   Viktoria   24      fäWiÜd    0
765   Viktoria   34      uDbx8q    0
820   Viktoria   28      0a5ef6    0
944   Viktoria   29      8typUe    0
975   Viktoria   32     kjBlqkZ    0
982   Viktoria   32  4e3IiLJrgt    0

time: 117 ms

In [19]:
# create mask: (second) most frequent first_name
mask = df.first_name == pak.most_freq_elt(df.first_name)
df[mask]

    first_name  age     secret
389  Franziska   25  2458hCooo
453  Franziska   34     iCkümI
595  Franziska   36    H2iL7ag
720  Franziska   37    pxYqAxü
787  Franziska   26   o0Lrt5i1
969  Franziska   28   nM2IÄhKZ

time: 117 ms

In [20]:
# move them away (into the existing trash)
df, df_trash = pak.move_rows( df, df_trash, mask)

Move 6 rows from 993
time: 117 ms

In [21]:
print('count rows:', df.shape[0], ' + ', df_trash.shape[0])

count rows: 987  +  13
time: 113 ms

In [22]:
df_trash

    first_name  age      secret  msg
101   Viktoria   32    g1HÖk2üH    0
478   Viktoria   24      fäWiÜd    0
765   Viktoria   34      uDbx8q    0
820   Viktoria   28      0a5ef6    0
944   Viktoria   29      8typUe    0
975   Viktoria   32     kjBlqkZ    0
982   Viktoria   32  4e3IiLJrgt    0
389  Franziska   25   2458hCooo    1
453  Franziska   34      iCkümI    1
595  Franziska   36     H2iL7ag    1
720  Franziska   37     pxYqAxü    1
787  Franziska   26    o0Lrt5i1    1
969  Franziska   28    nM2IÄhKZ    1

time: 120 ms

### add_rows()

In [41]:
?pak.add_rows

time: 124 ms

Signature: pak.add_rows(df_main, df_add, only_new=None, reindex=False, verbose=None)
Docstring:
Like concat, with additional features.
* df_main:  The new rows are added to the end of this dataframe.
* df_add:   Rows to add. The dtypes are adapted to those of df_main.
            Series or list are also accepted for appending.
* only_new: Avoid duplicates by setting this to a list of column names.
            This combination must contain new content.
            A single column name as string works the same way.
            Or set only_new=True, this will avoid duplicate row indexes.
* reindex:  Will the result get a fresh index without dups?
* verbose:  Print status messages how many rows affected
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [24]:
# We will concat df and df_trash again and compare it with df_orig, the backup of df

# get rid of the msg column
df_trash     = pak.drop_cols(df_trash,'msg')       

# optimize df, but not df_trash. 
# So the dtypes are different now
df = pak.change_datatype(df)

change_datatype
first_name           --> pd.string
age                  --> pd.Int8
change_datatype before: 145.4 KB after: 139.6 KB

time: 134 ms

In [25]:
# recover to the state before move_rows
df_recovered = pak.add_rows(df, df_trash)

13 rows added, now a total of 1000
time: 115 ms

In [26]:
#df_recovered

time: 113 ms

In [27]:
# check the datatypes 
#pak.analyse_cols(df_recovered)

time: 113 ms

In [28]:
# The dataframes are equal, but sorted different
# (see row: Total, cols: sort and eq)
pak.compare_dataframes(df_orig, df_recovered)

            name  dtype  nnan content   sort    eq
first_name  True  False  True    True  False  True
age         True  False  True    True  False  True
secret      True   True  True    True  False  True
(Total)     True  False  True    True  False  True

time: 131 ms

In [29]:
# if we do this with reindex=True, 
# the content keeps equal, 
# but the dataframes are not equal
# (see row: Total, cols: content and eq)
df_recovered = pak.add_rows(df, df_trash, reindex=True)
pak.compare_dataframes(df_orig, df_recovered)

13 rows added, now a total of 1000

            name  dtype  nnan content   sort     eq
first_name  True  False  True    True  False  False
age         True  False  True    True  False  False
secret      True   True  True    True  False  False
(Total)     True  False  True    True  False  False

time: 136 ms

#### add_rows() with only_new=[col1, col2]

In [30]:
# we go back to df and df_trash
print('count rows:', df.shape[0], ' + ', df_trash.shape[0])

count rows: 987  +  13
time: 115 ms

In [31]:
# recover to the state before move_rows
df_recovered = pak.add_rows(df, df_trash)

13 rows added, now a total of 1000
time: 118 ms

In [32]:
# add the same rows again >> now we have some duplicates
df_with_dups = pak.add_rows(df_recovered, df_trash)

13 rows added, now a total of 1013
time: 118 ms

In [33]:
# you can avoid that by setting only_new to a column name combination that must contain new content
# run this cell multible times
df_recovered = pak.add_rows(df_recovered, df_trash, only_new = ['secret','age'])

13 rows not attached
0 rows added, now a total of 1000
time: 125 ms

#### add_rows() with only_new=True

In [34]:
# we go back to df and df_trash
# but we give them a random index
df.index       = pak.random_series(df.shape[0],       'string', len_min=3, len_max=3, p_dup=0)
df_trash.index = pak.random_series(df_trash.shape[0], 'string', len_min=3, len_max=3, p_dup=0)
print('count rows:', df.shape[0], ' + ', df_trash.shape[0])

count rows: 987  +  13
time: 136 ms

In [35]:
# recover with only_new=True to avoid duplicate row indexes
df_recovered = pak.add_rows(df, df_trash, only_new=True)
df_recovered

0 rows not attached
13 rows added, now a total of 1000

           first_name  age      secret
rnd_string
gG9         Friedrich   31       xnL6y
WcF         Christoph   34     ÖoVQua7
5ax             Jutta   31       8QLgS
U2C            Günter   27  QgKeoäFÜ5H
äöz             Carla   28     pHiPkaE
...               ...  ...         ...
hö3         Franziska   34      iCkümI
S0I         Franziska   36     H2iL7ag
at1         Franziska   37     pxYqAxü
Odä         Franziska   26    o0Lrt5i1
HÖh         Franziska   28    nM2IÄhKZ

[1000 rows x 3 columns]

time: 124 ms

In [36]:
# add the same rows again >> no rows added
df_recovered = pak.add_rows(df_recovered, df_trash, only_new=True)
#df_recovered

13 rows not attached
0 rows added, now a total of 1000
time: 125 ms

In [37]:
#search_notebooks('add_rows', radius=3, exclude='nb_out', suffix='py')

time: 116 ms