In [2]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 21:21:56

time: 465 ms

# Let DataFrames Interact
* `isin`: isin over several columns. Returns a mask for df1: The rows of df1 that match the ones in df2 in the specified columns.
* `update_col`:     Transfers one column of data from one dataframe to another dataframe.<br>
   Unlike a simple merge, the index and the dtypes are retained. Handles dups and conditions. Verbose if wanted.

In [3]:
#import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 2.02 s

## isin
over several columns

In [4]:
?pak.isin

time: 154 ms

Signature: pak.isin(df1, df2, on=[], left_on=[], right_on=[])
Docstring:
isin over several columns.
Returns a mask for df1: The rows of df1 that match the ones in df2 in the specified columns.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [5]:
df1 = pak.dataframe( [ list('Zugzwang'),  # 'Zu'  
                       list('Wurmloch'), 
                       list('Witzbold'), 
                       list('Heuernte'), 
                       list('Halbgott'),  # 'Ha' 
                       list('Halbzeit'),  # 'Ha' 
                       list('Hausfrau'),  # 'Ha'       
                       list('Hebelarm'),                     
                ] )

df2 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('Handkuss'),  # 'Ha'
                       list('Saugrohr'),       
                       list('Zuzügler'),  # 'Zu'                   
                ] )

df2

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  H  a  n  d  k  u  s  s
6  S  a  u  g  r  o  h  r
7  Z  u  z  ü  g  l  e  r

time: 146 ms

In [6]:
mask = pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
0  Z  u  g  z  w  a  n  g
4  H  a  l  b  g  o  t  t
5  H  a  l  b  z  e  i  t
6  H  a  u  s  f  r  a  u

time: 143 ms

In [7]:
mask = ~pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
1  W  u  r  m  l  o  c  h
2  W  i  t  z  b  o  l  d
3  H  e  u  e  r  n  t  e
7  H  e  b  e  l  a  r  m

time: 130 ms

## update_col

In [8]:
?pak.update_col

time: 118 ms

Signature:
pak.update_col(
    df_to,
    df_from,
    on=[],
    left_on=[],
    right_on=[],
    col='',
    col_rename='',
    func='',
    cond='',
    keep='',
    verbose=None,
)
Docstring:
Transfers data from one dataframe to another dataframe.
Unlike a simple merge, the index and the dtypes are retained.

df_to:      Dataframe to be changed
df_from:    Dataframe that contains the new data. Does not have to be duplicate-free.
on:         Column name or list of column names whose values must match
left_on:    Different for left and right if necessary
right_on:   Different for left and right if necessary
col:        Name of the column to be transmitted. Must exist in df_from.
            If not present in df_to, it will be appended.
            If already present, matching values will be overwritten.
col_rename: New name for col, if specified.
func:       Name of the function used for dup avoidance. E.g. 'max'. If empty: No dup avoidance
cond:       Empty, 'min','max' or 'null'.
            'min','max': Only write if the new value is smaller / larger than the existing value
            'null'     : Only write if there is no existing value in df_to
keep:       Should the original value be kept in a separate column?
            The string keep is used as suffix for this column.
            NaN if record is unchanged!
verbose:    Messages on / off
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [9]:
# create test data
df = pak.people()
df = pak.drop_cols(df,['history'])
df

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Jessica,28,20,77567,Bremen,miKRÄä2tä,"{u, k}"
1,Jacob,37,30,28718,Berlin,wi5qoGiRz,"{o, W}"
2,Adrian,29,20,38506,Berlin,lüjwhLRjjö,"{d, u, Y, 1, 0}"
3,Georg,35,30,50036,Berlin,5äwpFCpVY,"{E, H, K}"
4,Siegfried,32,30,76052,Bremen,vb78xX,"{t, 3}"
...,...,...,...,...,...,...,...
95,Eric,37,30,88553,Bremen,üFkFäB,"{c, a, L, m, Q}"
96,Berndt,30,30,33961,Bremen,ReyXJ,{B}
97,Anna,31,30,48874,Berlin,sam6G6,{v}
98,Daniela,25,20,48697,Bremen,c07OjL,"{w, O}"
99,Katja,28,20,83732,<NA>,oojV1H,"{R, b, X, T}"

time: 164 ms

In [10]:
# create df_from
# we want to transfer data from df_from to df
df_from = df.head(20).copy()
for c in ['birthplace', 'features']:
    df_from[c] = '##' + df_from[c].astype(str) + '##'
for c in ['age','age_class','postal_code']:
    df_from[c] = -df_from[c]    
df_from.head(3)

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Jessica,-28,-20,-77567,##Bremen##,miKRÄä2tä,"##{'u', 'k'}##"
1,Jacob,-37,-30,-28718,##Berlin##,wi5qoGiRz,"##{'o', 'W'}##"
2,Adrian,-29,-20,-38506,##Berlin##,lüjwhLRjjö,"##{'d', 'u', 'Y', '1', '0'}##"

time: 125 ms

In [11]:
# Transfer features data. Use first_name and secret as idenitfier.
df = pak.update_col(df, df_from, on=['first_name','secret'], col='features')
df

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Jessica,28,20,77567,Bremen,miKRÄä2tä,"##{'u', 'k'}##"
1,Jacob,37,30,28718,Berlin,wi5qoGiRz,"##{'o', 'W'}##"
2,Adrian,29,20,38506,Berlin,lüjwhLRjjö,"##{'d', 'u', 'Y', '1', '0'}##"
3,Georg,35,30,50036,Berlin,5äwpFCpVY,"##{'E', 'H', 'K'}##"
4,Siegfried,32,30,76052,Bremen,vb78xX,"##{'t', '3'}##"
...,...,...,...,...,...,...,...
95,Eric,37,30,88553,Bremen,üFkFäB,"{c, a, L, m, Q}"
96,Berndt,30,30,33961,Bremen,ReyXJ,{B}
97,Anna,31,30,48874,Berlin,sam6G6,{v}
98,Daniela,25,20,48697,Bremen,c07OjL,"{w, O}"
99,Katja,28,20,83732,<NA>,oojV1H,"{R, b, X, T}"

time: 132 ms

In [12]:
# Transfer age data. Use age_class as idenitfier.
df = pak.update_col(df, df_from, on=['first_name','secret'], col='age', keep='_old')

time: 124 ms

In [13]:
# have a look
mask = df.age < 0
a = df[ mask].head(10)
b = df[~mask].head(10)
pd.concat([a,b])

,first_name,age,age_class,postal_code,birthplace,secret,features,age_old
0,Jessica,-28,20,77567,Bremen,miKRÄä2tä,"##{'u', 'k'}##",28
1,Jacob,-37,30,28718,Berlin,wi5qoGiRz,"##{'o', 'W'}##",37
2,Adrian,-29,20,38506,Berlin,lüjwhLRjjö,"##{'d', 'u', 'Y', '1', '0'}##",29
3,Georg,-35,30,50036,Berlin,5äwpFCpVY,"##{'E', 'H', 'K'}##",35
4,Siegfried,-32,30,76052,Bremen,vb78xX,"##{'t', '3'}##",32
5,Phillip,-40,40,37741,Bremen,9eCnBjÄW,"##{'F', 'u', 'Y'}##",40
6,Dominik,-24,20,65373,<NA>,aS2jbgüIUö,"##{'2', 'O', 'p', 's'}##",24
7,Mike,-30,30,27114,<NA>,8fi5XÖPGÄ,"##{'D', '0', 'H'}##",30
8,Carsten,-35,30,<NA>,Bremen,1tGEÄ7,##{'B'}##,35
9,Jan,-26,20,84028,<NA>,JrdxZ7uuOq,"##{'M', '5', 'H'}##",26
20,Fynn,34,30,84768,Berlin,tlDLÜx,"{D, h, 0}",<NA>
21,Maja,36,30,16312,Berlin,W1qXoMDW,{2},<NA>
22,Stephanie,23,20,56757,Bremen,G9fu7VJ86,"{c, a, L, m, Q}",<NA>
23,Karoline,30,30,15525,Berlin,AüKFcDÜ,"{q, n}",<NA>
24,Thomas,33,30,94496,Bremen,g4wnroY3i,"{D, E, u, C}",<NA>
25,Heidi,22,20,48874,<NA>,7XVnk,"{f, x, c, Y}",<NA>
26,Kathrin,34,30,51723,Berlin,uaG3fs,"{E, g, b, B}",<NA>
27,Lennard,26,20,57008,Bremen,2Z1zÖ,"{W, h, Y, G, 0}",<NA>
28,Till,34,30,66538,Bremen,umwbTzVM,{q},<NA>
29,Anna,28,20,81161,<NA>,6NoiWy,"{w, s, O, B, n}",<NA>

time: 126 ms