__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/23_Let_DataFrames_Interact.ipynb)__

# Let DataFrames Interact
* `isin`: isin over several columns. Returns a mask for df1: The rows of df1 that match the ones in df2 in the specified columns.
* `update_col`:     Transfers one column of data from one dataframe to another dataframe.<br>
   Unlike a simple merge, the index and the dtypes are retained. Handles dups and conditions. Verbose if wanted.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:46:15

time: 423 ms

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 257 ms

## isin
over several columns

In [3]:
?pak.isin

time: 59 ms

Signature: pak.isin(df1, df2, on=[], left_on=[], right_on=[])
Docstring:
isin over several columns.
Returns a mask for df1: The rows of df1 that match the ones in df2 in the specified columns.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [4]:
df1 = pak.dataframe( [ list('Zugzwang'),  # 'Zu'  
                       list('Wurmloch'), 
                       list('Witzbold'), 
                       list('Heuernte'), 
                       list('Halbgott'),  # 'Ha' 
                       list('Halbzeit'),  # 'Ha' 
                       list('Hausfrau'),  # 'Ha'       
                       list('Hebelarm'),                     
                ] )

df2 = pak.dataframe( [ list('Babykorb'), 
                       list('abfällig'), 
                       list('Abgründe'), 
                       list('Kätzchen'), 
                       list('Landwirt'), 
                       list('Handkuss'),  # 'Ha'
                       list('Saugrohr'),       
                       list('Zuzügler'),  # 'Zu'                   
                ] )

df2

Input rtype=('list', 'list', 'str') shape=(8, 8)
rotated=False Output rtype=('DataFrame', 'Series') shape=(8, 8)
Input rtype=('list', 'list', 'str') shape=(8, 8)
rotated=False Output rtype=('DataFrame', 'Series') shape=(8, 8)

   A  B  C  D  E  F  G  H
0  B  a  b  y  k  o  r  b
1  a  b  f  ä  l  l  i  g
2  A  b  g  r  ü  n  d  e
3  K  ä  t  z  c  h  e  n
4  L  a  n  d  w  i  r  t
5  H  a  n  d  k  u  s  s
6  S  a  u  g  r  o  h  r
7  Z  u  z  ü  g  l  e  r

time: 44.9 ms

In [5]:
mask = pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
0  Z  u  g  z  w  a  n  g
4  H  a  l  b  g  o  t  t
5  H  a  l  b  z  e  i  t
6  H  a  u  s  f  r  a  u

time: 37.2 ms

In [6]:
mask = ~pak.isin(df1, df2, on=['A','B'])
df1[mask]

   A  B  C  D  E  F  G  H
1  W  u  r  m  l  o  c  h
2  W  i  t  z  b  o  l  d
3  H  e  u  e  r  n  t  e
7  H  e  b  e  l  a  r  m

time: 34.5 ms

## update_col

In [7]:
?pak.update_col

time: 26.4 ms

Signature:
pak.update_col(
    df_to,
    df_from,
    on=[],
    left_on=[],
    right_on=[],
    col='',
    col_rename='',
    col_score='',
    func='',
    cond='',
    keep='',
    return_mask=False,
    verbose=None,
)
Docstring:
Transfers one column of data from one dataframe to another dataframe.
Unlike a simple merge, the index and the dtypes are retained.
Handles dups and conditions. Verbose if wanted.

df_to:        Dataframe to be changed
df_from:      Dataframe that contains the new data. Does not have to be duplicate-free.
on:           Column name or list of column names whose values must match
left_on:      Different for left and right if necessary
right_on:     Different for left and right if necessary
col:          Name of the column to be transmitted. Must exist in df_from.
              If not present in df_to, it will be appended.
              If already present, matching values will be overwritten.
col_rename:   New name for col, if specified. If already present, matching values will be overwritten and not matching values are preserved.
col_score:     Name of a score column used for picking rows from df_from with maximum score. This is useful to avoid conflicting values in case of dups in df_from.
              If empty: No dup avoidance by rank.
func:         Name of the function used for dup avoidance. E.g. 'max'. If empty: No dup avoidance by func.
              Might be slow, use col_score if possible.
cond:         Empty, 'min','max' or 'null'.
              'min','max': Only write if the new value is smaller / larger than the existing value
              'null'     : Only write if there is no existing value in df_to (it's Null or empty string)
keep:         Should the original value be kept in a separate column?
              The string keep is used as suffix for this column.
              NaN if record is unchanged!
return_mask:  If True, the result is a tuple of the resulting dataframe plus a mask masking the affected rows
verbose:    Messages on / off
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [8]:
# create test data
df = pak.people()
df = pak.drop_cols(df,['history'])
df

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Birgit,33,30,14367,<NA>,äpGaf,"{m, Y, Z, e}"
1,Erwin,33,30,75099,Bremen,rjEXebtoaq,"{f, B, D, x}"
2,Klara,21,20,59895,Berlin,ZPSyH8N,"{R, J, w, Y}"
3,Heinz,27,20,71260,Berlin,T3wKz7W,"{l, j, u, z, v}"
4,Jasmin,39,30,54033,Bremen,spYpOWUDZ,"{z, B, 3, h}"
...,...,...,...,...,...,...,...
95,Benedikt,38,30,41937,Bremen,AMoJaaiudO,"{P, 3}"
96,Anton,36,30,59895,Bremen,ÖOugÄY,"{u, V}"
97,Linus,40,40,89676,Berlin,FfMlG,"{J, L, t}"
98,Marc,26,20,39769,Berlin,Gznpg5,"{k, s}"
99,Carla,33,30,99381,Berlin,HkLynq,"{0, A, U, S, I}"

time: 125 ms

In [9]:
# create df_from
# we want to transfer data from df_from to df
df_from = df.head(20).copy()
for c in ['birthplace', 'features']:
    df_from[c] = '##' + df_from[c].astype(str) + '##'
for c in ['age','age_class','postal_code']:
    df_from[c] = -df_from[c]    
df_from.head(3)

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Birgit,-33,-30,-14367,##<NA>##,äpGaf,"##{'m', 'Y', 'Z', 'e'}##"
1,Erwin,-33,-30,-75099,##Bremen##,rjEXebtoaq,"##{'f', 'B', 'D', 'x'}##"
2,Klara,-21,-20,-59895,##Berlin##,ZPSyH8N,"##{'R', 'J', 'w', 'Y'}##"

time: 25.7 ms

In [10]:
# Transfer features data. Use first_name and secret as idenitfier.
df = pak.update_col(df, df_from, on=['first_name','secret'], col='features')
df

update_col: 20 cells written into existing column

,first_name,age,age_class,postal_code,birthplace,secret,features
0,Birgit,33,30,14367,<NA>,äpGaf,"##{'m', 'Y', 'Z', 'e'}##"
1,Erwin,33,30,75099,Bremen,rjEXebtoaq,"##{'f', 'B', 'D', 'x'}##"
2,Klara,21,20,59895,Berlin,ZPSyH8N,"##{'R', 'J', 'w', 'Y'}##"
3,Heinz,27,20,71260,Berlin,T3wKz7W,"##{'l', 'j', 'u', 'z', 'v'}##"
4,Jasmin,39,30,54033,Bremen,spYpOWUDZ,"##{'z', 'B', '3', 'h'}##"
...,...,...,...,...,...,...,...
95,Benedikt,38,30,41937,Bremen,AMoJaaiudO,"{P, 3}"
96,Anton,36,30,59895,Bremen,ÖOugÄY,"{u, V}"
97,Linus,40,40,89676,Berlin,FfMlG,"{J, L, t}"
98,Marc,26,20,39769,Berlin,Gznpg5,"{k, s}"
99,Carla,33,30,99381,Berlin,HkLynq,"{0, A, U, S, I}"

time: 61.3 ms

In [11]:
# Transfer age data. Use age_class as idenitfier.
df = pak.update_col(df, df_from, on=['first_name','secret'], col='age', keep='_old')

update_col: 20 cells written into existing column
time: 46.4 ms

In [12]:
# have a look
mask = df.age < 0
a = df[ mask].head(10)
b = df[~mask].head(10)
pd.concat([a,b])

,first_name,age,age_class,postal_code,birthplace,secret,features,age_old
0,Birgit,-33,30,14367,<NA>,äpGaf,"##{'m', 'Y', 'Z', 'e'}##",33
1,Erwin,-33,30,75099,Bremen,rjEXebtoaq,"##{'f', 'B', 'D', 'x'}##",33
2,Klara,-21,20,59895,Berlin,ZPSyH8N,"##{'R', 'J', 'w', 'Y'}##",21
3,Heinz,-27,20,71260,Berlin,T3wKz7W,"##{'l', 'j', 'u', 'z', 'v'}##",27
4,Jasmin,-39,30,54033,Bremen,spYpOWUDZ,"##{'z', 'B', '3', 'h'}##",39
5,Christa,-32,30,<NA>,Berlin,USÜEoöWvuF,"##{'k', 'W', 'J', 'x'}##",32
6,Rita,-38,30,65345,Berlin,aÄY56J1u,"##{'k', 'z'}##",38
7,Thomas,-26,20,<NA>,Bremen,ÖqaeÖä,"##{'u', 'c', 'L', '2'}##",26
8,Gerd,-30,30,32303,Bremen,vIDFRüiwy,"##{'p', '4'}##",30
9,Benedikt,-29,20,10752,Bremen,jb6övtÖ,"##{'u', '0'}##",29
20,Ursula,34,30,96605,Berlin,iePiCIÄL,"{y, W, b, H}",<NA>
21,Marius,32,30,78020,Bremen,H6ÜBua,"{y, z, p, U}",<NA>
22,Horst,31,30,15134,Berlin,2e9PMfV,"{u, t, x}",<NA>
23,Henry,32,30,93105,<NA>,mqBvFNqöWS,"{m, D}",<NA>
24,Andreas,34,30,35539,Berlin,5lGen,"{O, M, S}",<NA>
25,Sophia,32,30,19237,Berlin,0fCav,"{x, U, u, Y, H}",<NA>
26,Marcel,34,30,49425,Berlin,Öke6sT,"{g, E, M, 1}",<NA>
27,Tobias,30,30,98746,<NA>,i9eYIU4O6,"{0, A, U, S, I}",<NA>
28,Michaela,22,20,94020,Berlin,Re7otIÜ6o,"{k, 0, o}",<NA>
29,Tom,25,20,19037,Berlin,KRbGIÄnB,"{q, 0, w, N, M}",<NA>

time: 35.3 ms