# Strings 2

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

JupyterLab Tools Version 0.21
found local libs at C:\Users\me\Dropbox\31_Projekte\01_Python\libs
Start Time: 12:17:19

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 5.01 s

In [3]:
# create data to search in
size = 100000
a = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
b = pak.random_series( size, 'choice', choice=['YO','UFF', 'HI'],  p_dup=0.9)
c = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
df = pak.dataframe([a,b,c])

trenn = ''
df['no'] =  trenn + df.B + trenn + df.A + trenn + df.B + trenn + df.C + trenn + df.B
trenn = ' '
df['space'] =  trenn + df.B + trenn + df.A + trenn + df.B + trenn + df.C + trenn + df.B
trenn = ','
df['komma'] =  trenn + df.B + trenn + df.A + trenn + df.B + trenn + df.C + trenn + df.B
df = pak.drop_cols(df, list('ABC'))
df

,no,space,komma
0,HIceaegdgfefHIfcgfegcdcgHI,HI ceaegdgfef HI fcgfegcdcg HI,",HI,ceaegdgfef,HI,fcgfegcdcg,HI"
1,UFFcddbegaebbUFFeefgeadaabUFF,UFF cddbegaebb UFF eefgeadaab UFF,",UFF,cddbegaebb,UFF,eefgeadaab,UFF"
2,YOaabbgagfcfYOgggaecbcabYO,YO aabbgagfcf YO gggaecbcab YO,",YO,aabbgagfcf,YO,gggaecbcab,YO"
3,YObbcddcdfegYOdafeefbbdbYO,YO bbcddcdfeg YO dafeefbbdb YO,",YO,bbcddcdfeg,YO,dafeefbbdb,YO"
4,UFFeagbdgabfcUFFgcegaefdbfUFF,UFF eagbdgabfc UFF gcegaefdbf UFF,",UFF,eagbdgabfc,UFF,gcegaefdbf,UFF"
...,...,...,...
99995,YOebdfdagddcYOdeaaabgaacYO,YO ebdfdagddc YO deaaabgaac YO,",YO,ebdfdagddc,YO,deaaabgaac,YO"
99996,UFFdbgbecagbeUFFgaefcadgecUFF,UFF dbgbecagbe UFF gaefcadgec UFF,",UFF,dbgbecagbe,UFF,gaefcadgec,UFF"
99997,HIfacacbdebaHIbcegfecbbbHI,HI facacbdeba HI bcegfecbbb HI,",HI,facacbdeba,HI,bcegfecbbb,HI"
99998,HIcfcafdcdcaHIccegbcaggcHI,HI cfcafdcdca HI ccegbcaggc HI,",HI,cfcafdcdca,HI,ccegbcaggc,HI"
99999,YOcafgbfbegdYOfabaadbabaYO,YO cafgbfbegd YO fabaadbaba YO,",YO,cafgbfbegd,YO,fabaadbaba,YO"

time: 31.5 s

## remove_str

In [4]:
col = 'no'
df[col+'2'] = pak.remove_str(     df[col], ['YO','UFF', 'HI'])

time: 187 ms

## remove_words

In [8]:
col = 'no'
df[col+'2'] = pak.remove_words(     df[col], ['YO','UFF', 'HI'])
df[col+'3'] = pak.remove_str(       df[col], ['YO','UFF', 'HI'])
assert     pak.check_identical(df[col], df[col+'2'], verbose=True) # nicht entfernt!
assert not pak.check_identical(df[col], df[col+'3'], verbose=True) # sowieso entfernt 
spalten = [ col, col+'2', col+'3' ]
df[spalten].head()

,no,no2,no3
0,HIceaegdgfefHIfcgfegcdcgHI,HIceaegdgfefHIfcgfegcdcgHI,ceaegdgfeffcgfegcdcg
1,UFFcddbegaebbUFFeefgeadaabUFF,UFFcddbegaebbUFFeefgeadaabUFF,cddbegaebbeefgeadaab
2,YOaabbgagfcfYOgggaecbcabYO,YOaabbgagfcfYOgggaecbcabYO,aabbgagfcfgggaecbcab
3,YObbcddcdfegYOdafeefbbdbYO,YObbcddcdfegYOdafeefbbdbYO,bbcddcdfegdafeefbbdb
4,UFFeagbdgabfcUFFgcegaefdbfUFF,UFFeagbdgabfcUFFgcegaefdbfUFF,eagbdgabfcgcegaefdbf

time: 1.86 s

In [9]:
col = 'space'
df[col+'2'] = pak.remove_words(     df[col], ['YO','UFF', 'HI'])
df[col+'3'] = pak.remove_str(       df[col], ['YO','UFF', 'HI'])
assert not pak.check_identical(df[col], df[col+'2'], verbose=True) # hier entfernt!
assert not pak.check_identical(df[col], df[col+'3'], verbose=True) # sowieso entfernt 
spalten = [ col, col+'2', col+'3' ]
df[spalten].head()

,space,space2,space3
0,HI ceaegdgfef HI fcgfegcdcg HI,ceaegdgfef fcgfegcdcg,ceaegdgfef fcgfegcdcg
1,UFF cddbegaebb UFF eefgeadaab UFF,cddbegaebb eefgeadaab,cddbegaebb eefgeadaab
2,YO aabbgagfcf YO gggaecbcab YO,aabbgagfcf gggaecbcab,aabbgagfcf gggaecbcab
3,YO bbcddcdfeg YO dafeefbbdb YO,bbcddcdfeg dafeefbbdb,bbcddcdfeg dafeefbbdb
4,UFF eagbdgabfc UFF gcegaefdbf UFF,eagbdgabfc gcegaefdbf,eagbdgabfc gcegaefdbf

time: 2.62 s

In [10]:
col = 'komma'
df[col+'2'] = pak.remove_words(     df[col], ['YO','UFF', 'HI'])
df[col+'3'] = pak.remove_str(       df[col], ['YO','UFF', 'HI'])
assert not pak.check_identical(df[col], df[col+'2'], verbose=True) # hier entfernt!
assert not pak.check_identical(df[col], df[col+'3'], verbose=True) # sowieso entfernt 
spalten = [ col, col+'2', col+'3' ]
df[spalten].head()

,komma,komma2,komma3
0,",HI,ceaegdgfef,HI,fcgfegcdcg,HI",",,ceaegdgfef,,fcgfegcdcg,",",,ceaegdgfef,,fcgfegcdcg,"
1,",UFF,cddbegaebb,UFF,eefgeadaab,UFF",",,cddbegaebb,,eefgeadaab,",",,cddbegaebb,,eefgeadaab,"
2,",YO,aabbgagfcf,YO,gggaecbcab,YO",",,aabbgagfcf,,gggaecbcab,",",,aabbgagfcf,,gggaecbcab,"
3,",YO,bbcddcdfeg,YO,dafeefbbdb,YO",",,bbcddcdfeg,,dafeefbbdb,",",,bbcddcdfeg,,dafeefbbdb,"
4,",UFF,eagbdgabfc,UFF,gcegaefdbf,UFF",",,eagbdgabfc,,gcegaefdbf,",",,eagbdgabfc,,gcegaefdbf,"

time: 2.14 s

## replace_str

In [11]:
spalten = ['no']
df = df[spalten]

time: 2 ms

In [12]:
%%time
r = {'YO':'JI','UFF':'OLL', 'HI':'KO'}
df['replaced'] = pak.replace_str( df.no, r)

Wall time: 228 ms
time: 229 ms

In [13]:
mask = (df.no != df.replaced)
#pak.check_mask(df,mask)
df[mask].head()

                              no                       replaced
0     HIceaegdgfefHIfcgfegcdcgHI     KOceaegdgfefKOfcgfegcdcgKO
1  UFFcddbegaebbUFFeefgeadaabUFF  OLLcddbegaebbOLLeefgeadaabOLL
2     YOaabbgagfcfYOgggaecbcabYO     JIaabbgagfcfJIgggaecbcabJI
3     YObbcddcdfegYOdafeefbbdbYO     JIbbcddcdfegJIdafeefbbdbJI
4  UFFeagbdgabfcUFFgcegaefdbfUFF  OLLeagbdgabfcOLLgcegaefdbfOLL

time: 48 ms

In [14]:
mask = df.replaced.str.contains('YO')
pak.check_mask(df,mask,0)
#df[mask]

time: 62 ms