__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/24_Create_DataFrames_Easily.ipynb)__

# Create DataFrames Easily
* `dataframe`: Converts multidimensional objects into dataframes. Dictionaries and Tuples are interpreted column-wise, Lists and Counters by rows.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:43:52

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

## dataframe()

In [3]:
?pak.dataframe

Signature: pak.dataframe(inp, test=False, autotranspose=False, verbose=None)
Docstring:
Converts multidimensional objects into dataframes.
Dictionaries and Tuples are interpreted column-wise, Lists and Counters by rows.
(Exception: A list of Series is also interpreted column-wise, like a tuple of Series.)
* test:           Do additional test if the shape is ok
* autotranspose:  False => no autotranspose
                  n     => If the result is n times wider than long, it is transposed.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

### Rowwise

In [4]:
# 2 dimensions 
inp = [ list('Hallo'), 
        list('Welt!'), 
        list('Coole'),  
        list('Sache'),        
      ]
out = pak.dataframe(inp, test=True)
out

Input rtype=('list', 'list', 'str') shape=(4, 5)
rotated=False Output rtype=('DataFrame', 'Series') shape=(4, 5)

   A  B  C  D  E
0  H  a  l  l  o
1  W  e  l  t  !
2  C  o  o  l  e
3  S  a  c  h  e

In [5]:
# 2 dimensions
inp = [[1,2,3],[4,5,6], [7, 8, 9], [10, 11, 12]]
out = pak.dataframe(inp, test=True)
out

Input rtype=('list', 'list', 'int') shape=(4, 3)
rotated=False Output rtype=('DataFrame', 'Series') shape=(4, 3)

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [6]:
# 3 dimensions
inp = [
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
    [[0, 0, 0], [1, 1, 1], [2, 2, 2]],
]
out = pak.dataframe(inp, test=True)
out

Input rtype=('list', 'list', 'list', 'int') shape=(5, 3, 3)
rotated=False Output rtype=('DataFrame', 'Series') shape=(5, 3)

           A          B          C
0  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
1  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
2  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
3  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]
4  [0, 0, 0]  [1, 1, 1]  [2, 2, 2]

In [7]:
# 2 dimensions with empty lists
inp = [
    [[], [], []],
    [[], [], []],
    [[], [], []],
    [[], [], []],
    [[], [], []],
]
out = pak.dataframe(inp, test=True)
out

Input rtype=('list', 'list', 'list') shape=(5, 3)
rotated=False Output rtype=('DataFrame', 'Series') shape=(5, 3)

    A   B   C
0  []  []  []
1  []  []  []
2  []  []  []
3  []  []  []
4  []  []  []

### Columnwise

In [8]:
# Tuple contain columns
Number = [1,2,3,4,6]
L1     = ['a','v','vvvv','e','Q']
L2     = [100, 55, 315, 68, 23]
L3     = ['18%','105%','56%','12%','4%']
inp = (Number, L1, L2, L3)

df = pak.dataframe(inp, test=True)
df

Input rtype=('tuple', 'list', 'int') shape=(4, 5)
rotated=True Output rtype=('DataFrame', 'Series') shape=(5, 4)

   A     B    C     D
0  1     a  100   18%
1  2     v   55  105%
2  3  vvvv  315   56%
3  4     e   68   12%
4  6     Q   23    4%

In [9]:
# dict of lists
inp = {'AA': [1,1,1,1],
       'BB': [2,4,8,16],
       'CC': [3,6,9,12],
       'DD': [4,4,4,4],
       'EE': [5,10,15,20],                
               }
out = pak.dataframe(inp, test=True)
out

Input rtype=('dict', 'list', 'int') shape=(5, 4)
rotated=True Output rtype=('DataFrame', 'Series') shape=(4, 5)

   AA  BB  CC  DD  EE
0   1   2   3   4   5
1   1   4   6   4  10
2   1   8   9   4  15
3   1  16  12   4  20

In [10]:
# dict of tuples
inp = {'AA': (1,1,1,1   ),
       'BB': (2,4,8,16  ),
       'CC': (3,6,9,12  ),
       'DD': (4,4,4,4   ),
       'EE': (5,10,15,20),                
               }
out = pak.dataframe(inp, test=True)
out

Input rtype=('dict', 'tuple', 'int') shape=(5, 4)
rotated=True Output rtype=('DataFrame', 'Series') shape=(4, 5)

   AA  BB  CC  DD  EE
0   1   2   3   4   5
1   1   4   6   4  10
2   1   8   9   4  15
3   1  16  12   4  20

In [11]:
# list of dicts
inp = [ {'AA': 1, 'BB': 2,  'CC': 3, },
        {'AA': 1, 'BB': 4,  'CC': 9, },
        {'AA': 1, 'BB': 16, 'CC': 81, } ]    
out = pak.dataframe(inp, test=True)
out

Input rtype=('list', 'dict', 'int') shape=(3, 3)
rotated=False Output rtype=('DataFrame', 'Series') shape=(3, 3)

   AA  BB  CC
0   1   2   3
1   1   4   9
2   1  16  81

In [12]:
# dict of dicts
inp ={
 0: {'AA':  5, 'BB': 0, 'CC': 3, 'DD': 3},
 1: {'AA': 10, 'BB': 0, 'CC': 3, 'DD': 5},
 2: {'AA': 15, 'BB': 0, 'CC': 7, 'DD': 6}}
out = pak.dataframe(inp, test=True)
out

Input rtype=('dict', 'dict', 'int') shape=(3, 4)
rotated=True Output rtype=('DataFrame', 'Series') shape=(4, 3)

    0   1   2
AA  5  10  15
BB  0   0   0
CC  3   3   7
DD  3   5   6

In [13]:
# dict of mix
inp = { 'AA': np.array([-77] * 4, dtype='int32'),
        'BB': pd.Categorical(["test", "train", "test", "train"]),
        'CC': pd.Series(1, index=list(range(4)), dtype='float32'),
        'DD': 'foo', # test=False !!
      }
out = pak.dataframe(inp, test=False)
out

Input rtype=('dict', 'ndarray', 'int32') shape=(-77, -77)
rotated=True Output rtype=('DataFrame', 'Series') shape=(4, 4)

   AA     BB   CC   DD
0 -77   test  1.0  foo
1 -77  train  1.0  foo
2 -77   test  1.0  foo
3 -77  train  1.0  foo

In [14]:
# Linear Series
inp = {'AA': np.linspace(0, 10), 
       'BB': np.linspace(-10, 0) }
out = pak.dataframe(inp, test=True)
out.head(4)

Input rtype=('dict', 'ndarray', 'float64') shape=(2, 50)
rotated=True Output rtype=('DataFrame', 'Series') shape=(50, 2)

         AA         BB
0  0.000000 -10.000000
1  0.204082  -9.795918
2  0.408163  -9.591837
3  0.612245  -9.387755

### Columnwise: list or tuple of Series

In [15]:
?pak.random_series

Signature: pak.random_series(size, typ, **kwargs)
Docstring:
Returns a series of random data.
* size
* typ: 'int', 'float', 'string', 'name', 'choice', 'list', 'mix',
       'ascending', 'descending', 'perlin' or 'errorprone'. Or the first letter of this.
       'name' generates random first names, 'list' generates lists of random first names.
       'mix' generates mixed datatypes.
       'ascending', 'descending' and 'perlin' generates ordered random sequences.
       'errorprone' generates sequences of NaNs, 0, 1 with similar index. Useful for testing.

The other arguments are passed to the appropriate functions for the type of random data.
General arguments are:
* name
* p_nan: value 0..1 specifies  how many NaNs are interspersed
* p_dup: value 0..1 determines how many Dups are included.

There are extra parameters for some types of random data:
- int:    min, max: closed interval, min and max are both possible values in the generated data
- float:  decimals: how many decimal places
- string: len_min, len_max: controls the length of the generated character sequence
          mix: Explicit specification of the available character set. Overwrites p_dup.
               Example: mix='ABCabc'
- list:   len_min, len_max: controls the length of the generated lists.
- choice: choice: List or Series of elements to choose
- perlin: freq: List of up to frequencies, see random_perlin for more details
          op: 'add' or 'mult', how the frequencies are linked together
          sc: scaling, default is 'max_abs', this scales -1..1, see function scale

Examples:
=========
random_series( 10, 'int')
random_series( 10, 'string', len_min=1, len_max=2)
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/content.py
Type:      function

In [16]:
# Try
pak.random_series( 10, 'int')

0    435
1    971
2    985
3    245
4    906
5    696
6    952
7    625
8    494
9    442
Name: rnd_int, dtype: int64

In [17]:
# 
anz = 10
a = pak.random_series( anz, 'name',                                                             name='first_name' )
b = pak.random_series( anz, 'int',    min=20, max=30) + pak.random_series( anz, 'int', min=0, max=12) 
b.name = 'age'
c = pak.random_series( anz, 'choice', choice=['Bremen','Berlin'],      p_nan=0.3,   p_dup=0,    name='birtplace')
d = pak.random_series( anz, 'int',    min=10000, max=99999,            p_nan=0.02,  p_dup=0.3,  name='zip')
e = pak.random_series( anz, 'string', len_min=5, len_max=10,           p_nan=0,     p_dup=0,    name='secret')
f = pak.random_series( anz, 'string', len_min=0, len_max=5,            p_nan=0,     p_dup=0.2,  name='features').apply(set)    
g = pak.random_series( anz, 'choice', choice=['ABC','ABCC','','abc','cba','Ax','AAA','ACCB','bbab'],  name='history').apply(list)    
inp = [a,b,c,d,e,f,g]
pak.dataframe(inp)

Input rtype=('list', 'Series', 'str') shape=(-77, -77)
rotated=True Output rtype=('DataFrame', 'Series') shape=(10, 7)

  first_name  age birtplace    zip      secret         features       history
0        Tom   37    Berlin  10761  ru7TDVQMAÄ           {Q, u}     [A, A, A]
1      Erich   29    Bremen  46917       qwH5H              {i}     [c, b, a]
2    Torsten   26    Bremen  66722     wG5VLtj               {}  [b, b, a, b]
3      Tanja   32    Berlin  14182     eNa68äE  {p, s, j, w, g}  [A, B, C, C]
4      Lukas   33    Bremen  35851     HöOjiN4  {b, X, T, 5, j}     [a, b, c]
5   Benedikt   22    Berlin  14517   MHIükyKNl     {Y, j, m, q}  [A, C, C, B]
6    Stephan   24       NaN  33011     oLnvWdÖ  {c, D, W, s, L}            []
7       Phil   32    Berlin  33011      LFGBaA           {Y, J}        [A, x]
8       Sven   33    Bremen  14182     UzebyN5           {Y, J}     [A, B, C]
9       Hugo   37    Bremen  14517    jAypqgow  {p, s, j, w, g}     [A, B, C]

In [18]:
#inp = (a,b,c,d,e,f,g)
#pak.dataframe(inp)

### 0 and 1 dimensions

In [19]:
# 0 dimensions
a = pak.dataframe('jjj', test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe(None,  test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe([],    test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe([[1]], test=True) 
assert bpy.rtype(a) == ('DataFrame','Series', 'int64')

a = pak.dataframe( np.array([]), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe( pd.DataFrame(), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

a = pak.dataframe( pd.Series(dtype='float64'), test=True) 
assert bpy.rtype(a) == ('DataFrame',)

Input rtype=('str',) shape=()
rotated=False Output rtype=('DataFrame',) shape=()
Input rtype=('NoneType',) shape=()
rotated=False Output rtype=('DataFrame',) shape=()
Input rtype=('list',) shape=()
rotated=False Output rtype=('DataFrame',) shape=()
Input rtype=('list', 'list', 'int') shape=(1, 1)
rotated=False Output rtype=('DataFrame', 'Series', 'int64') shape=(1, 1)
Input rtype=('ndarray',) shape=()
rotated=False Output rtype=('DataFrame',) shape=()
Input rtype=('DataFrame',) shape=()
rotated=False Output rtype=('DataFrame',) shape=()

In [20]:
# 1 dimension: 1 row
inp = [ 'abcde', 'grfer', 'btjqw', 'bqwer' ]
out = pak.dataframe(inp, test=True) 
out

Input rtype=('list', 'str') shape=(4,)
rotated=False Output rtype=('DataFrame', 'Series') shape=(1, 4)

       A      B      C      D
0  abcde  grfer  btjqw  bqwer

In [21]:
# 1 dimension: 1 row
inp = ( 'abcde', 'grfer', 'btjqw', 'bqwer' )
out = pak.dataframe(inp, test=True) 
out

Input rtype=('tuple', 'str') shape=(4,)
rotated=True Output rtype=('DataFrame', 'Series') shape=(1, 4)

       A      B      C      D
0  abcde  grfer  btjqw  bqwer

In [22]:
# 1 dimension: 1 row
inp = {'AA': 1,
       'BB': 2,
       'CC': 3, }

out = pak.dataframe(inp, test=True)
out

Input rtype=('dict', 'int') shape=(3,)
rotated=True Output rtype=('DataFrame', 'Series') shape=(1, 3)

   AA  BB  CC
0   1   2   3

### autotranspose

In [23]:
# autotranspose=False: A long list becomes one broad row
inp = pd.Series(range(100))
out = pak.dataframe(inp, test=True)
out

     0
0    0
1    1
2    2
3    3
4    4
..  ..
95  95
96  96
97  97
98  98
99  99

[100 rows x 1 columns]

In [24]:
# autotranspose=2: If the result is 2 times wider than long, it is transposed.
inp = pd.Series(range(100))
out = pak.dataframe(inp, test=True, autotranspose=2)
out

     0
0    0
1    1
2    2
3    3
4    4
..  ..
95  95
96  96
97  97
98  98
99  99

[100 rows x 1 columns]

### Create DataFrame from Counter

In [25]:
from collections import Counter
glob_counter = Counter()
text = 'Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel? Gerade jetzt, wo er das Ding seines Lebens gedreht hatte und mit der Beute verschwinden wollte! Hatte einer seiner zahllosen Kollegen dieselbe Idee gehabt, ihn beobachtet und abgewartet, um ihn nun um die Früchte seiner Arbeit zu erleichtern?'
counts=Counter(text) # 
glob_counter.update(counts)   
glob_counter.most_common()

[('e', 71),
 (' ', 68),
 ('t', 32),
 ('n', 31),
 ('i', 25),
 ('r', 22),
 ('h', 19),
 ('s', 19),
 ('d', 17),
 ('a', 14),
 ('l', 13),
 ('u', 13),
 ('c', 10),
 ('b', 10),
 ('o', 8),
 ('m', 7),
 ('g', 7),
 ('w', 5),
 (',', 4),
 ('z', 4),
 ('G', 3),
 ('ü', 3),
 ('.', 2),
 ('D', 2),
 ('f', 2),
 ('H', 2),
 ('v', 2),
 ('?', 2),
 ('E', 1),
 ('ö', 1),
 ('S', 1),
 ('W', 1),
 ('p', 1),
 ('ä', 1),
 ('N', 1),
 ('j', 1),
 ('L', 1),
 ('B', 1),
 ('!', 1),
 ('K', 1),
 ('I', 1),
 ('F', 1),
 ('A', 1)]

In [26]:
pak.dataframe(glob_counter.most_common())

Input rtype=('list', 'tuple', 'str') shape=(43, 2)
rotated=False Output rtype=('DataFrame', 'Series') shape=(43, 2)

    A   B
0   e  71
1      68
2   t  32
3   n  31
4   i  25
5   r  22
6   h  19
7   s  19
8   d  17
9   a  14
10  l  13
11  u  13
12  c  10
13  b  10
14  o   8
15  m   7
16  g   7
17  w   5
18  ,   4
19  z   4
20  G   3
21  ü   3
22  .   2
23  D   2
24  f   2
25  H   2
26  v   2
27  ?   2
28  E   1
29  ö   1
30  S   1
31  W   1
32  p   1
33  ä   1
34  N   1
35  j   1
36  L   1
37  B   1
38  !   1
39  K   1
40  I   1
41  F   1
42  A   1