In [2]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 21:41:56

time: 476 ms

# Save and load data
* `dump_pickle`: Convenient function to save a DataFrame to a pickle file. Optional optimisation of datatypes. Verbose if wanted.
* `load_pickle`: Convenient function to load a DataFrame from pickle file. Optional optimisation of datatypes. Verbose if wanted.
* `dump_excel`: Writes a dataframe into an xlsx file for Excel or Calc.<br>
   The tabcol-feature groups by a specific column and creates a tab for every group.
* `load_excel`: Loads a dataframe from an xlsx file (Excel or Calc).<br>
   The tabcol-feature writes all tabs in a column of the result.

In [3]:
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 2.09 s

## bpyths dump_pickle() and load_pickle()

In [4]:
# Create test data
df0 = pak.people()
df0['age']        = df0['age'].astype('int64')
df0['first_name'] = df0['first_name'].astype('object')
#df0

time: 148 ms

In [5]:
# write test data to disk
bpy.dump_pickle(df0,'data/df0.pickle')

time: 114 ms

In [6]:
# load again
df1 = bpy.load_pickle('data/df0.pickle')

time: 115 ms

In [7]:
# compare: It's identical
pak.compare_dataframes(df0, df1)

             name dtype  nnan content  sort    eq
first_name   True  True  True    True  True  True
age          True  True  True    True  True  True
age_class    True  True  True    True  True  True
postal_code  True  True  True    True  True  True
birthplace   True  True  True    True  True  True
secret       True  True  True    True  True  True
features     True  True  True    True  True  True
history      True  True  True    True  True  True
(Total)      True  True  True    True  True  True

time: 135 ms

## pandasklars dump_pickle() and load_pickle()

In [8]:
?pak.load_pickle

time: 150 ms

Signature:
pak.load_pickle(
    filename,
    resetindex='AUTO',
    changedatatype=False,
    verbose=False,
)
Docstring:
Convenient function to load a DataFrame from pickle file.
Optional optimisation of datatypes. Verbose if wanted.
resetindex = True:    Force reset_index
resetindex = False:   No reset_index
resetindex = 'Auto':  (Standard) Automatic
changedatatype:       Should the datatypes get optimized?
verbose:              True if messages are wanted.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\analyse.py
Type:      function

In [9]:
# Create test data
df0 = pak.people()
df0['age']        = df0['age'].astype('int64')
df0['first_name'] = df0['first_name'].astype('object')
#df0

time: 146 ms

In [10]:
# write test data to disk
pak.dump_pickle(df0,'data/df0.pickle')

time: 123 ms

In [11]:
# load again
df1 = pak.load_pickle('data/df0.pickle')

time: 116 ms

In [12]:
# compare: It's identical
# but dtypes are different
pak.compare_dataframes(df0, df1)

             name  dtype  nnan content  sort    eq
first_name   True  False  True    True  True  True
age          True  False  True    True  True  True
age_class    True   True  True    True  True  True
postal_code  True   True  True    True  True  True
birthplace   True   True  True    True  True  True
secret       True   True  True    True  True  True
features     True   True  True    True  True  True
history      True   True  True    True  True  True
(Total)      True  False  True    True  True  True

time: 136 ms

## Excel

In [13]:
?pak.dump_excel

time: 117 ms

Signature:
pak.dump_excel(
    df,
    filename,
    filetype='xlsx',
    tabcol='',
    index=False,
    check=True,
)
Docstring:
Writes a dataframe into an xlsx file for Excel or Calc.
* tabcol:  Should the data get split into different Excel tabs using this column?
* check:   Should the file be read in again and the result checked for identity?
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\content.py
Type:      function

In [14]:
# Create test data
df0 = pak.people()
df0 = pak.drop_cols(df0, ['features','history'])
df0['birthplace']  = df0.birthplace.fillna('Wien')
df0['postal_code'] = df0.postal_code.fillna(0)
df0['age']         = df0['age'].astype('int64')
df0['static']     = 1
#df0

time: 151 ms

In [15]:
# write test data to disk
pak.dump_excel(df0,'data/df0')

time: 491 ms

In [16]:
# load again
df1 = pak.load_excel('data/df0')

time: 153 ms

In [17]:
# compare: It's identical
# but dtypes are different
pak.compare_dataframes(df0, df1)

             name  dtype  nnan content  sort    eq
first_name   True   True  True    True  True  True
age          True  False  True    True  True  True
age_class    True   True  True    True  True  True
postal_code  True   True  True    True  True  True
birthplace   True   True  True    True  True  True
secret       True   True  True    True  True  True
static       True  False  True    True  True  True
(Total)      True  False  True    True  True  True

time: 137 ms

In [18]:
assert pak.check_equal(df0,df1)

time: 136 ms

## Excel with tabcol

In [19]:
# write test data to disk
pak.dump_excel(df0,'data/df0', tabcol='birthplace')

time: 219 ms

In [20]:
# load again
df1 = pak.load_excel('data/df0',tabcol='birthplace')

time: 149 ms

In [21]:
# compare: It's identical
# but sort order is very different
# and index is lost
# and dtypes are different
pak.compare_dataframes(df0, df1, reset_index=True)

             name  dtype  nnan content   sort    eq
first_name   True   True  True    True   None  True
age          True  False  True    True   None  True
age_class    True   True  True    True   None  True
postal_code  True   True  True    True   None  True
secret       True   True  True    True   None  True
static       True  False  True    True   None  True
birthplace   True   True  True    True   None  True
(Total)      True  False  True    True  False  True

time: 140 ms

In [22]:
assert pak.check_equal(df0,df1, reset_index=True)

time: 141 ms