# Category

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox

time: 4.38 ms (started: 2022-02-14 08:16:03 +00:00)

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 779 ms (started: 2022-02-14 08:16:03 +00:00)

In [3]:
# Beispieldaten
anz = 10
i = pak.random_series( anz, 'i')
f = pak.random_series( anz, 'f')
s = pak.random_series( anz, 's')
n = pak.random_series( anz, 'n')
c = pak.random_series( anz, 'c')
df = pak.dataframe( (i, f, s, n, c) )
df = pak.change_datatype(df)
df

change_datatype
A                    --> pd.Int16
B                    --> np.float32
E                    --> pd.string
change_datatype vorher: 2.1 K nachher: 2.0 K

     A      B        C        D  E
0  273  0.568     sBäF      Tom  a
1  375  0.502    9B4tÜ  Gerhard  c
2   96  0.710  fNiNnWK   Dieter  b
3  883  0.778    ACUol    Ernst  d
4  587  0.521     ERQz     Jana  e
5  970  0.105  pHjdÖjI   Celina  d
6  459  0.983  eLtInyB      Ole  c
7   95  0.712   BEd8PV    Edith  b
8  467  0.285   GcbviC    Klaus  d
9  819  0.344  Ü0pkP2N   Lothar  d

time: 27.8 ms (started: 2022-02-14 08:16:04 +00:00)