In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 09:38:56

time: 1.64 s

# Cleanup Strings
* `remove_str`: Removes a list of unwanted substrings from a Series of strings.
* `remove_words`: Removes a list of unwanted words from a Series of strings.
* `replace_str`: Replaces substrings from a Series of strings according to a dict.

In [2]:
#import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak

time: 7.98 s

In [3]:
# create test data to search in
size = 100000
a = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
b = pak.random_series( size, 'choice', choice=['YO','UFF', 'HI'],        p_dup=0.9)
c = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
df_test = pak.dataframe([a,b,c])

trenn = ''
df_test['nosep'] =     trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ' '
df_test['space'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ','
df_test['comma'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
df_test = pak.drop_cols(df_test, list('ABC'))
df_test

,nosep,space,comma
0,YOefbbbabfffYOgfadbgcaccYO,YO efbbbabfff YO gfadbgcacc YO,",YO,efbbbabfff,YO,gfadbgcacc,YO"
1,UFFggaecgcgdfUFFdfcbacebacUFF,UFF ggaecgcgdf UFF dfcbacebac UFF,",UFF,ggaecgcgdf,UFF,dfcbacebac,UFF"
2,HIgdcgcfaefbHIebdfcdabfdHI,HI gdcgcfaefb HI ebdfcdabfd HI,",HI,gdcgcfaefb,HI,ebdfcdabfd,HI"
3,UFFabgcadgaefUFFcfdddfddgbUFF,UFF abgcadgaef UFF cfdddfddgb UFF,",UFF,abgcadgaef,UFF,cfdddfddgb,UFF"
4,UFFabdfcbfcgaUFFceeefdgedbUFF,UFF abdfcbfcga UFF ceeefdgedb UFF,",UFF,abdfcbfcga,UFF,ceeefdgedb,UFF"
...,...,...,...
99995,YOecbfecgfbcYOecdcdfgdecYO,YO ecbfecgfbc YO ecdcdfgdec YO,",YO,ecbfecgfbc,YO,ecdcdfgdec,YO"
99996,YOffbcdcaeffYObbeaebgffbYO,YO ffbcdcaeff YO bbeaebgffb YO,",YO,ffbcdcaeff,YO,bbeaebgffb,YO"
99997,YOfbagfecefdYOaeafcceaegYO,YO fbagfecefd YO aeafcceaeg YO,",YO,fbagfecefd,YO,aeafcceaeg,YO"
99998,HIgaebgadebfHIecagddaabcHI,HI gaebgadebf HI ecagddaabc HI,",HI,gaebgadebf,HI,ecagddaabc,HI"
99999,HIaggbbfaaggHIbfdbeaefdcHI,HI aggbbfaagg HI bfdbeaefdc HI,",HI,aggbbfaagg,HI,bfdbeaefdc,HI"

time: 23.6 s

## remove_str()

In [15]:
?pak.remove_str

time: 339 ms

Signature: pak.remove_str(series, remove_list, safemode=True)
Docstring:
Removes unwanted substrings from a Series of strings.
* remove_list: list of substrings to remove
* safemode:    Selects the algorithm.
               safemode=True:  Each substring is removed separately
               safemode=False: Works with one regular expression.
                               Special characters such as asterisks must be backslashed.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\string.py
Type:      function

In [5]:
# Test data
cols = ['nosep']
df = df_test[cols].copy()
df.head(3)

                           nosep
0     YOefbbbabfffYOgfadbgcaccYO
1  UFFggaecgcgdfUFFdfcbacebacUFF
2     HIgdcgcfaefbHIebdfcdabfdHI

time: 616 ms

In [6]:
# compare orig / after remove_str
for col in df.columns:
    df[col+'_remove_str'] = pak.remove_str( df[col], ['YO', 'UFF', 'HI'])
df

                               nosep      nosep_remove_str
0         YOefbbbabfffYOgfadbgcaccYO  efbbbabfffgfadbgcacc
1      UFFggaecgcgdfUFFdfcbacebacUFF  ggaecgcgdfdfcbacebac
2         HIgdcgcfaefbHIebdfcdabfdHI  gdcgcfaefbebdfcdabfd
3      UFFabgcadgaefUFFcfdddfddgbUFF  abgcadgaefcfdddfddgb
4      UFFabdfcbfcgaUFFceeefdgedbUFF  abdfcbfcgaceeefdgedb
...                              ...                   ...
99995     YOecbfecgfbcYOecdcdfgdecYO  ecbfecgfbcecdcdfgdec
99996     YOffbcdcaeffYObbeaebgffbYO  ffbcdcaeffbbeaebgffb
99997     YOfbagfecefdYOaeafcceaegYO  fbagfecefdaeafcceaeg
99998     HIgaebgadebfHIecagddaabcHI  gaebgadebfecagddaabc
99999     HIaggbbfaaggHIbfdbeaefdcHI  aggbbfaaggbfdbeaefdc

[100000 rows x 2 columns]

time: 562 ms

## remove_words()

In [16]:
?pak.remove_words

time: 340 ms

Signature: pak.remove_words(series, remove_list)
Docstring:
Removes a list of unwanted words from a Series of strings.
Works by regular expression, so special characters such as asterisks must be backslashed.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\string.py
Type:      function

In [8]:
# Test data
df = df_test.copy()
df.head(3)

,nosep,space,comma
0,YOefbbbabfffYOgfadbgcaccYO,YO efbbbabfff YO gfadbgcacc YO,",YO,efbbbabfff,YO,gfadbgcacc,YO"
1,UFFggaecgcgdfUFFdfcbacebacUFF,UFF ggaecgcgdf UFF dfcbacebac UFF,",UFF,ggaecgcgdf,UFF,dfcbacebac,UFF"
2,HIgdcgcfaefbHIebdfcdabfdHI,HI gdcgcfaefb HI ebdfcdabfd HI,",HI,gdcgcfaefb,HI,ebdfcdabfd,HI"

time: 382 ms

In [9]:
# compare orig / after remove_str / after remove_words
for col in df.columns:
    df[col+'_str'] =   pak.remove_str(   df[col], ['YO', 'UFF', 'HI'])
    df[col+'_words'] = pak.remove_words( df[col], ['YO', 'UFF', 'HI'])

pak.move_cols(df).head()

,comma,comma_str,comma_words,nosep,nosep_str,nosep_words,space,space_str,space_words
0,",YO,efbbbabfff,YO,gfadbgcacc,YO",",,efbbbabfff,,gfadbgcacc,",",,efbbbabfff,,gfadbgcacc,",YOefbbbabfffYOgfadbgcaccYO,efbbbabfffgfadbgcacc,YOefbbbabfffYOgfadbgcaccYO,YO efbbbabfff YO gfadbgcacc YO,efbbbabfff gfadbgcacc,efbbbabfff gfadbgcacc
1,",UFF,ggaecgcgdf,UFF,dfcbacebac,UFF",",,ggaecgcgdf,,dfcbacebac,",",,ggaecgcgdf,,dfcbacebac,",UFFggaecgcgdfUFFdfcbacebacUFF,ggaecgcgdfdfcbacebac,UFFggaecgcgdfUFFdfcbacebacUFF,UFF ggaecgcgdf UFF dfcbacebac UFF,ggaecgcgdf dfcbacebac,ggaecgcgdf dfcbacebac
2,",HI,gdcgcfaefb,HI,ebdfcdabfd,HI",",,gdcgcfaefb,,ebdfcdabfd,",",,gdcgcfaefb,,ebdfcdabfd,",HIgdcgcfaefbHIebdfcdabfdHI,gdcgcfaefbebdfcdabfd,HIgdcgcfaefbHIebdfcdabfdHI,HI gdcgcfaefb HI ebdfcdabfd HI,gdcgcfaefb ebdfcdabfd,gdcgcfaefb ebdfcdabfd
3,",UFF,abgcadgaef,UFF,cfdddfddgb,UFF",",,abgcadgaef,,cfdddfddgb,",",,abgcadgaef,,cfdddfddgb,",UFFabgcadgaefUFFcfdddfddgbUFF,abgcadgaefcfdddfddgb,UFFabgcadgaefUFFcfdddfddgbUFF,UFF abgcadgaef UFF cfdddfddgb UFF,abgcadgaef cfdddfddgb,abgcadgaef cfdddfddgb
4,",UFF,abdfcbfcga,UFF,ceeefdgedb,UFF",",,abdfcbfcga,,ceeefdgedb,",",,abdfcbfcga,,ceeefdgedb,",UFFabdfcbfcgaUFFceeefdgedbUFF,abdfcbfcgaceeefdgedb,UFFabdfcbfcgaUFFceeefdgedbUFF,UFF abdfcbfcga UFF ceeefdgedb UFF,abdfcbfcga ceeefdgedb,abdfcbfcga ceeefdgedb

time: 2.01 s

## replace_str()

In [10]:
?pak.replace_str

time: 382 ms

Signature: pak.replace_str(series, replace_dict)
Docstring:
Replaces characters and words from a series.
* replace_dict: Example {'President Trump':'Trump', 'HELLO':'Hello'}
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\string.py
Type:      function

In [11]:
# Test data
cols = ['nosep']
df = df_test[cols].copy()
df.head(3)

                           nosep
0     YOefbbbabfffYOgfadbgcaccYO
1  UFFggaecgcgdfUFFdfcbacebacUFF
2     HIgdcgcfaefbHIebdfcdabfdHI

time: 346 ms

In [12]:
%%time
# replace
r = {'YO':'JI','UFF':'OLL', 'HI':'KO'}
df['replaced'] = pak.replace_str( df.nosep, r)

CPU times: total: 141 ms
Wall time: 144 ms
time: 480 ms

In [13]:
# examine result
mask = (df.nosep != df.replaced)
#pak.check_mask(df,mask)
df[mask].head()

                           nosep                       replaced
0     YOefbbbabfffYOgfadbgcaccYO     JIefbbbabfffJIgfadbgcaccJI
1  UFFggaecgcgdfUFFdfcbacebacUFF  OLLggaecgcgdfOLLdfcbacebacOLL
2     HIgdcgcfaefbHIebdfcdabfdHI     KOgdcgcfaefbKOebdfcdabfdKO
3  UFFabgcadgaefUFFcfdddfddgbUFF  OLLabgcadgaefOLLcfdddfddgbOLL
4  UFFabdfcbfcgaUFFceeefdgedbUFF  OLLabdfcbfcgaOLLceeefdgedbOLL

time: 365 ms

In [14]:
# examine result
mask = df.replaced.str.contains('YO')
pak.check_mask(df,mask,0)
#df[mask]

time: 374 ms