__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/36_Cleanup_Strings.ipynb)__

# Cleanup Strings
* `remove_str`: Removes a list of unwanted substrings from a Series of strings.
* `remove_words`: Removes a list of unwanted words from a Series of strings.
* `replace_str`: Replaces substrings from a Series of strings according to a dict.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:45:56

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

In [3]:
# create test data to search in
size = 100000
a = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
b = pak.random_series( size, 'choice', choice=['YO','UFF', 'HI'],        p_dup=0.9)
c = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
df_test = pak.dataframe([a,b,c])

trenn = ''
df_test['nosep'] =     trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ' '
df_test['space'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ','
df_test['comma'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
df_test = pak.drop_cols(df_test, list('ABC'))
df_test

Input rtype=('list', 'Series', 'str') shape=(3, 100000)
rotated=True Output rtype=('DataFrame', 'Series') shape=(100000, 3)

,nosep,space,comma
0,HIadfcggedefHIgedccfbgdeHI,HI adfcggedef HI gedccfbgde HI,",HI,adfcggedef,HI,gedccfbgde,HI"
1,UFFafdcgaeafgUFFeaegagbdacUFF,UFF afdcgaeafg UFF eaegagbdac UFF,",UFF,afdcgaeafg,UFF,eaegagbdac,UFF"
2,YOeeceffcebbYOfbcgddcdgbYO,YO eeceffcebb YO fbcgddcdgb YO,",YO,eeceffcebb,YO,fbcgddcdgb,YO"
3,YOfegafgcadaYOfeabfbcffcYO,YO fegafgcada YO feabfbcffc YO,",YO,fegafgcada,YO,feabfbcffc,YO"
4,YOcbffbgcfdaYObceggeggdaYO,YO cbffbgcfda YO bceggeggda YO,",YO,cbffbgcfda,YO,bceggeggda,YO"
...,...,...,...
99995,UFFcagaaacbdgUFFbggbfdebdbUFF,UFF cagaaacbdg UFF bggbfdebdb UFF,",UFF,cagaaacbdg,UFF,bggbfdebdb,UFF"
99996,UFFffcafgagaeUFFagfaadcdecUFF,UFF ffcafgagae UFF agfaadcdec UFF,",UFF,ffcafgagae,UFF,agfaadcdec,UFF"
99997,YOecdcdddefgYOdafgcaebcaYO,YO ecdcdddefg YO dafgcaebca YO,",YO,ecdcdddefg,YO,dafgcaebca,YO"
99998,HIgcdcddgedaHIeccbggffbfHI,HI gcdcddgeda HI eccbggffbf HI,",HI,gcdcddgeda,HI,eccbggffbf,HI"
99999,HIbcebbddfbbHIgcfdddgcafHI,HI bcebbddfbb HI gcfdddgcaf HI,",HI,bcebbddfbb,HI,gcfdddgcaf,HI"

## remove_str()

In [4]:
?pak.remove_str

Signature: pak.remove_str(series, remove_list, safemode=True)
Docstring:
Removes a list of unwanted substrings from a Series of strings.
* remove_list: list of substrings to remove
* safemode:    Selects the algorithm.
               safemode=True:  Each substring is removed separately
               safemode=False: Works with one regular expression.
                               Special characters such as asterisks must be backslashed.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/string.py
Type:      function

In [5]:
# Test data
cols = ['nosep']
df = df_test[cols].copy()
df.head(3)

                           nosep
0     HIadfcggedefHIgedccfbgdeHI
1  UFFafdcgaeafgUFFeaegagbdacUFF
2     YOeeceffcebbYOfbcgddcdgbYO

In [6]:
# compare orig / after remove_str
for col in df.columns:
    df[col+'_remove_str'] = pak.remove_str( df[col], ['YO', 'UFF', 'HI'])
df

                               nosep      nosep_remove_str
0         HIadfcggedefHIgedccfbgdeHI  adfcggedefgedccfbgde
1      UFFafdcgaeafgUFFeaegagbdacUFF  afdcgaeafgeaegagbdac
2         YOeeceffcebbYOfbcgddcdgbYO  eeceffcebbfbcgddcdgb
3         YOfegafgcadaYOfeabfbcffcYO  fegafgcadafeabfbcffc
4         YOcbffbgcfdaYObceggeggdaYO  cbffbgcfdabceggeggda
...                              ...                   ...
99995  UFFcagaaacbdgUFFbggbfdebdbUFF  cagaaacbdgbggbfdebdb
99996  UFFffcafgagaeUFFagfaadcdecUFF  ffcafgagaeagfaadcdec
99997     YOecdcdddefgYOdafgcaebcaYO  ecdcdddefgdafgcaebca
99998     HIgcdcddgedaHIeccbggffbfHI  gcdcddgedaeccbggffbf
99999     HIbcebbddfbbHIgcfdddgcafHI  bcebbddfbbgcfdddgcaf

[100000 rows x 2 columns]

## remove_words()

In [7]:
?pak.remove_words

Signature: pak.remove_words(series, remove_list)
Docstring:
Removes a list of unwanted words from a Series of strings.
Works by regular expression, so special characters such as asterisks must be backslashed.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/string.py
Type:      function

In [8]:
# Test data
df = df_test.copy()
df.head(3)

,nosep,space,comma
0,HIadfcggedefHIgedccfbgdeHI,HI adfcggedef HI gedccfbgde HI,",HI,adfcggedef,HI,gedccfbgde,HI"
1,UFFafdcgaeafgUFFeaegagbdacUFF,UFF afdcgaeafg UFF eaegagbdac UFF,",UFF,afdcgaeafg,UFF,eaegagbdac,UFF"
2,YOeeceffcebbYOfbcgddcdgbYO,YO eeceffcebb YO fbcgddcdgb YO,",YO,eeceffcebb,YO,fbcgddcdgb,YO"

In [9]:
# compare orig / after remove_str / after remove_words
for col in df.columns:
    df[col+'_str'] =   pak.remove_str(   df[col], ['YO', 'UFF', 'HI'])
    df[col+'_words'] = pak.remove_words( df[col], ['YO', 'UFF', 'HI'])

pak.move_cols(df).head()

,comma,comma_str,comma_words,nosep,nosep_str,nosep_words,space,space_str,space_words
0,",HI,adfcggedef,HI,gedccfbgde,HI",",,adfcggedef,,gedccfbgde,",",,adfcggedef,,gedccfbgde,",HIadfcggedefHIgedccfbgdeHI,adfcggedefgedccfbgde,HIadfcggedefHIgedccfbgdeHI,HI adfcggedef HI gedccfbgde HI,adfcggedef gedccfbgde,adfcggedef gedccfbgde
1,",UFF,afdcgaeafg,UFF,eaegagbdac,UFF",",,afdcgaeafg,,eaegagbdac,",",,afdcgaeafg,,eaegagbdac,",UFFafdcgaeafgUFFeaegagbdacUFF,afdcgaeafgeaegagbdac,UFFafdcgaeafgUFFeaegagbdacUFF,UFF afdcgaeafg UFF eaegagbdac UFF,afdcgaeafg eaegagbdac,afdcgaeafg eaegagbdac
2,",YO,eeceffcebb,YO,fbcgddcdgb,YO",",,eeceffcebb,,fbcgddcdgb,",",,eeceffcebb,,fbcgddcdgb,",YOeeceffcebbYOfbcgddcdgbYO,eeceffcebbfbcgddcdgb,YOeeceffcebbYOfbcgddcdgbYO,YO eeceffcebb YO fbcgddcdgb YO,eeceffcebb fbcgddcdgb,eeceffcebb fbcgddcdgb
3,",YO,fegafgcada,YO,feabfbcffc,YO",",,fegafgcada,,feabfbcffc,",",,fegafgcada,,feabfbcffc,",YOfegafgcadaYOfeabfbcffcYO,fegafgcadafeabfbcffc,YOfegafgcadaYOfeabfbcffcYO,YO fegafgcada YO feabfbcffc YO,fegafgcada feabfbcffc,fegafgcada feabfbcffc
4,",YO,cbffbgcfda,YO,bceggeggda,YO",",,cbffbgcfda,,bceggeggda,",",,cbffbgcfda,,bceggeggda,",YOcbffbgcfdaYObceggeggdaYO,cbffbgcfdabceggeggda,YOcbffbgcfdaYObceggeggdaYO,YO cbffbgcfda YO bceggeggda YO,cbffbgcfda bceggeggda,cbffbgcfda bceggeggda

## replace_str()

In [10]:
?pak.replace_str

Signature: pak.replace_str(series, translationtable)
Docstring:
Replaces substrings from a Series of strings according to a translationtable.
* translationtable: Can be a dict, a list of tuples or a DataFrame with two columns.
  Example: {'President Trump':'Trump',   'HELLO':'Hello'}
  or      [('President Trump','Trump'), ('HELLO','Hello')]
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/string.py
Type:      function

In [11]:
df = pak.dataframe([ ('The sun is bright',1),
                     ('The night is dark', 2) ])
df

Input rtype=('list', 'tuple', 'str') shape=(2, 2)
rotated=False Output rtype=('DataFrame', 'Series') shape=(2, 2)

                   A  B
0  The sun is bright  1
1  The night is dark  2

In [12]:
translate = {'The':'THE', 'sun':'SUN', 'dark':'DARK'}
translate = [('The','THE'), ('sun','SUN'), ('dark','DARK')]
dict(translate )

{'The': 'THE', 'sun': 'SUN', 'dark': 'DARK'}

In [13]:
pak.replace_str( df.A, translate)

0    THE SUN is bright
1    THE night is DARK
Name: A, dtype: object

In [14]:
df['A'] = pak.replace_str( df.A, translate)
df

                   A  B
0  THE SUN is bright  1
1  THE night is DARK  2