__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/36_Cleanup_Strings.ipynb)__

# Cleanup Strings
* `remove_str`: Removes a list of unwanted substrings from a Series of strings.
* `remove_words`: Removes a list of unwanted words from a Series of strings.
* `replace_str`: Replaces substrings from a Series of strings according to a dict.
* `preprocess_str`: Multiple methods for simplification and cleaning

In [3]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 16:12:25

In [4]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

In [5]:
# create test data to search in
size = 100000
a = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
b = pak.random_series( size, 'choice', choice=['YO','UFF', 'HI'],        p_dup=0.9)
c = pak.random_series( size, 'string', len_min=10, len_max=10,           p_dup=0.9)
df_test = pak.dataframe([a,b,c])

trenn = ''
df_test['nosep'] =     trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ' '
df_test['space'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
trenn = ','
df_test['comma'] =  trenn + df_test.B + trenn + df_test.A + trenn + df_test.B + trenn + df_test.C + trenn + df_test.B
df_test = pak.drop_cols(df_test, list('ABC'))
df_test

Input rtype=('list', 'Series', 'str') shape=(3, 100000)
rotated=True Output rtype=('DataFrame', 'Series') shape=(100000, 3)

,nosep,space,comma
0,YOdbbafcefdfYOfaafgaababYO,YO dbbafcefdf YO faafgaabab YO,",YO,dbbafcefdf,YO,faafgaabab,YO"
1,UFFcgaffcfcaeUFFbfefbeecfaUFF,UFF cgaffcfcae UFF bfefbeecfa UFF,",UFF,cgaffcfcae,UFF,bfefbeecfa,UFF"
2,HIbggfdfdabgHIgbedagbbfcHI,HI bggfdfdabg HI gbedagbbfc HI,",HI,bggfdfdabg,HI,gbedagbbfc,HI"
3,UFFcgdfbdaecfUFFebbdfacaffUFF,UFF cgdfbdaecf UFF ebbdfacaff UFF,",UFF,cgdfbdaecf,UFF,ebbdfacaff,UFF"
4,HIcdcabcdaeeHIbacgbacgbcHI,HI cdcabcdaee HI bacgbacgbc HI,",HI,cdcabcdaee,HI,bacgbacgbc,HI"
...,...,...,...
99995,YOaaeccdbbadYOedfgfgccbdYO,YO aaeccdbbad YO edfgfgccbd YO,",YO,aaeccdbbad,YO,edfgfgccbd,YO"
99996,YOafddabddcgYObdebffddfcYO,YO afddabddcg YO bdebffddfc YO,",YO,afddabddcg,YO,bdebffddfc,YO"
99997,HIdgbfcgggccHIabbcfaaegcHI,HI dgbfcgggcc HI abbcfaaegc HI,",HI,dgbfcgggcc,HI,abbcfaaegc,HI"
99998,HIdgfcbfacffHIbeedccebbaHI,HI dgfcbfacff HI beedccebba HI,",HI,dgfcbfacff,HI,beedccebba,HI"
99999,YOdefadffabcYObebgafbdfcYO,YO defadffabc YO bebgafbdfc YO,",YO,defadffabc,YO,bebgafbdfc,YO"

In [6]:
blab.help(pak.remove_str)

<h2>remove_str<span style="font-size:small;">(series, remove_list, safemode=True)</span></h2>

Removes a list of unwanted substrings from a Series of strings.
* remove_list: list of substrings to remove
* safemode:    Selects the algorithm.
               safemode=True:  Each substring is removed separately
               safemode=False: Works with one regular expression.
                               Special characters such as asterisks must be backslashed.

In [7]:
# Test data
cols = ['nosep']
df = df_test[cols].copy()
df.head(3)

                           nosep
0     YOdbbafcefdfYOfaafgaababYO
1  UFFcgaffcfcaeUFFbfefbeecfaUFF
2     HIbggfdfdabgHIgbedagbbfcHI

In [8]:
# compare orig / after remove_str
for col in df.columns:
    df[col+'_remove_str'] = pak.remove_str( df[col], ['YO', 'UFF', 'HI'])
df

                               nosep      nosep_remove_str
0         YOdbbafcefdfYOfaafgaababYO  dbbafcefdffaafgaabab
1      UFFcgaffcfcaeUFFbfefbeecfaUFF  cgaffcfcaebfefbeecfa
2         HIbggfdfdabgHIgbedagbbfcHI  bggfdfdabggbedagbbfc
3      UFFcgdfbdaecfUFFebbdfacaffUFF  cgdfbdaecfebbdfacaff
4         HIcdcabcdaeeHIbacgbacgbcHI  cdcabcdaeebacgbacgbc
...                              ...                   ...
99995     YOaaeccdbbadYOedfgfgccbdYO  aaeccdbbadedfgfgccbd
99996     YOafddabddcgYObdebffddfcYO  afddabddcgbdebffddfc
99997     HIdgbfcgggccHIabbcfaaegcHI  dgbfcgggccabbcfaaegc
99998     HIdgfcbfacffHIbeedccebbaHI  dgfcbfacffbeedccebba
99999     YOdefadffabcYObebgafbdfcYO  defadffabcbebgafbdfc

[100000 rows x 2 columns]

In [17]:
blab.help(pak.remove_words)

<h2>remove_words<span style="font-size:small;">(series, remove_list)</span></h2>

Removes a list of unwanted words from a Series of strings.
Works by regular expression, so special characters such as asterisks must be backslashed.

In [10]:
# Test data
df = df_test.copy()
df.head(3)

,nosep,space,comma
0,YOdbbafcefdfYOfaafgaababYO,YO dbbafcefdf YO faafgaabab YO,",YO,dbbafcefdf,YO,faafgaabab,YO"
1,UFFcgaffcfcaeUFFbfefbeecfaUFF,UFF cgaffcfcae UFF bfefbeecfa UFF,",UFF,cgaffcfcae,UFF,bfefbeecfa,UFF"
2,HIbggfdfdabgHIgbedagbbfcHI,HI bggfdfdabg HI gbedagbbfc HI,",HI,bggfdfdabg,HI,gbedagbbfc,HI"

In [11]:
# compare orig / after remove_str / after remove_words
for col in df.columns:
    df[col+'_str'] =   pak.remove_str(   df[col], ['YO', 'UFF', 'HI'])
    df[col+'_words'] = pak.remove_words( df[col], ['YO', 'UFF', 'HI'])

pak.move_cols(df).head()

,comma,comma_str,comma_words,nosep,nosep_str,nosep_words,space,space_str,space_words
0,",YO,dbbafcefdf,YO,faafgaabab,YO",",,dbbafcefdf,,faafgaabab,",",,dbbafcefdf,,faafgaabab,",YOdbbafcefdfYOfaafgaababYO,dbbafcefdffaafgaabab,YOdbbafcefdfYOfaafgaababYO,YO dbbafcefdf YO faafgaabab YO,dbbafcefdf faafgaabab,dbbafcefdf faafgaabab
1,",UFF,cgaffcfcae,UFF,bfefbeecfa,UFF",",,cgaffcfcae,,bfefbeecfa,",",,cgaffcfcae,,bfefbeecfa,",UFFcgaffcfcaeUFFbfefbeecfaUFF,cgaffcfcaebfefbeecfa,UFFcgaffcfcaeUFFbfefbeecfaUFF,UFF cgaffcfcae UFF bfefbeecfa UFF,cgaffcfcae bfefbeecfa,cgaffcfcae bfefbeecfa
2,",HI,bggfdfdabg,HI,gbedagbbfc,HI",",,bggfdfdabg,,gbedagbbfc,",",,bggfdfdabg,,gbedagbbfc,",HIbggfdfdabgHIgbedagbbfcHI,bggfdfdabggbedagbbfc,HIbggfdfdabgHIgbedagbbfcHI,HI bggfdfdabg HI gbedagbbfc HI,bggfdfdabg gbedagbbfc,bggfdfdabg gbedagbbfc
3,",UFF,cgdfbdaecf,UFF,ebbdfacaff,UFF",",,cgdfbdaecf,,ebbdfacaff,",",,cgdfbdaecf,,ebbdfacaff,",UFFcgdfbdaecfUFFebbdfacaffUFF,cgdfbdaecfebbdfacaff,UFFcgdfbdaecfUFFebbdfacaffUFF,UFF cgdfbdaecf UFF ebbdfacaff UFF,cgdfbdaecf ebbdfacaff,cgdfbdaecf ebbdfacaff
4,",HI,cdcabcdaee,HI,bacgbacgbc,HI",",,cdcabcdaee,,bacgbacgbc,",",,cdcabcdaee,,bacgbacgbc,",HIcdcabcdaeeHIbacgbacgbcHI,cdcabcdaeebacgbacgbc,HIcdcabcdaeeHIbacgbacgbcHI,HI cdcabcdaee HI bacgbacgbc HI,cdcabcdaee bacgbacgbc,cdcabcdaee bacgbacgbc

In [18]:
blab.help(pak.replace_str)

<h2>replace_str<span style="font-size:small;">(series, translationtable)</span></h2>

Replaces substrings from a Series of strings according to a translationtable.
* translationtable: Can be a dict, a list of tuples or a DataFrame with two columns.
  Example: {'President Trump':'Trump',   'HELLO':'Hello'}
  or      [('President Trump','Trump'), ('HELLO','Hello')]

In [13]:
df = pak.dataframe([ ('The sun is bright',1),
                     ('The night is dark', 2) ])
df

Input rtype=('list', 'tuple', 'str') shape=(2, 2)
rotated=False Output rtype=('DataFrame', 'Series') shape=(2, 2)

                   A  B
0  The sun is bright  1
1  The night is dark  2

In [14]:
translate = {'The':'THE', 'sun':'SUN', 'dark':'DARK'}
translate = [('The','THE'), ('sun','SUN'), ('dark','DARK')]
dict(translate )

{'The': 'THE', 'sun': 'SUN', 'dark': 'DARK'}

In [15]:
pak.replace_str( df.A, translate)

0    THE SUN is bright
1    THE night is DARK
Name: A, dtype: object

In [16]:
df['A'] = pak.replace_str( df.A, translate)
df

                   A  B
0  THE SUN is bright  1
1  THE night is DARK  2

In [19]:
blab.help(pak.preprocess_str)

<h2>preprocess_str<span style="font-size:small;">(dirty, how='')</span></h2>

Simplification and cleaning
* dirty is Series or DataFrame. For a dataframe, all str columns are treated.
* how determines which purge steps are executed.
  - fillna is always executed anyway
  - strip
  - minus2space replaces hyphens with spaces
  - lower
  - filter_letters deletes everything that is not a letter or number or space
  - umlaut2single replaces umlauts with single letters
  - umlaut2double replaces umlauts with letter combinations
  - solowhite replaces multiple whitespaces with single space
  - but_anything takes the original if nothing else is left in the end
* for how there are also presets, these are signalled by an abbreviation

In [20]:
df = pd.DataFrame(pd.Series(['-','â‚¬','hÃ„LLo-weltÃŸ','Ã„llo welt?','(jo)','jo...jo','Halle /ÃŸaale', 'Hallo\welt']))
df.columns = ['A']

df['B'] = pak.preprocess_str(df.A, how='STD_0')
df['C'] = pak.preprocess_str(df.B, how='filter_letters umlaut2double esszett2ss')
df['D'] = pak.preprocess_str(df.B, how='filter_letters umlaut2single esszett2ss but_anything')

df

              A            B              C             D
0             -            -                            -
1             â‚¬            â‚¬                            â‚¬
2   hÃ„LLo-weltÃŸ  hÃ¤llo weltÃŸ  haello weltss  hallo weltss
3    Ã„llo welt?    Ã¤llo welt     aello welt     allo welt
4          (jo)           jo             jo            jo
5       jo...jo         jojo           jojo          jojo
6  Halle /ÃŸaale  halle ÃŸaale   halle ssaale  halle ssaale
7    Hallo\welt    hallowelt      hallowelt     hallowelt