__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/37_Slice_Strings_Variably.ipynb)__

# Slice Strings Variably
* `slice_string`: Slices a column of strings based on indexes in another columns.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:46:46

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
#pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

## slice_string()
* `slice_string`: Slices a column of strings based on indexes in another columns.

In [3]:
? pak.slice_string

Signature:  pak.slice_string(df, col_text, col_start, col_end, col_result)
Docstring:
Slices a column of strings based on indexes in another columns.
* col_text:   Name of the column containing the  text.
* col_start:  Name of the column containing the  start index OR the start index numeric.
* col_end:    Name of the column containing the  end index   OR the end index numeric.
* col_result: Name of the column to hold the result.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/string.py
Type:      function

In [4]:
# Create test data
anz = 100000
a = pak.random_series( anz, 'name',                                   p_nan=0,   p_dup=0, name='first_name')
b = pak.random_series( anz, 'int',    min=0,  max=2,                  p_nan=0,   p_dup=0, name='from')
c = pak.random_series( anz, 'int',    min=0,  max=5,                  p_nan=0,   p_dup=0, name='plus')
d = pak.random_series( anz, 'int',    min=-3, max=-1,                 p_nan=0,   p_dup=0, name='to2')
df = pak.dataframe( (a, b, c, d) )
df['to'] = df['from'] + df['plus']
mask = (df['to'] > df.first_name.str.len())   |   (df['to'] == 0)
df.loc[mask,'to'] = df[mask].to2
df = pak.drop_cols(df,['plus','to2'])
df

      first_name  from  to
0            Tom     0   3
1          Willy     1  -1
2           Anja     2  -3
3           Mika     2   2
4        Kirsten     1   3
...          ...   ...  ..
99995    Isabell     0  -2
99996    Andreas     2   4
99997   Elfriede     0   3
99998     Sandra     1   1
99999     Aileen     0   2

[100000 rows x 3 columns]

In [5]:
pak.slice_string(df, 'first_name', 'from', 'to', 'first_name_cut')

      first_name  from  to first_name_cut
0            Tom     0   3            Tom
1          Willy     1  -1            ill
2           Anja     2  -3
3           Mika     2   2
4        Kirsten     1   3             ir
...          ...   ...  ..            ...
99995    Isabell     0  -2          Isabe
99996    Andreas     2   4             dr
99997   Elfriede     0   3            Elf
99998     Sandra     1   1
99999     Aileen     0   2             Ai

[100000 rows x 4 columns]

In [6]:
pak.slice_string(df, 'first_name', 1, -1, 'first_name_cut')

      first_name  from  to first_name_cut
0            Tom     0   3              o
1          Willy     1  -1            ill
2           Anja     2  -3             nj
3           Mika     2   2             ik
4        Kirsten     1   3          irste
...          ...   ...  ..            ...
99995    Isabell     0  -2          sabel
99996    Andreas     2   4          ndrea
99997   Elfriede     0   3         lfried
99998     Sandra     1   1           andr
99999     Aileen     0   2           ilee

[100000 rows x 4 columns]