__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/39_Work_with_Lists.ipynb)__

# Work with Lists
* `find_in_list`: Searches a column with a list of strings. Returns a binary mask for the rows containing the searchstring in the list. 
* `apply_on_elements`: Applies a function to all elements of a Series of lists.
* `list_to_string`: Converts a Series of lists of strings into a Series of strings.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:57:13

time: 407 ms

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

time: 282 ms

In [3]:
# Create test data
anz = 1000
v = pak.random_series( anz, 'name',                  p_nan=0   )
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0   )
t = pak.random_series( anz, 'string',                p_nan=0.1 )
p = pak.random_series( anz, 'list',     len_max=5,   p_nan=0.1 )
q = pak.random_series( anz, 'list',     len_max=5              ).str.join(' ')
df = pak.dataframe( [w, t, p, q] )
df.columns = ['firstletter','string_or_nan','list_or_nan','wordlist']
df.head(4)

Input rtype=('list', 'Series', 'str') shape=(-77, -77)
rotated=True Output rtype=('DataFrame', 'Series') shape=(1000, 4)

,firstletter,string_or_nan,list_or_nan,wordlist
0,C,BxDaoM,"[Ayleen, Tanja, Norbert, Lennard, Anja, None]",Josephine Melanie Yasmin Helga Tom
1,A,Kr6N,"[Anna, Mark, Stephanie, Christoph, Tanja]",Gerhard Dennis Lieselotte Herbert Catharina
2,P,G2Z53,"[Walter, Anja]",Tom Fynn Joshua
3,N,üÄVf1c,"[Zoe, Christel]",Fritz Tanja Carina Herta Anja

time: 928 ms

In [4]:
#pak.analyse_cols(df)

time: 10.5 ms

## find_in_list()

In [5]:
?pak.find_in_list

time: 62.7 ms

Signature: pak.find_in_list(df, col_list_of_strings, searchstring)
Docstring:
Searches a column with a list of strings.
Returns a binary mask for the rows containing the searchstring in the list.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [6]:
# create mask for all rows in df 
# where column 'list_or_nan' contains 'Stephanie'
mask = pak.find_in_list( df, 'list_or_nan', 'Stephanie' )
df[mask]

,firstletter,string_or_nan,list_or_nan,wordlist
1,A,Kr6N,"[Anna, Mark, Stephanie, Christoph, Tanja]",Gerhard Dennis Lieselotte Herbert Catharina
75,A,<NA>,"[Svenja, Stephanie, Elke, Leoni]",Erwin Anja Bruno Emilie
231,B,763y,"[Lennard, Ruth, Tom, Tom, Stephanie, None]",Nico Tom Anja Meik
624,J,gQahlc,"[Erich, Anna, Karla, Stephanie]",Harald Konstantin Annette Brigitte Tom
732,K,ZqOeJD4,"[Simone, Alina, Marion, Stephanie, Tom]",Anna Ruth Tom
740,M,<NA>,"[Stella, Stephanie, Anja, Charlotte, Marina]",Jasmin Tina

time: 35.9 ms

## apply_on_elements()

In [7]:
?pak.apply_on_elements

time: 21.1 ms

Signature: pak.apply_on_elements(series, funktion)
Docstring:
Applies a function to all elements of a Series of lists.
Example:
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '')
Also works with sets.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [8]:
# run the example
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '') # x==x ensures not nan
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Marius,34,30,31055,<NA>,mouBue4i,"{s, g}","[A, x]","[A2, x2]"
1,Britta,40,40,62747,Berlin,Qhmi7Sqhn,"{q, z}","[b, b, a, b]","[b2, b2, a2, b2]"
2,Gerhard,26,20,30704,Bremen,Kai3uJhÖi,"{T, b, G, s, L}","[a, b, c]","[a2, b2, c2]"
3,Tanja,22,20,11133,Berlin,uV6güyx,{},"[A, C, C, B]","[A2, C2, C2, B2]"
4,Laura,33,30,38555,Bremen,GgzÄWö,"{h, w}","[c, b, a]","[c2, b2, a2]"
...,...,...,...,...,...,...,...,...,...
95,Leah,30,30,76033,<NA>,ow3VNOae,"{d, b, Q, S, X}","[A, C, C, B]","[A2, C2, C2, B2]"
96,Kurt,34,30,36528,Bremen,ZCbLaRuÄu,{u},"[a, b, c]","[a2, b2, c2]"
97,Nadine,30,30,89090,Berlin,JoG9Täo,"{U, X, K}","[A, C, C, B]","[A2, C2, C2, B2]"
98,Philipp,39,30,19868,Berlin,1snätQnö,"{0, A}","[b, b, a, b]","[b2, b2, a2, b2]"
99,Gerhard,30,30,80456,<NA>,FQVewqiTZ,"{3, a}","[A, B, C]","[A2, B2, C2]"

time: 126 ms

## list_to_string()

In [9]:
?pak.list_to_string

time: 24 ms

Signature: pak.list_to_string(series, sep=',')
Docstring:
Converts a Series of lists of strings into a Series of strings.
* sep: The separator, default is ','
Example:
df = pak.people()
df['history2'] = pak.list_to_string(df.history)
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [10]:
# run the example
df = pak.people()
df['history2'] = pak.list_to_string(df.history, sep='*')
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Herta,30,30,71626,Bremen,PGkltK,"{L, z, T, A}",[],
1,Ella,29,20,30681,Berlin,vIWeäjjyB,"{Y, J, T, A}","[A, C, C, B]",A*C*C*B
2,Josefine,32,30,45589,Bremen,90J7cyi,{},"[A, B, C]",A*B*C
3,Gerhard,40,40,13567,<NA>,drylj2oIl,"{j, w, W}","[c, b, a]",c*b*a
4,Carolin,38,30,66531,Berlin,m1E73,"{U, g, 3, w, H}","[b, b, a, b]",b*b*a*b
...,...,...,...,...,...,...,...,...,...
95,Joshua,30,30,13567,Bremen,doÜg2äu4,"{A, Q, K, s, c}","[A, B, C]",A*B*C
96,Mike,33,30,51027,Berlin,CgnwIm0,"{h, v, N}","[b, b, a, b]",b*b*a*b
97,Erwin,31,30,99042,Bremen,Bihtba,{u},"[A, B, C]",A*B*C
98,Simon,26,20,71356,Bremen,K0ÖeEue0G,"{L, z, T, A}","[b, b, a, b]",b*b*a*b
99,Katharina,30,30,89346,Berlin,7UÜ0ac,"{A, Q, K, s, c}","[A, x]",A*x

time: 215 ms

In [11]:
#pak.analyse_cols(df)

time: 14.6 ms