__[Open and try this file online (Colab)](https://colab.research.google.com/github/djekra/pandasklar/blob/master/jupyter/39_Work_with_Lists.ipynb)__

# Work with Lists
* `find_in_list`: Searches a column with a list of strings. Returns a binary mask for the rows containing the searchstring in the list. 
* `apply_on_elements`: Applies a function to all elements of a Series of lists.
* `list_to_string`: Converts a Series of lists of strings into a Series of strings.

In [1]:
# blab init
try:
    import blab
except ImportError as e:
    !pip install blab
    import blab    
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
environment['in_colab']     = False
environment['dropbox_path'] = /home/me/Data_Linux/Dropbox
environment['lib_path']     = /home/me/Data_Linux/Dropbox/31_Projekte/01_Python/libs
Start Time: 21:50:01

In [2]:
import pandas     as pd 
import bpyth      as bpy

# pandasklar
try:
    import pandasklar as pak 
except ImportError as e:
    !pip install pandasklar
    import pandasklar as pak   
    
# verbose
pak.Config.set('VERBOSE', True)

# copy_on_write
pd.set_option("mode.copy_on_write", True)

VERBOSE = True
--> setting verbose=True as default for all pandasklar functions

In [3]:
# Create test data
anz = 1000
v = pak.random_series( anz, 'name',                  p_nan=0   )
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0   )
t = pak.random_series( anz, 'string',                p_nan=0.1 )
p = pak.random_series( anz, 'list',     len_max=5,   p_nan=0.1 )
q = pak.random_series( anz, 'list',     len_max=5              ).str.join(' ')
df = pak.dataframe( [w, t, p, q] )
df.columns = ['firstletter','string_or_nan','list_or_nan','wordlist']
df.head(4)

Input rtype=('list', 'Series', 'str') shape=(-77, -77)
rotated=True Output rtype=('DataFrame', 'Series') shape=(1000, 4)

,firstletter,string_or_nan,list_or_nan,wordlist
0,H,FLqPwrF,"[Anja, Daniela, Tom]",Doris Isabel
1,R,ö1TäRy,"[Nathalie, Helga]",Anna Jacob Anja
2,N,sWJCHS,NaN,Heinz Hugo Tanja Elias Marion
3,A,YfüÖ,"[Melanie, Milena]",Malte Margarethe Merle Anja

In [4]:
#pak.analyse_cols(df)

## find_in_list()

In [5]:
?pak.find_in_list

Signature: pak.find_in_list(df, col_list_of_strings, searchstring)
Docstring:
Searches a column with a list of strings.
Returns a binary mask for the rows containing the searchstring in the list.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [6]:
# create mask for all rows in df 
# where column 'list_or_nan' contains 'Stephanie'
mask = pak.find_in_list( df, 'list_or_nan', 'Stephanie' )
df[mask]

,firstletter,string_or_nan,list_or_nan,wordlist
18,D,SAxfmg,"[Anna, Oskar, Lilli, Anna, Stephanie]",Hildegard Rita Tanja Ulrike
110,F,<NA>,"[Max, Tom, Else, Maria, Stephanie]",Marcus Siegfried
131,C,KG3pYR,"[Stephanie, Tanja, Manuel]",Swen Tom Helena Barbara Heike
225,A,jSe5,"[Jasmin, Stephanie]",Edith Margarete Andreas
254,S,EM7x1g,"[Nina, Stephanie, Silke]",Klara Josefine Dirk
567,T,Seue,"[Simon, Stephanie]",Tanja Markus
643,C,ytaecoH,"[Stephanie, Fritz, Catharina, Tom, Tanja]",Antonia Maik
791,R,cüuhCMB,"[Marko, Ina, Stephanie, Bastian]",Hugo Anja
842,A,cETofuq,"[Heike, Birgit, Stephanie, Rene, Alexandra]",Frieda Hugo Louis Tobias Stefan

## apply_on_elements()

In [7]:
?pak.apply_on_elements

Signature: pak.apply_on_elements(series, funktion)
Docstring:
Applies a function to all elements of a Series of lists.
Example:
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '')
Also works with sets.
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [8]:
# run the example
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '') # x==x ensures not nan
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Caroline,35,30,59146,Bremen,8fJfZaeqMi,"{d, s, o}","[A, A, A]","[A2, A2, A2]"
1,Inge,31,30,27835,Berlin,cfKeii,"{w, o, U}","[a, b, c]","[a2, b2, c2]"
2,Bettina,41,40,<NA>,Bremen,bM9v7IGHHe,"{k, Z, E, f, 2}",[],[]
3,Gerhard,32,30,68877,Bremen,ÜKGhaF8,"{m, Q, D, y}","[c, b, a]","[c2, b2, a2]"
4,Alfred,30,30,51112,Berlin,kiihm,"{W, I, F, T}","[A, C, C, B]","[A2, C2, C2, B2]"
...,...,...,...,...,...,...,...,...,...
95,Jutta,25,20,57998,Bremen,LrHpÜty,"{1, Y, F, w}","[A, x]","[A2, x2]"
96,Ben,37,30,58284,<NA>,sdKeWo,"{1, Y, F, w}","[A, C, C, B]","[A2, C2, C2, B2]"
97,Simone,35,30,72471,<NA>,vfx0Ö2w,"{2, X, z, j, l}",[],[]
98,Rene,27,20,61293,<NA>,ei9gx8,"{O, F, k, z}","[A, C, C, B]","[A2, C2, C2, B2]"
99,Tanja,31,30,79279,Bremen,4UUgCBuXÖ,{5},"[b, b, a, b]","[b2, b2, a2, b2]"

## list_to_string()

In [9]:
?pak.list_to_string

Signature: pak.list_to_string(series, sep=',')
Docstring:
Converts a Series of lists of strings into a Series of strings.
* sep: The separator, default is ','
Example:
df = pak.people()
df['history2'] = pak.list_to_string(df.history)
File:      ~/Data_Linux/Dropbox/31_Projekte/01_Python/git/pandasklar/src/pandasklar/pandas.py
Type:      function

In [10]:
# run the example
df = pak.people()
df['history2'] = pak.list_to_string(df.history, sep='*')
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Yasmin,25,20,64767,Bremen,Q9vn2Ftcj,"{o, v}","[b, b, a, b]",b*b*a*b
1,Elli,39,30,31484,Berlin,Äe2WqDIeGÖ,"{F, E, G, 3, 0}","[A, C, C, B]",A*C*C*B
2,Heiko,31,30,34544,Berlin,ÖaplM3,"{X, Y, k, H}",[],
3,Meike,32,30,54006,Bremen,DfIUmxNH2,"{F, f, r, j, x}","[A, A, A]",A*A*A
4,Karla,40,40,95524,Bremen,aO1VI,"{j, i}","[A, B, C, C]",A*B*C*C
...,...,...,...,...,...,...,...,...,...
95,Günther,36,30,53279,<NA>,qnÄMByCtw,"{q, U}","[A, x]",A*x
96,Bettina,28,20,79867,Berlin,nKFznzNÄHI,"{t, v}","[a, b, c]",a*b*c
97,Herta,26,20,96136,Bremen,AsoJFD,"{d, V, r}","[A, B, C, C]",A*B*C*C
98,Lucas,23,20,15554,Berlin,CraÄU,"{X, q, H}","[A, A, A]",A*A*A
99,Marianne,31,30,79711,<NA>,jykZpEKimD,"{F, E, G, 3, 0}","[A, x]",A*x

In [11]:
#pak.analyse_cols(df)