In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

blab init
blab found local libs at D:\Dropbox\31_Projekte\01_Python\libs
Start Time: 09:56:20

time: 1.08 s

# Work with Lists
* `find_in_list`: Searches a column with a list of strings. Returns a binary mask for the rows containing the searchstring in the list. 
* `apply_on_elements`: Applies a function to all elements of a Series of lists.
* `list_to_string`: Converts a Series of lists of strings into a Series of strings.

In [2]:
#import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 

grid = pak.grid

time: 5.14 s

In [3]:
# Create test data
anz = 1000
v = pak.random_series( anz, 'name',                  p_nan=0   )
w = v.str[:1]
s = pak.random_series( anz, 'string',                p_nan=0   )
t = pak.random_series( anz, 'string',                p_nan=0.1 )
p = pak.random_series( anz, 'list',     len_max=5,   p_nan=0.1 )
q = pak.random_series( anz, 'list',     len_max=5              ).str.join(' ')
df = pak.dataframe( [w, t, p, q] )
df.columns = ['firstletter','string_or_nan','list_or_nan','wordlist']
df.head(4)

,firstletter,string_or_nan,list_or_nan,wordlist
0,M,ZmNi,"[Thorsten, Christina, Barbara, Hanna, Gertrud]",Andrea Inge Yannick
1,B,öefK,"[Mohammed, Anja, Neele, Torsten, Hans]",Diana Karina Astrid
2,N,<NA>,"[Christian, Mohammed, Tom]",Ole Christian Miriam Tom Tanja
3,A,Üoüi,"[Melanie, Elly]",Beate Ingo Tom Mathias

time: 2.05 s

In [4]:
#pak.analyse_cols(df)

time: 621 ms

## find_in_list()

In [12]:
?pak.find_in_list

time: 379 ms

Signature: pak.find_in_list(df, col_list_of_strings, searchstring)
Docstring:
Searches a column with a list of strings.
Returns a binary mask for the rows containing the searchstring in the list.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [6]:
# create mask for all rows in df 
# where column 'list_or_nan' contains 'Stephanie'
mask = pak.find_in_list( df, 'list_or_nan', 'Stephanie' )
df[mask]

,firstletter,string_or_nan,list_or_nan,wordlist
125,J,<NA>,"[Chiara, Stephanie, Sven]",Larissa Anna Mathias
553,S,Oenu,"[Stephanie, Kim]",Nele Johannes
649,A,QuUQ1i,"[Anja, Tanja, Stephanie, Georg, Stephan]",Sophie Anja Anja Else Luis
864,M,JKCk,"[Stephanie, Eileen]",Tom Jutta Detlef Rudolph Ute

time: 354 ms

## apply_on_elements()

In [14]:
?pak.apply_on_elements

time: 358 ms

Signature: pak.apply_on_elements(series, funktion)
Docstring:
Applies a function to all elements of a Series of lists.
Example:
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '')
Also works with sets.
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [13]:
# run the example
df = pak.people()
df['history2'] = pak.apply_on_elements(df.history, lambda x: x+'2' if x==x else '') # x==x ensures not nan
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Theresa,28,20,47204,Berlin,rDozqR,"{Q, w, x}","[A, B, C]","[A2, B2, C2]"
1,Jacqueline,32,30,93857,Bremen,5Op9nRC,"{e, P, O, t, d}","[A, A, A]","[A2, A2, A2]"
2,Marco,33,30,17268,Berlin,2mWÜd5,"{1, 2}","[c, b, a]","[c2, b2, a2]"
3,Tanja,27,20,51489,Berlin,lqeÖuwkzQ,{x},"[A, B, C, C]","[A2, B2, C2, C2]"
4,Jule,40,40,54874,Bremen,rE2eHRKG,"{Q, v, i, B}",[],[]
...,...,...,...,...,...,...,...,...,...
95,Annica,30,30,19091,Bremen,vMZXüN,{H},[],[]
96,Ilse,35,30,20125,Bremen,BÖö5aIa,"{q, Y, E}","[A, C, C, B]","[A2, C2, C2, B2]"
97,Annica,31,30,<NA>,Berlin,KHIsW60b5x,"{1, 2}","[c, b, a]","[c2, b2, a2]"
98,Bianca,29,20,19091,<NA>,YipZF,"{Q, C}","[A, x]","[A2, x2]"
99,Maria,27,20,87865,<NA>,N0MCHVhuB1,"{w, x, X, B, s}","[A, A, A]","[A2, A2, A2]"

time: 452 ms

## list_to_string()

In [31]:
?pak.list_to_string

time: 347 ms

Signature: pak.list_to_string(series)
Docstring:
Converts a Series of lists of strings into a Series of strings.
If it contains lists, the elements are enumerated and separated by commas.
Example:
df = pak.people()
df['history2'] = pak.list_to_string(df.history)
File:      d:\dropbox\31_projekte\01_python\git\pandasklar\src\pandasklar\pandas.py
Type:      function

In [33]:
# run the example
df = pak.people()
df['history2'] = pak.list_to_string(df.history, sep='*')
df

,first_name,age,age_class,postal_code,birthplace,secret,features,history,history2
0,Helene,37,30,32991,<NA>,boSDVS,{G},"[A, x]",A*x
1,Adrian,22,20,12154,Berlin,uYZCY3t,"{L, p, u, d}","[A, C, C, B]",A*C*C*B
2,Nico,35,30,74407,Bremen,y9Di2t,"{v, 0, W}",[],
3,Angela,31,30,66487,Berlin,83N4H,{r},"[c, b, a]",c*b*a
4,Marcel,30,30,89029,Bremen,OfCfwSayO,"{z, 2, x, C}","[A, B, C]",A*B*C
...,...,...,...,...,...,...,...,...,...
95,Anna,35,30,19647,<NA>,ooÖEM1z1,"{g, e, P}","[c, b, a]",c*b*a
96,Luise,28,20,50887,Berlin,oeNZU2,"{1, p, e, l}","[A, B, C]",A*B*C
97,Lena,29,20,31955,Bremen,jöwODÖUe,"{S, T, Y, l}","[A, A, A]",A*A*A
98,Andrea,35,30,44308,Bremen,ajg3ZC,{n},"[a, b, c]",a*b*c
99,Stella,27,20,91704,Berlin,qT66tD,{G},"[b, b, a, b]",b*b*a*b

time: 429 ms

In [30]:
#pak.analyse_cols(df)

time: 409 ms