# Aggregation

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

JupyterLab Tools Version 0.21
found local libs at C:\Users\me\Dropbox\31_Projekte\01_Python\libs
Start Time: 21:07:25

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 

grid = pak.grid

import pickle
from collections import defaultdict

time: 7.86 s

## group_and_agg

In [3]:
?pak.group_and_agg

time: 93.8 ms

Signature:
pak.group_and_agg(
    df,
    col_origins,
    col_funcs=None,
    col_names=None,
    dropna=True,
    verbose=None,
)
Docstring:
Gruppiert und aggregiert.
* col_origins: Liste aller columns, die verarbeitet werden sollen
* col_funcs:   Liste aller Funktionen, die darauf angewendet werden sollen.
               Manchmal muss man Strings verwenden, manchmal Funktionsnamen.
               'group' oder '' = Gruppieren.
* col_names:   Liste neuer Namen für die Ergebnisspalten. Optional. Leerzeichen = Standardname wird übernommen.
* dropna:      Parameter für groupby
Beispiel:
group_and_agg(df,
              col_origins=['altersklasse','geburtsstadt', 'vorname',     'alter', 'alter', 'vorname'],
              col_funcs  =['group',       'group',        agg_strings,   'min',   'max',   'min'],
             )
File:      c:\users\me\dropbox\31_projekte\01_python\libs\pandasklar\pandas.py
Type:      function

In [4]:
data = []
data.append( ['A',  None,  1,      ] )
data.append( ['A',  'B',   None,   ] )
data.append( ['A',  'B',   np.NaN, ] )
data.append( [None, 'B',   9,      ] )
  
data.append( ['A',  'B',   2,      ] )
data.append( ['A',  'B',   8,      ] )

data.append( ['Q',  'B',   3,      ] )
data.append( ['A',  'Q',   7,      ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

8 Datensätze

time: 6.26 s

In [5]:
# Standard ist dropna=True: Die Maximalwerte 1 und 9 kommen nicht zum tragen

r = pak.group_and_agg(data, 
              [ 'A',     'B',     'C',   'C',   ],  # col_origins: Liste aller columns, die verarbeitet werden sollen
              [ 'group', 'group', 'min', 'max', ],  # col_funcs:   Liste aller Funktionen, die darauf angewendet werden sollen
             )

grid(r)

3 Datensätze

time: 4.2 s

In [6]:
df = pak.add_rows( None, [ 'A',     'B',     'C',    'C',     ])
df = pak.add_rows( df,   [ 'group', 'group', 'min',  'max',   ])
df = pak.add_rows( df,   [ 'A',     'B',     'Cmin', 'Cmax',  ])
df

       A      B     C     D
0      A      B     C     C
1  group  group   min   max
2      A      B  Cmin  Cmax

time: 191 ms

In [7]:
df.index = ['col_origins','col_funcs','col_names']
df

                 A      B     C     D
col_origins      A      B     C     C
col_funcs    group  group   min   max
col_names        A      B  Cmin  Cmax

time: 0 ns

In [8]:
# Bei dropna=False bekommt NaN eigene Gruppen

r = pak.group_and_agg(data, 
              [ 'A',     'B',     'C',    'C',     ],
              [ 'group', 'group', 'min',  'max',   ],
              [ 'A',     'B',     'Cmin', 'Cmax',  ],  # col_names:   Liste neuer Namen für die Ergebnisspalten           
              dropna=False
             )

grid(r)

5 Datensätze

time: 4.19 s

In [9]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 137 ms

## Aggregatfunktionen min, max, first, last
Liste von Aggregatfunktionen: https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [10]:
data = []
data.append( ['A',  'B',   None,   ] )
data.append( ['A',  'B',   np.NaN, ] )
  
data.append( ['A',  'B',   2,      ] )
data.append( ['A',  'B',   3,      ] )
data.append( ['A',  'Q',   8,      ] )
data.append( ['A',  'Q',   7,      ] )

data.append( ['Q',  'B',   3,      ] )
data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

7 Datensätze

time: 4.17 s

In [11]:
r = pak.group_and_agg(data, 
              [ 'A',     'B',     'C',   'C',   'C',     'C',   ], 
              [ 'group', 'group', 'min', 'max', 'first', 'last', ], 
             )

grid(r)

3 Datensätze

time: 4.24 s

In [12]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 167 ms

## Aggregatfunktionen count, size, unique

In [13]:
data = []
data.append( ['A',  'B',   None,   ] )
data.append( ['A',  'B',   np.NaN, ] )
  
data.append( ['A',  'B',   2,      ] )
data.append( ['A',  'B',   3,      ] )
data.append( ['A',  'Q',   8,      ] )
data.append( ['A',  'Q',   8,      ] )

data.append( ['Q',  'B',   3,      ] )
data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

7 Datensätze

time: 4.16 s

In [14]:
# count   zählt Werte,                  NaN wird nicht mitgezählt
# size    zählt Werte,                  NaN wird mitgezählt
# nunique zählt nur verschiedene Werte, NaN wird nicht mitgezählt

r = pak.group_and_agg(data, 
              [ 'A',     'B',     'C',     'C',    'C',       ], 
              [ 'group', 'group', 'count', 'size', 'nunique', ], 
             )

grid(r)

3 Datensätze

time: 4.2 s

In [15]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 134 ms

## Aggregatfunktionen mode, most_freq_elt, top_values

In [16]:
data = []
data.append( ['A',  None,   ] )
data.append( ['A',  None,   ] )
data.append( ['A',  np.NaN, ] )
  
data.append( ['A',  2,      ] )
data.append( ['A',  2,      ] )
data.append( ['A',  3,      ] )
data.append( ['A',  3,      ] )
data.append( ['A',  4,      ] )
data.append( ['A',  None,   ] )
data.append( ['B',  'p'     ] )
data.append( ['B',  'p',    ] )
data.append( ['B',  'z',    ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

12 Datensätze

time: 4.16 s

In [17]:
# most_freq_elt     liefert immer ein Skalar und niemals NaN
# mode              liefert nur ein Skalar, wenn das Ergebnis eindeutig ist. Auch hier kein NaN.
# top_values        liefert immer eine Liste der häufigsten Elemente, NaN wird wie ein ganz normales Element mitgezählt. 
#                   Es gibt top_values vorkonfiguriert für 3, 5, 10, 20, 100, 1000 Elemente. 
# top_values_count  liefert dazu passend eine Liste der Häufigkeiten. 

r = pak.group_and_agg(data, 
              [ 'A',     'B',                 'B',             'B',               'B',                   ], 
              [ 'group',  pak.most_freq_elt,  pd.Series.mode,  pak.top_values_10,  pak.top_values_count_10, ],   # mode muss besonders gebeten werden, bei uns zu sein
              [ 'A',     'B_mostfreq',        '',              'B_top',           'B_count',             ]
               #list('ABCDEF')
             )

grid(r)

2 Datensätze

time: 4.23 s

In [18]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 188 ms

## Aggregatfunktionen für Strings
* agg_words, agg_words_nodup, agg_strings_nospace

In [19]:
data = []
data.append( ['A',  None,   ] )
data.append( ['A',  None,   ] )
data.append( ['A',  np.NaN, ] )
  
data.append( ['A',  'Wer',    ] )
data.append( ['A',  'ist ist',    ] )
data.append( ['A',  'wer',    ] )
data.append( ['A',  'und',    ] )
data.append( ['A',  'wer',    ] )
data.append( ['A',  'ist ist ist',    ] )
data.append( ['A',  None,   ] )
data.append( ['A',  'was?',   ] )
data.append( ['B',  ''        ] )
data.append( ['B',  '   ',    ] )  # mehrere schmale Leerzeichen
data.append( ['B',  'zz',     ] )
data.append( ['B',  ' ',      ] )  # ein schmales Leerzeichen
data.append( ['B',  'zz',     ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

16 Datensätze

time: 4.17 s

In [20]:
# agg_words            : Sammelt alle Skalare wie Wörter in einem Satz zusammen. NaN wird ignoriert.
# agg_words_nodups     : Sammelt alle Skalare wie Signalwörter in einem Set zusammen: Keine Dups. Reihenfolge bleibt erhalten. NaN wird ignoriert.
# agg_strings_nospace  : Hängt einfach alles hintereinander. NaN wird ignoriert.

r = pak.group_and_agg(data, 
              [ 'A', 'B', 'B', 'B',], 
              [ 'group',  pak.agg_words, pak.agg_words_nodup, pak.agg_strings_nospace, ], 
              [ 'A', 'B1', 'B2', 'B3' ],                 

             ) 

grid(r)

2 Datensätze

time: 4.21 s

In [21]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 113 ms

## Aggregatfunktionen rund um Listen
* list, explode, sum

In [22]:
data = []
data.append( ['A',  None,   ] )
data.append( ['A',  None,   ] )
data.append( ['A',  np.NaN, ] )
  
data.append( ['A',  2,      ] )
data.append( ['A',  2,      ] )
data.append( ['A',  3,      ] )
data.append( ['A',  3,      ] )
data.append( ['A',  None,   ] )
data.append( ['A',  4,      ] )
data.append( ['B',  'p'     ] )
data.append( ['B',  'p',    ] )
data.append( ['B',  'z',    ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

12 Datensätze

time: 4.13 s

#### list fügt Skalare zu Listen zusammen

In [23]:
r = pak.group_and_agg(data, 
              [ 'A',     'B',     ], 
              [ 'group',  list,   ],  # das funktioniert übrigens genauso mit set
              [ 'A',     'B',     ],                   

             )

grid(r)

2 Datensätze

time: 4.32 s

#### explode macht aus Listen wieder Skalare

In [24]:
# rückgängig machen
r.explode('B')

   A     B
0  A  None
0  A  None
0  A   NaN
0  A     2
0  A     2
0  A     3
0  A     3
0  A  None
0  A     4
1  B     p
1  B     p
1  B     z

time: 16 ms

In [25]:
# identisch!
r = pak.reset_index(r.explode('B'))
assert pak.check_identical(data,r)

time: 500 ms

#### sum aggregiert Listen zu Sammellisten

In [26]:
data = []
data.append( ['A',  None,                  ] )
data.append( ['A',  [None,None]            ] )
data.append( ['A',  np.NaN,                ] )
  
data.append( ['A',  ['Wer', 'ist', 'wer']  ] )
data.append( ['A',  ['und', 'qq']          ] )
data.append( ['A',  ['wer', 'qq']          ] )
data.append( ['A',  ['ist', 'qq']          ] )
data.append( ['A',  [None,  'qq']          ] )
data.append( ['A',  ['was?','qq'],         ] )
data.append( ['B',  ['']                   ] )
data.append( ['B',  ['xx','yy'],           ] )  
data.append( ['B',  ['zz'],                ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

12 Datensätze

time: 4.15 s

In [27]:
r = pak.group_and_agg(data, 
              [ 'A',     'B',     ], 
              [ 'group',  sum,   ],  
              [ 'A',     'B',     ],                   

             )

grid(r)

2 Datensätze

time: 4.19 s

In [28]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 146 ms

## Aggregatfunktionen rund um dict und defaultdict
* explode_dict

#### explode_dict macht aus Dictionaries einzelne Skalare

In [29]:
?pak.explode_dict

time: 15.6 ms

Signature:
pak.explode_dict(
    df,
    colname,
    keyname='key',
    valuename='value',
    from_defaultdict=False,
)
Docstring:
Wie explode, aber für ein dict.
df:               Input-Dataframe
colname:          enthält dict to explode
keyname:          Name der neuen Spalte für die keys des dict
valuename:        Name der neuen Spalte für die values des dict
from_defaultdict: Soll ein zusätzliches explode ausgeführt werden?
                  Das kann bei defaultdicts sinnvoll sein. Andernfalls erhält man Listen.
File:      c:\users\me\dropbox\31_projekte\01_python\libs\pandasklar\pandas.py
Type:      function

In [30]:
data = []
data.append( ['A',  {'a':1},           ] )
data.append( ['A',  {'a':1},           ] )
data.append( ['A',  {'b':2, 'c':3 },   ] )
data.append( ['A',  {'a':4},           ] )
data.append( ['B',  {'bb':22},         ] )
#data.append( ['B',  {},                ] )

data = pak.dataframe(data)

# C ist eine Kopie von B, aber als defaultdict
data['C'] = data.B.copy() 
data = pak.cols_to_dict( data, col_dict='C', use_defaultdict=True)

pickled = pickle.dumps(data)
grid(data)

5 Datensätze

time: 4.18 s

In [31]:
# dict zu key-value-Paaren exploden
r = pak.explode_dict(data, 'B') #, keyname='key', valuename='value')
grid(r)

6 Datensätze

time: 4.16 s

#### implode_to_dict fügt Skalare zu Dictionaries zusammen

In [32]:
?pak.implode_to_dict

time: 11 ms

Signature:
pak.implode_to_dict(
    df,
    groupcols=None,
    keyname=None,
    valuename=None,
    resultname=None,
    use_defaultdict=False,
)
Docstring:
Macht aus zwei Spalten ein dict.
Umkehrung von explode_dict.
* groupcols        ist ein String oder eine Liste von Namen, nach denen gruppiert wird.
                   Das beeinflusst die Breite der Ergebnisse. None=keine Gruppierung.
* keyname          ist der Name der Spalte, die die Keys enthält
* valuename        ist der Name der Spalte, die die Values enthält
* resultname       legt fest, die die Ergebnisspalte heißen soll
* use_defaultdict  legt fest, ob das Ergebnis ein dict oder ein defaultdict ist. Default: False.
                   Bei use_defaultdict=True überschreiben mehrfach vorkommende Keys einander nicht,
                   die Values sind immer eine Liste.
File:      c:\users\me\dropbox\31_projekte\01_python\libs\pandasklar\pandas.py
Type:      function

In [33]:
# Vorarbeiten für das Rückgängigmachen:
# wir brauchen eine Key-Spalte und eine Value-Spalte
r = pak.change_datatype(r, verbose=False)
r.index = r.index.set_names(['i'])
r = r.reset_index()  
grid(r)

6 Datensätze

time: 4.17 s

In [34]:
df = pak.implode_to_dict( r, groupcols=['i','A'], keyname='key', valuename='value', resultname='B')
grid(df)

5 Datensätze

time: 4.24 s

In [35]:
# identisch!
df = pak.drop_cols(df,'i')
spalten = list('AB')
assert pak.check_identical(data[spalten],df)

time: 128 ms

In [36]:
grid(df)

5 Datensätze

time: 4.11 s

#### implode_to_dict

In [37]:
# Bei Mehrfachbelegung eines keys gewinnt die letzte Zuweisung
# daher: {'a':1} fehlt
df = pak.implode_to_dict( r, groupcols='A', keyname='key', valuename='value', resultname='B')
grid(df)

2 Datensätze

time: 4.24 s

#### implode_to_defaultdict

In [38]:
# Wir können aber auch defaultdicts erzeugen, dann geht nichts verloren 
dd1 = pak.implode_to_defaultdict( r, groupcols='A', keyname='key', valuename='value', resultname='B')
grid(dd1)

2 Datensätze

time: 4.21 s

In [39]:
# defaultdicts lassen sich ebenfalls exploden
# (from_defaultdict=False erzeugt Listen)
df = pak.explode_dict(dd1, 'B', from_defaultdict=True) 
grid(df)

5 Datensätze

time: 4.29 s

In [40]:
# Zurück in defaultdicts
dd2 = pak.implode_to_dict( df, groupcols='A', keyname='key', valuename='value', resultname='B', use_defaultdict=True)
grid(dd2)

2 Datensätze

time: 4.2 s

#### agg_dicts und agg_dicts_2dd und agg_defaultdicts

In [41]:
grid(data)

5 Datensätze

time: 4.21 s

In [42]:
r = pak.group_and_agg(data, 
              [ 'A',     'B',            'B',                 'C',                             ], 
              [ 'group',  pak.agg_dicts, pak.agg_dicts_2dd,   pak.agg_defaultdicts,            ],  
              [ 'A',     'B_dict',       'B_defaultdict',     'C_defaultdict',                 ],                   

             )

(r)

,A,B_dict,B_defaultdict,C_defaultdict
0,A,"{'a': 4, 'b': 2, 'c': 3}","{'a': [1, 4], 'b': [2], 'c': [3]}","{'a': [1, 4], 'b': [2], 'c': [3]}"
1,B,{'bb': 22},{'bb': [22]},{'bb': [22]}

time: 64 ms

In [43]:
# B und C sind gleich
mask = r.B_defaultdict != r.C_defaultdict
pak.check_mask(r,mask,0)

time: 8 ms

In [44]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 104 ms

#### cols_to_dict

In [45]:
data = []
data.append( [ {'x':1},          'wer', 111,  ] )
data.append( [ {'y':2, 'z':3 },  'ist', 222,  ] )
data.append( [ {'B':4},          'wer', 333,  ] )
data.append( [ None,             '!!!', 444,  ] )
data.append( [ {'x':1},           '',   None, ] )

data = pak.dataframe(data)
pickled = pickle.dumps(data)
grid(data)

5 Datensätze

time: 4.18 s

In [46]:
r = pak.cols_to_dict(data, col_dict='A', cols_add=['B','C'], )
grid(r)

5 Datensätze

time: 4.13 s

In [47]:
r = pak.cols_to_dict(data, col_dict='A', use_defaultdict=True)
grid(r)

5 Datensätze

time: 4.19 s

In [48]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 144 ms

In [49]:
grid(data)

5 Datensätze

time: 4.15 s

#### cols_to_defaultdict

In [50]:
data = []
data.append( [ {'x':1},          'wer', 111,  ] )
data.append( [ {'y':2, 'z':3 },  'ist', 222,  ] )
data.append( [ {'C':4},          'wer', 333,  ] )
data.append( [ {'B':4},          '!!!', 444,  ] )
data.append( [ {'x':1},           '',   None, ] )

data = pak.dataframe(data)
data = pak.cols_to_dict(data, col_dict='A', use_defaultdict=True) # dirty trick: dict in defaultdict wandeln

pickled = pickle.dumps(data)
grid(data)

5 Datensätze

time: 4.18 s

In [51]:
r = pak.cols_to_dict(data, col_dict='A', cols_add=['B','C'], use_defaultdict=True)
grid(r)

5 Datensätze

time: 4.17 s

In [52]:
r = pak.cols_to_dict(data, col_dict='Z', cols_add=['B','C'], use_defaultdict=True)
grid(r)

5 Datensätze

time: 4.13 s

In [53]:
# Ist data unangetastet geblieben?
assert pak.check_identical(data,pickle.loads(pickled))

time: 150 ms