# Dataframes bereinigen

In [1]:
# blab init
import blab
startup_notebook = blab.blab_startup()
%run $startup_notebook

dropbox_path = /Data/Dropbox

time: 4.44 ms (started: 2022-02-14 21:33:50 +00:00)

In [2]:
import numpy      as np
import pandas     as pd 
import bpyth      as bpy
import pandasklar as pak 

grid = pak.grid

time: 790 ms (started: 2022-02-14 21:33:50 +00:00)

## Merge / Korrespondierende Zeilen

In [3]:
from collections import Counter
text = 'Hallo dies ist ein Text. Hallo!'
glob_counter=Counter(text) # 
df = pd.DataFrame.from_dict(glob_counter, orient='index')     # umwandeln
df = df.reset_index()
df.columns = ['char','count']
df

   char  count
0     H      2
1     a      2
2     l      4
3     o      2
4            5
5     d      1
6     i      3
7     e      3
8     s      2
9     t      2
10    n      1
11    T      1
12    x      1
13    .      1
14    !      1

time: 7.49 ms (started: 2022-02-14 21:33:51 +00:00)

In [4]:
other = pd.DataFrame(list('aeiou'))
other.columns = ['char']
other

  char
0    a
1    e
2    i
3    o
4    u

time: 3.87 ms (started: 2022-02-14 21:33:51 +00:00)

In [5]:
result = pd.merge(df, other, on='char', how='inner', indicator=True)
result

  char  count _merge
0    a      2   both
1    o      2   both
2    i      3   both
3    e      3   both

time: 11.7 ms (started: 2022-02-14 21:33:51 +00:00)

In [6]:
result = pd.merge(df, other, on='char', how='right', indicator=True)
result

  char  count      _merge
0    a    2.0        both
1    e    3.0        both
2    i    3.0        both
3    o    2.0        both
4    u    NaN  right_only

time: 10.7 ms (started: 2022-02-14 21:33:51 +00:00)

In [7]:
result = pd.merge(df, other, on='char', how='left', indicator=True)
result

   char  count     _merge
0     H      2  left_only
1     a      2       both
2     l      4  left_only
3     o      2       both
4            5  left_only
5     d      1  left_only
6     i      3       both
7     e      3       both
8     s      2  left_only
9     t      2  left_only
10    n      1  left_only
11    T      1  left_only
12    x      1  left_only
13    .      1  left_only
14    !      1  left_only

time: 11.7 ms (started: 2022-02-14 21:33:51 +00:00)